/*
	Variable Grid System.
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/

	Licensed under GPL and MIT.
*/

	
	/* Messages */
       
.message {
       padding: 10px 15px 10px 40px;
       margin: 10px 10px 10px 0;
       font-weight: bold;
       font-size:13px;
       overflow: hidden;
       -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
       border-radius: 3px;
       }

.message p {
       padding: 0;
       width: 93%;
       float: left;
       }
       
.message.error {
       border: 1px solid #e9c59b;
       background: #ffecce url(images/error.gif) 12px 12px no-repeat;
       color: #e3302c;
       }
       
.message.success {
       border: 1px solid #FCC373;
       background: #FFE9C8 url(images/success.gif) 12px 12px no-repeat;
       color: #4d4d4d;
       }
               
.message.info {
       border: 1px solid #ccc;
       background: #f7f7f7 url(images/info.gif) 12px 12px no-repeat;
       color: #4d4d4d;
       }
       
.message.warning {
       border: 1px solid #e5e181;
       background: #fefde2 url(images/warning.gif) 12px 12px no-repeat;
       color: #666;
       }