span.ico {
	width:18px;
	height:18px;
	background-repeat:no-repeat;
	background-position:center center;
	display: inline-block;
	margin-bottom:-3px;
	margin-right:5px;
}
span span.ico {
	width:18px;
	height:18px;
	background-repeat:no-repeat;
	background-position:center center;
	display: inline-block;
	margin-top:-7px;
	margin-left:-7px;
	margin-right:0px;
	margin-bottom:0px
}
a span.ico {
	width:18px;
	height:18px;
	background-repeat:no-repeat;
	background-position:center center;
	display: inline-block;
	margin-bottom:-3px;
	margin-right:12px
}
/*  icon  gray 18*18  class by IMG name*/
.ico.gray.abacus{ background-image:url(../images/icon/gray_18/abacus.png); }
.ico.gray.access_point{ background-image:url(../images/icon/gray_18/access_point.png); }
.ico.gray.add{ background-image:url(../images/icon/gray_18/add.png); }
.ico.gray.administrator{ background-image:url(../images/icon/gray_18/administrator.png); }
.ico.gray.alarm{ background-image:url(../images/icon/gray_18/alarm.png); }
.ico.gray.arrow_bidirectional{ background-image:url(../images/icon/gray_18/arrow_bidirectional.png); }
.ico.gray.arrow_down2{ background-image:url(../images/icon/gray_18/arrow_down2.png); }
.ico.gray.arrow_left2{ background-image:url(../images/icon/gray_18/arrow_left2.png); }
.ico.gray.arrow_right2{ background-image:url(../images/icon/gray_18/arrow_right2.png); }
.ico.gray.arrow_up2{ background-image:url(../images/icon/gray_18/arrow_up2.png); }
.ico.gray.attachment{ background-image:url(../images/icon/gray_18/attachment.png); }
.ico.gray.audio_knob{ background-image:url(../images/icon/gray_18/audio_knob.png); }
.ico.gray.barcode{ background-image:url(../images/icon/gray_18/barcode.png); }
.ico.gray.battery_empty{ background-image:url(../images/icon/gray_18/battery_empty.png); }
.ico.gray.battery_full{ background-image:url(../images/icon/gray_18/battery_full.png); }
.ico.gray.battery_half{ background-image:url(../images/icon/gray_18/battery_half.png); }
.ico.gray.bell{ background-image:url(../images/icon/gray_18/bell.png); }
.ico.gray.bill{ background-image:url(../images/icon/gray_18/bill.png); }
.ico.gray.binoculars{ background-image:url(../images/icon/gray_18/binoculars.png); }
.ico.gray.bold{ background-image:url(../images/icon/gray_18/bold.png); }
.ico.gray.book{ background-image:url(../images/icon/gray_18/book.png); }
.ico.gray.bookmark{ background-image:url(../images/icon/gray_18/bookmark.png); }
.ico.gray.briefcase{ background-image:url(../images/icon/gray_18/briefcase.png); }
.ico.gray.brightness{ background-image:url(../images/icon/gray_18/brightness.png); }
.ico.gray.broken_link{ background-image:url(../images/icon/gray_18/broken_link.png); }
.ico.gray.brush{ background-image:url(../images/icon/gray_18/brush.png); }
.ico.gray.burn_blu-ray{ background-image:url(../images/icon/gray_18/burn_blu-ray.png); }
.ico.gray.burn_blu-ray2{ background-image:url(../images/icon/gray_18/burn_blu-ray2.png); }
.ico.gray.burn_dvd{ background-image:url(../images/icon/gray_18/burn_dvd.png); }
.ico.gray.burn_dvd2{ background-image:url(../images/icon/gray_18/burn_dvd2.png); }
.ico.gray.cabinet{ background-image:url(../images/icon/gray_18/cabinet.png); }
.ico.gray.calculator{ background-image:url(../images/icon/gray_18/calculator.png); }
.ico.gray.calendar{ background-image:url(../images/icon/gray_18/calendar.png); }
.ico.gray.camera{ background-image:url(../images/icon/gray_18/camera.png); }
.ico.gray.cancel{ background-image:url(../images/icon/gray_18/cancel.png); }
.ico.gray.card_clubs{ background-image:url(../images/icon/gray_18/card_clubs.png); }
.ico.gray.card_diamonds{ background-image:url(../images/icon/gray_18/card_diamonds.png); }
.ico.gray.card_hearts{ background-image:url(../images/icon/gray_18/card_hearts.png); }
.ico.gray.card_spades{ background-image:url(../images/icon/gray_18/card_spades.png); }
.ico.gray.certificate-(2){ background-image:url(../images/icon/gray_18/certificate-(2.html).png); }
.ico.gray.certificate{ background-image:url(../images/icon/gray_18/certificate.png); }
.ico.gray.chat-exclamation{ background-image:url(../images/icon/gray_18/chat-exclamation.png); }
.ico.gray.checkmark{ background-image:url(../images/icon/gray_18/checkmark.png); }
.ico.gray.checkmark2{ background-image:url(../images/icon/gray_18/checkmark2.png); }
.ico.gray.clip{ background-image:url(../images/icon/gray_18/clip.png); }
.ico.gray.clipboard{ background-image:url(../images/icon/gray_18/clipboard.png); }
.ico.gray.clock{ background-image:url(../images/icon/gray_18/clock.png); }
.ico.gray.close{ background-image:url(../images/icon/gray_18/close.png); }
.ico.gray.cloud{ background-image:url(../images/icon/gray_18/cloud.png); }
.ico.gray.cloud2{ background-image:url(../images/icon/gray_18/cloud2.png); }
.ico.gray.coin{ background-image:url(../images/icon/gray_18/coin.png); }
.ico.gray.compress{ background-image:url(../images/icon/gray_18/compress.png); }
.ico.gray.connect{ background-image:url(../images/icon/gray_18/connect.png); }
.ico.gray.contrast{ background-image:url(../images/icon/gray_18/contrast.png); }
.ico.gray.copy{ background-image:url(../images/icon/gray_18/copy.png); }
.ico.gray.cross{ background-image:url(../images/icon/gray_18/cross.png); }
.ico.gray.cutter{ background-image:url(../images/icon/gray_18/cutter.png); }
.ico.gray.delete{ background-image:url(../images/icon/gray_18/delete.png); }
.ico.gray.dial{ background-image:url(../images/icon/gray_18/dial.png); }
.ico.gray.diary{ background-image:url(../images/icon/gray_18/diary.png); }
.ico.gray.dimensions{ background-image:url(../images/icon/gray_18/dimensions.png); }
.ico.gray.directional_down{ background-image:url(../images/icon/gray_18/directional_down.png); }
.ico.gray.directional_left{ background-image:url(../images/icon/gray_18/directional_left.png); }
.ico.gray.directional_right{ background-image:url(../images/icon/gray_18/directional_right.png); }
.ico.gray.directional_up{ background-image:url(../images/icon/gray_18/directional_up.png); }
.ico.gray.disconnect{ background-image:url(../images/icon/gray_18/disconnect.png); }
.ico.gray.diskette{ background-image:url(../images/icon/gray_18/diskette.png); }
.ico.gray.document{ background-image:url(../images/icon/gray_18/document.png); }
.ico.gray.door{ background-image:url(../images/icon/gray_18/door.png); }
.ico.gray.download2{ background-image:url(../images/icon/gray_18/download2.png); }
.ico.gray.dropper{ background-image:url(../images/icon/gray_18/dropper.png); }
.ico.gray.earphones{ background-image:url(../images/icon/gray_18/earphones.png); }
.ico.gray.effects{ background-image:url(../images/icon/gray_18/effects.png); }
.ico.gray.eject{ background-image:url(../images/icon/gray_18/eject.png); }
.ico.gray.emoticon_angry{ background-image:url(../images/icon/gray_18/emoticon_angry.png); }
.ico.gray.emoticon_confused{ background-image:url(../images/icon/gray_18/emoticon_confused.png); }
.ico.gray.emoticon_grin{ background-image:url(../images/icon/gray_18/emoticon_grin.png); }
.ico.gray.emoticon_in_love{ background-image:url(../images/icon/gray_18/emoticon_in_love.png); }
.ico.gray.emoticon_sad{ background-image:url(../images/icon/gray_18/emoticon_sad.png); }
.ico.gray.emoticon_sleeping{ background-image:url(../images/icon/gray_18/emoticon_sleeping.png); }
.ico.gray.emoticon_smile{ background-image:url(../images/icon/gray_18/emoticon_smile.png); }
.ico.gray.encrypt{ background-image:url(../images/icon/gray_18/encrypt.png); }
.ico.gray.eraser{ background-image:url(../images/icon/gray_18/eraser.png); }
.ico.gray.eye{ background-image:url(../images/icon/gray_18/eye.png); }
.ico.gray.eye_closed{ background-image:url(../images/icon/gray_18/eye_closed.png); }
.ico.gray.fast_forward{ background-image:url(../images/icon/gray_18/fast_forward.png); }
.ico.gray.file{ background-image:url(../images/icon/gray_18/file.png); }
.ico.gray.fill{ background-image:url(../images/icon/gray_18/fill.png); }
.ico.gray.fingerprint{ background-image:url(../images/icon/gray_18/fingerprint.png); }
.ico.gray.firewall{ background-image:url(../images/icon/gray_18/firewall.png); }
.ico.gray.first{ background-image:url(../images/icon/gray_18/first.png); }
.ico.gray.folder{ background-image:url(../images/icon/gray_18/folder.png); }
.ico.gray.font{ background-image:url(../images/icon/gray_18/font.png); }
.ico.gray.font_size{ background-image:url(../images/icon/gray_18/font_size.png); }
.ico.gray.game_control{ background-image:url(../images/icon/gray_18/game_control.png); }
.ico.gray.gear{ background-image:url(../images/icon/gray_18/gear.png); }
.ico.gray.group{ background-image:url(../images/icon/gray_18/group.png); }
.ico.gray.hammer{ background-image:url(../images/icon/gray_18/hammer.png); }
.ico.gray.hand_point{ background-image:url(../images/icon/gray_18/hand_point.png); }
.ico.gray.hand_thumbsdown{ background-image:url(../images/icon/gray_18/hand_thumbsdown.png); }
.ico.gray.hand_thumbsup{ background-image:url(../images/icon/gray_18/hand_thumbsup.png); }
.ico.gray.hard_disk{ background-image:url(../images/icon/gray_18/hard_disk.png); }
.ico.gray.headset{ background-image:url(../images/icon/gray_18/headset.png); }
.ico.gray.heart{ background-image:url(../images/icon/gray_18/heart.png); }
.ico.gray.help{ background-image:url(../images/icon/gray_18/help.png); }
.ico.gray.help2{ background-image:url(../images/icon/gray_18/help2.png); }
.ico.gray.history{ background-image:url(../images/icon/gray_18/history.png); }
.ico.gray.home{ background-image:url(../images/icon/gray_18/home.png); }
.ico.gray.hourglass{ background-image:url(../images/icon/gray_18/hourglass.png); }
.ico.gray.hourglass2{ background-image:url(../images/icon/gray_18/hourglass2.png); }
.ico.gray.id{ background-image:url(../images/icon/gray_18/id.png); }
.ico.gray.info{ background-image:url(../images/icon/gray_18/info.png); }
.ico.gray.info2{ background-image:url(../images/icon/gray_18/info2.png); }
.ico.gray.italic{ background-image:url(../images/icon/gray_18/italic.png); }
.ico.gray.item{ background-image:url(../images/icon/gray_18/item.png); }
.ico.gray.key{ background-image:url(../images/icon/gray_18/key.png); }
.ico.gray.last{ background-image:url(../images/icon/gray_18/last.png); }
.ico.gray.lightbulb{ background-image:url(../images/icon/gray_18/lightbulb.png); }
.ico.gray.link{ background-image:url(../images/icon/gray_18/link.png); }
.ico.gray.list{ background-image:url(../images/icon/gray_18/list.png); }
.ico.gray.location{ background-image:url(../images/icon/gray_18/location.png); }
.ico.gray.lock{ background-image:url(../images/icon/gray_18/lock.png); }
.ico.gray.lock_open{ background-image:url(../images/icon/gray_18/lock_open.png); }
.ico.gray.login{ background-image:url(../images/icon/gray_18/login.png); }
.ico.gray.mail{ background-image:url(../images/icon/gray_18/mail.png); }
.ico.gray.mail_open{ background-image:url(../images/icon/gray_18/mail_open.png); }
.ico.gray.messenger{ background-image:url(../images/icon/gray_18/messenger.png); }
.ico.gray.microhpone{ background-image:url(../images/icon/gray_18/microhpone.png); }
.ico.gray.microphone{ background-image:url(../images/icon/gray_18/microphone.png); }
.ico.gray.money_bag{ background-image:url(../images/icon/gray_18/money_bag.png); }
.ico.gray.monitor{ background-image:url(../images/icon/gray_18/monitor.png); }
.ico.gray.moon{ background-image:url(../images/icon/gray_18/moon.png); }
.ico.gray.music{ background-image:url(../images/icon/gray_18/music.png); }
.ico.gray.music_folder{ background-image:url(../images/icon/gray_18/music_folder.png); }
.ico.gray.music_library{ background-image:url(../images/icon/gray_18/music_library.png); }
.ico.gray.next{ background-image:url(../images/icon/gray_18/next.png); }
.ico.gray.notepad{ background-image:url(../images/icon/gray_18/notepad.png); }
.ico.gray.paragraph_align_left{ background-image:url(../images/icon/gray_18/paragraph_align_left.png); }
.ico.gray.paragraph_align_right{ background-image:url(../images/icon/gray_18/paragraph_align_right.png); }
.ico.gray.paragraph_justify{ background-image:url(../images/icon/gray_18/paragraph_justify.png); }
.ico.gray.password{ background-image:url(../images/icon/gray_18/password.png); }
.ico.gray.paste{ background-image:url(../images/icon/gray_18/paste.png); }
.ico.gray.pause{ background-image:url(../images/icon/gray_18/pause.png); }
.ico.gray.pen{ background-image:url(../images/icon/gray_18/pen.png); }
.ico.gray.pencil{ background-image:url(../images/icon/gray_18/pencil.png); }
.ico.gray.phone{ background-image:url(../images/icon/gray_18/phone.png); }
.ico.gray.photo_album{ background-image:url(../images/icon/gray_18/photo_album.png); }
.ico.gray.pictures_folder{ background-image:url(../images/icon/gray_18/pictures_folder.png); }
.ico.gray.play{ background-image:url(../images/icon/gray_18/play.png); }
.ico.gray.point{ background-image:url(../images/icon/gray_18/point.png); }
.ico.gray.power{ background-image:url(../images/icon/gray_18/power.png); }
.ico.gray.previous{ background-image:url(../images/icon/gray_18/previous.png); }
.ico.gray.print{ background-image:url(../images/icon/gray_18/print.png); }
.ico.gray.pyramid{ background-image:url(../images/icon/gray_18/pyramid.png); }
.ico.gray.random{ background-image:url(../images/icon/gray_18/random.png); }
.ico.gray.record{ background-image:url(../images/icon/gray_18/record.png); }
.ico.gray.redo{ background-image:url(../images/icon/gray_18/redo.png); }
.ico.gray.reload{ background-image:url(../images/icon/gray_18/reload.png); }
.ico.gray.repeat{ background-image:url(../images/icon/gray_18/repeat.png); }
.ico.gray.resize2{ background-image:url(../images/icon/gray_18/resize2.png); }
.ico.gray.rewind{ background-image:url(../images/icon/gray_18/rewind.png); }
.ico.gray.rotate{ background-image:url(../images/icon/gray_18/rotate.png); }
.ico.gray.round{ background-image:url(../images/icon/gray_18/round.png); }
.ico.gray.ruler_square{ background-image:url(../images/icon/gray_18/ruler_square.png); }
.ico.gray.satellite{ background-image:url(../images/icon/gray_18/satellite.png); }
.ico.gray.scissors{ background-image:url(../images/icon/gray_18/scissors.png); }
.ico.gray.screwdriver{ background-image:url(../images/icon/gray_18/screwdriver.png); }
.ico.gray.security{ background-image:url(../images/icon/gray_18/security.png); }
.ico.gray.shopping_basket{ background-image:url(../images/icon/gray_18/shopping_basket.png); }
.ico.gray.software24{ background-image:url(../images/icon/gray_18/software24.png); }
.ico.gray.spam{ background-image:url(../images/icon/gray_18/spam.png); }
.ico.gray.speaker{ background-image:url(../images/icon/gray_18/speaker.png); }
.ico.gray.speaker2{ background-image:url(../images/icon/gray_18/speaker2.png); }
.ico.gray.sphere{ background-image:url(../images/icon/gray_18/sphere.png); }
.ico.gray.spreadsheet{ background-image:url(../images/icon/gray_18/spreadsheet.png); }
.ico.gray.square{ background-image:url(../images/icon/gray_18/square.png); }
.ico.gray.star{ background-image:url(../images/icon/gray_18/star.png); }
.ico.gray.stats_bars{ background-image:url(../images/icon/gray_18/stats_bars.png); }
.ico.gray.stats_lines{ background-image:url(../images/icon/gray_18/stats_lines.png); }
.ico.gray.stats_pie{ background-image:url(../images/icon/gray_18/stats_pie.png); }
.ico.gray.stop{ background-image:url(../images/icon/gray_18/stop.png); }
.ico.gray.strike_through{ background-image:url(../images/icon/gray_18/strike_through.png); }
.ico.gray.sun{ background-image:url(../images/icon/gray_18/sun.png); }
.ico.gray.target{ background-image:url(../images/icon/gray_18/target.png); }
.ico.gray.thunder{ background-image:url(../images/icon/gray_18/thunder.png); }
.ico.gray.trash_can{ background-image:url(../images/icon/gray_18/trash_can.png); }
.ico.gray.underlined{ background-image:url(../images/icon/gray_18/underlined.png); }
.ico.gray.undo{ background-image:url(../images/icon/gray_18/undo.png); }
.ico.gray.upload2{ background-image:url(../images/icon/gray_18/upload2.png); }
.ico.gray.usb{ background-image:url(../images/icon/gray_18/usb.png); }
.ico.gray.user{ background-image:url(../images/icon/gray_18/user.png); }
.ico.gray.user_woman{ background-image:url(../images/icon/gray_18/user_woman.png); }
.ico.gray.volume_control{ background-image:url(../images/icon/gray_18/volume_control.png); }
.ico.gray.webcam{ background-image:url(../images/icon/gray_18/webcam.png); }
.ico.gray.window{ background-image:url(../images/icon/gray_18/window.png); }
.ico.gray.wizard{ background-image:url(../images/icon/gray_18/wizard.png); }
.ico.gray.world{ background-image:url(../images/icon/gray_18/world.png); }
.ico.gray.zoom{ background-image:url(../images/icon/gray_18/zoom.png); }
.ico.gray.zoom_in{ background-image:url(../images/icon/gray_18/zoom_in.png); }
.ico.gray.zoom_out{ background-image:url(../images/icon/gray_18/zoom_out.png); }
.ico.gray.inicio{ background-image:url(../images/icon/gray_18/iconos/inicio.png); }
.ico.gray.galeria{ background-image:url(../images/icon/gray_18/iconos/galeria.png); }
.ico.gray.cupones{ background-image:url(../images/icon/gray_18/iconos/cupones.png); }
.ico.gray.afiliado{ background-image:url(../images/icon/gray_18/iconos/afiliado.png); }
.ico.gray.noticias{ background-image:url(../images/icon/gray_18/iconos/noticias.png); }
.ico.gray.ofertas{ background-image:url(../images/icon/gray_18/iconos/ofertas.png); }
.ico.gray.servicio{ background-image:url(../images/icon/gray_18/iconos/servicio.png); }
.ico.gray.usuario{ background-image:url(../images/icon/gray_18/iconos/usuario.png); }
.ico.gray.eventos{ background-image:url(../images/icon/gray_18/iconos/eventos.png); }
.ico.gray.games{ background-image:url(../images/icon/gray_18/iconos/games.png); }

/*  icon  color 18*18  class by IMG name*/
.ico.color.abacus{ background-image:url(../images/icon/color_18/abacus.png); }
.ico.color.access_point{ background-image:url(../images/icon/color_18/access_point.png); }
.ico.color.add{ background-image:url(../images/icon/color_18/add.png); }
.ico.color.administrator{ background-image:url(../images/icon/color_18/administrator.png); }
.ico.color.alarm{ background-image:url(../images/icon/color_18/alarm.png); }
.ico.color.arrow_bidirectional{ background-image:url(../images/icon/color_18/arrow_bidirectional.png); }
.ico.color.arrow_down2{ background-image:url(../images/icon/color_18/arrow_down2.png); }
.ico.color.arrow_left2{ background-image:url(../images/icon/color_18/arrow_left2.png); }
.ico.color.arrow_right2{ background-image:url(../images/icon/color_18/arrow_right2.png); }
.ico.color.arrow_up2{ background-image:url(../images/icon/color_18/arrow_up2.png); }
.ico.color.attachment{ background-image:url(../images/icon/color_18/attachment.png); }
.ico.color.audio_knob{ background-image:url(../images/icon/color_18/audio_knob.png); }
.ico.color.barcode{ background-image:url(../images/icon/color_18/barcode.png); }
.ico.color.battery_empty{ background-image:url(../images/icon/color_18/battery_empty.png); }
.ico.color.battery_full{ background-image:url(../images/icon/color_18/battery_full.png); }
.ico.color.battery_half{ background-image:url(../images/icon/color_18/battery_half.png); }
.ico.color.bell{ background-image:url(../images/icon/color_18/bell.png); }
.ico.color.bill{ background-image:url(../images/icon/color_18/bill.png); }
.ico.color.binoculars{ background-image:url(../images/icon/color_18/binoculars.png); }
.ico.color.bold{ background-image:url(../images/icon/color_18/bold.png); }
.ico.color.book{ background-image:url(../images/icon/color_18/book.png); }
.ico.color.bookmark{ background-image:url(../images/icon/color_18/bookmark.png); }
.ico.color.briefcase{ background-image:url(../images/icon/color_18/briefcase.png); }
.ico.color.brightness{ background-image:url(../images/icon/color_18/brightness.png); }
.ico.color.broken_link{ background-image:url(../images/icon/color_18/broken_link.png); }
.ico.color.brush{ background-image:url(../images/icon/color_18/brush.png); }
.ico.color.burn_blu-ray{ background-image:url(../images/icon/color_18/burn_blu-ray.png); }
.ico.color.burn_blu-ray2{ background-image:url(../images/icon/color_18/burn_blu-ray2.png); }
.ico.color.burn_dvd{ background-image:url(../images/icon/color_18/burn_dvd.png); }
.ico.color.burn_dvd2{ background-image:url(../images/icon/color_18/burn_dvd2.png); }
.ico.color.cabinet{ background-image:url(../images/icon/color_18/cabinet.png); }
.ico.color.calculator{ background-image:url(../images/icon/color_18/calculator.png); }
.ico.color.calendar{ background-image:url(../images/icon/color_18/calendar.png); }
.ico.color.camera{ background-image:url(../images/icon/color_18/camera.png); }
.ico.color.cancel{ background-image:url(../images/icon/color_18/cancel.png); }
.ico.color.card_clubs{ background-image:url(../images/icon/color_18/card_clubs.png); }
.ico.color.card_diamonds{ background-image:url(../images/icon/color_18/card_diamonds.png); }
.ico.color.card_hearts{ background-image:url(../images/icon/color_18/card_hearts.png); }
.ico.color.card_spades{ background-image:url(../images/icon/color_18/card_spades.png); }
.ico.color.certificate-(2){ background-image:url(../images/icon/color_18/certificate-(2.html).png); }
.ico.color.certificate{ background-image:url(../images/icon/color_18/certificate.png); }
.ico.color.chat-exclamation{ background-image:url(../images/icon/color_18/chat-exclamation.png); }
.ico.color.checkmark{ background-image:url(../images/icon/color_18/checkmark.png); }
.ico.color.checkmark2{ background-image:url(../images/icon/color_18/checkmark2.png); }
.ico.color.clip{ background-image:url(../images/icon/color_18/clip.png); }
.ico.color.clipboard{ background-image:url(../images/icon/color_18/clipboard.png); }
.ico.color.clock{ background-image:url(../images/icon/color_18/clock.png); }
.ico.color.close{ background-image:url(../images/icon/color_18/close.png); }
.ico.color.cloud{ background-image:url(../images/icon/color_18/cloud.png); }
.ico.color.cloud2{ background-image:url(../images/icon/color_18/cloud2.png); }
.ico.color.coin{ background-image:url(../images/icon/color_18/coin.png); }
.ico.color.compress{ background-image:url(../images/icon/color_18/compress.png); }
.ico.color.connect{ background-image:url(../images/icon/color_18/connect.png); }
.ico.color.contrast{ background-image:url(../images/icon/color_18/contrast.png); }
.ico.color.copy{ background-image:url(../images/icon/color_18/copy.png); }
.ico.color.cross{ background-image:url(../images/icon/color_18/cross.png); }
.ico.color.cutter{ background-image:url(../images/icon/color_18/cutter.png); }
.ico.color.delete{ background-image:url(../images/icon/color_18/delete.png); }
.ico.color.dial{ background-image:url(../images/icon/color_18/dial.png); }
.ico.color.diary{ background-image:url(../images/icon/color_18/diary.png); }
.ico.color.dimensions{ background-image:url(../images/icon/color_18/dimensions.png); }
.ico.color.directional_down{ background-image:url(../images/icon/color_18/directional_down.png); }
.ico.color.directional_left{ background-image:url(../images/icon/color_18/directional_left.png); }
.ico.color.directional_right{ background-image:url(../images/icon/color_18/directional_right.png); }
.ico.color.directional_up{ background-image:url(../images/icon/color_18/directional_up.png); }
.ico.color.disconnect{ background-image:url(../images/icon/color_18/disconnect.png); }
.ico.color.diskette{ background-image:url(../images/icon/color_18/diskette.png); }
.ico.color.document{ background-image:url(../images/icon/color_18/document.png); }
.ico.color.door{ background-image:url(../images/icon/color_18/door.png); }
.ico.color.download2{ background-image:url(../images/icon/color_18/download2.png); }
.ico.color.dropper{ background-image:url(../images/icon/color_18/dropper.png); }
.ico.color.earphones{ background-image:url(../images/icon/color_18/earphones.png); }
.ico.color.effects{ background-image:url(../images/icon/color_18/effects.png); }
.ico.color.eject{ background-image:url(../images/icon/color_18/eject.png); }
.ico.color.emoticon_angry{ background-image:url(../images/icon/color_18/emoticon_angry.png); }
.ico.color.emoticon_confused{ background-image:url(../images/icon/color_18/emoticon_confused.png); }
.ico.color.emoticon_grin{ background-image:url(../images/icon/color_18/emoticon_grin.png); }
.ico.color.emoticon_in_love{ background-image:url(../images/icon/color_18/emoticon_in_love.png); }
.ico.color.emoticon_sad{ background-image:url(../images/icon/color_18/emoticon_sad.png); }
.ico.color.emoticon_sleeping{ background-image:url(../images/icon/color_18/emoticon_sleeping.png); }
.ico.color.emoticon_smile{ background-image:url(../images/icon/color_18/emoticon_smile.png); }
.ico.color.encrypt{ background-image:url(../images/icon/color_18/encrypt.png); }
.ico.color.eraser{ background-image:url(../images/icon/color_18/eraser.png); }
.ico.color.eye{ background-image:url(../images/icon/color_18/eye.png); }
.ico.color.eye_closed{ background-image:url(../images/icon/color_18/eye_closed.png); }
.ico.color.fast_forward{ background-image:url(../images/icon/color_18/fast_forward.png); }
.ico.color.file{ background-image:url(../images/icon/color_18/file.png); }
.ico.color.fill{ background-image:url(../images/icon/color_18/fill.png); }
.ico.color.fingerprint{ background-image:url(../images/icon/color_18/fingerprint.png); }
.ico.color.firewall{ background-image:url(../images/icon/color_18/firewall.png); }
.ico.color.first{ background-image:url(../images/icon/color_18/first.png); }
.ico.color.folder{ background-image:url(../images/icon/color_18/folder.png); }
.ico.color.font{ background-image:url(../images/icon/color_18/font.png); }
.ico.color.font_size{ background-image:url(../images/icon/color_18/font_size.png); }
.ico.color.game_control{ background-image:url(../images/icon/color_18/game_control.png); }
.ico.color.gear{ background-image:url(../images/icon/color_18/gear.png); }
.ico.color.group{ background-image:url(../images/icon/color_18/group.png); }
.ico.color.hammer{ background-image:url(../images/icon/color_18/hammer.png); }
.ico.color.hand_point{ background-image:url(../images/icon/color_18/hand_point.png); }
.ico.color.hand_thumbsdown{ background-image:url(../images/icon/color_18/hand_thumbsdown.png); }
.ico.color.hand_thumbsup{ background-image:url(../images/icon/color_18/hand_thumbsup.png); }
.ico.color.hard_disk{ background-image:url(../images/icon/color_18/hard_disk.png); }
.ico.color.headset{ background-image:url(../images/icon/color_18/headset.png); }
.ico.color.heart{ background-image:url(../images/icon/color_18/heart.png); }
.ico.color.help{ background-image:url(../images/icon/color_18/help.png); }
.ico.color.help2{ background-image:url(../images/icon/color_18/help2.png); }
.ico.color.history{ background-image:url(../images/icon/color_18/history.png); }
.ico.color.home{ background-image:url(../images/icon/color_18/home.png); }
.ico.color.hourglass{ background-image:url(../images/icon/color_18/hourglass.png); }
.ico.color.hourglass2{ background-image:url(../images/icon/color_18/hourglass2.png); }
.ico.color.id{ background-image:url(../images/icon/color_18/id.png); }
.ico.color.info{ background-image:url(../images/icon/color_18/info.png); }
.ico.color.info2{ background-image:url(../images/icon/color_18/info2.png); }
.ico.color.italic{ background-image:url(../images/icon/color_18/italic.png); }
.ico.color.item{ background-image:url(../images/icon/color_18/item.png); }
.ico.color.key{ background-image:url(../images/icon/color_18/key.png); }
.ico.color.last{ background-image:url(../images/icon/color_18/last.png); }
.ico.color.lightbulb{ background-image:url(../images/icon/color_18/lightbulb.png); }
.ico.color.link{ background-image:url(../images/icon/color_18/link.png); }
.ico.color.list{ background-image:url(../images/icon/color_18/list.png); }
.ico.color.location{ background-image:url(../images/icon/color_18/location.png); }
.ico.color.lock{ background-image:url(../images/icon/color_18/lock.png); }
.ico.color.lock_open{ background-image:url(../images/icon/color_18/lock_open.png); }
.ico.color.login{ background-image:url(../images/icon/color_18/login.png); }
.ico.color.mail{ background-image:url(../images/icon/color_18/mail.png); }
.ico.color.mail_open{ background-image:url(../images/icon/color_18/mail_open.png); }
.ico.color.messenger{ background-image:url(../images/icon/color_18/messenger.png); }
.ico.color.microhpone{ background-image:url(../images/icon/color_18/microhpone.png); }
.ico.color.microphone{ background-image:url(../images/icon/color_18/microphone.png); }
.ico.color.money_bag{ background-image:url(../images/icon/color_18/money_bag.png); }
.ico.color.monitor{ background-image:url(../images/icon/color_18/monitor.png); }
.ico.color.moon{ background-image:url(../images/icon/color_18/moon.png); }
.ico.color.music{ background-image:url(../images/icon/color_18/music.png); }
.ico.color.music_folder{ background-image:url(../images/icon/color_18/music_folder.png); }
.ico.color.music_library{ background-image:url(../images/icon/color_18/music_library.png); }
.ico.color.next{ background-image:url(../images/icon/color_18/next.png); }
.ico.color.notepad{ background-image:url(../images/icon/color_18/notepad.png); }
.ico.color.paragraph_align_left{ background-image:url(../images/icon/color_18/paragraph_align_left.png); }
.ico.color.paragraph_align_right{ background-image:url(../images/icon/color_18/paragraph_align_right.png); }
.ico.color.paragraph_justify{ background-image:url(../images/icon/color_18/paragraph_justify.png); }
.ico.color.password{ background-image:url(../images/icon/color_18/password.png); }
.ico.color.paste{ background-image:url(../images/icon/color_18/paste.png); }
.ico.color.pause{ background-image:url(../images/icon/color_18/pause.png); }
.ico.color.pen{ background-image:url(../images/icon/color_18/pen.png); }
.ico.color.pencil{ background-image:url(../images/icon/color_18/pencil.png); }
.ico.color.phone{ background-image:url(../images/icon/color_18/phone.png); }
.ico.color.photo_album{ background-image:url(../images/icon/color_18/photo_album.png); }
.ico.color.pictures_folder{ background-image:url(../images/icon/color_18/pictures_folder.png); }
.ico.color.play{ background-image:url(../images/icon/color_18/play.png); }
.ico.color.point{ background-image:url(../images/icon/color_18/point.png); }
.ico.color.power{ background-image:url(../images/icon/color_18/power.png); }
.ico.color.previous{ background-image:url(../images/icon/color_18/previous.png); }
.ico.color.print{ background-image:url(../images/icon/color_18/print.png); }
.ico.color.pyramid{ background-image:url(../images/icon/color_18/pyramid.png); }
.ico.color.random{ background-image:url(../images/icon/color_18/random.png); }
.ico.color.record{ background-image:url(../images/icon/color_18/record.png); }
.ico.color.redo{ background-image:url(../images/icon/color_18/redo.png); }
.ico.color.reload{ background-image:url(../images/icon/color_18/reload.png); }
.ico.color.repeat{ background-image:url(../images/icon/color_18/repeat.png); }
.ico.color.resize2{ background-image:url(../images/icon/color_18/resize2.png); }
.ico.color.rewind{ background-image:url(../images/icon/color_18/rewind.png); }
.ico.color.rotate{ background-image:url(../images/icon/color_18/rotate.png); }
.ico.color.round{ background-image:url(../images/icon/color_18/round.png); }
.ico.color.ruler_square{ background-image:url(../images/icon/color_18/ruler_square.png); }
.ico.color.satellite{ background-image:url(../images/icon/color_18/satellite.png); }
.ico.color.scissors{ background-image:url(../images/icon/color_18/scissors.png); }
.ico.color.screwdriver{ background-image:url(../images/icon/color_18/screwdriver.png); }
.ico.color.security{ background-image:url(../images/icon/color_18/security.png); }
.ico.color.shopping_basket{ background-image:url(../images/icon/color_18/shopping_basket.png); }
.ico.color.software24{ background-image:url(../images/icon/color_18/software24.png); }
.ico.color.spam{ background-image:url(../images/icon/color_18/spam.png); }
.ico.color.speaker{ background-image:url(../images/icon/color_18/speaker.png); }
.ico.color.speaker2{ background-image:url(../images/icon/color_18/speaker2.png); }
.ico.color.sphere{ background-image:url(../images/icon/color_18/sphere.png); }
.ico.color.spreadsheet{ background-image:url(../images/icon/color_18/spreadsheet.png); }
.ico.color.square{ background-image:url(../images/icon/color_18/square.png); }
.ico.color.star{ background-image:url(../images/icon/color_18/star.png); }
.ico.color.stats_bars{ background-image:url(../images/icon/color_18/stats_bars.png); }
.ico.color.stats_lines{ background-image:url(../images/icon/color_18/stats_lines.png); }
.ico.color.stats_pie{ background-image:url(../images/icon/color_18/stats_pie.png); }
.ico.color.stop{ background-image:url(../images/icon/color_18/stop.png); }
.ico.color.strike_through{ background-image:url(../images/icon/color_18/strike_through.png); }
.ico.color.sun{ background-image:url(../images/icon/color_18/sun.png); }
.ico.color.target{ background-image:url(../images/icon/color_18/target.png); }
.ico.color.thunder{ background-image:url(../images/icon/color_18/thunder.png); }
.ico.color.trash_can{ background-image:url(../images/icon/color_18/trash_can.png); }
.ico.color.underlined{ background-image:url(../images/icon/color_18/underlined.png); }
.ico.color.undo{ background-image:url(../images/icon/color_18/undo.png); }
.ico.color.upload2{ background-image:url(../images/icon/color_18/upload2.png); }
.ico.color.usb{ background-image:url(../images/icon/color_18/usb.png); }
.ico.color.user{ background-image:url(../images/icon/color_18/user.png); }
.ico.color.user_woman{ background-image:url(../images/icon/color_18/user_woman.png); }
.ico.color.volume_control{ background-image:url(../images/icon/color_18/volume_control.png); }
.ico.color.webcam{ background-image:url(../images/icon/color_18/webcam.png); }
.ico.color.window{ background-image:url(../images/icon/color_18/window.png); }
.ico.color.wizard{ background-image:url(../images/icon/color_18/wizard.png); }
.ico.color.world{ background-image:url(../images/icon/color_18/world.png); }
.ico.color.zoom{ background-image:url(../images/icon/color_18/zoom.png); }
.ico.color.zoom_in{ background-image:url(../images/icon/color_18/zoom_in.png); }
.ico.color.zoom_out{ background-image:url(../images/icon/color_18/zoom_out.png); }


.ico.gray.shadow.abacus{ background-image:url(../images/icon/gray_shadow18/abacus.png); }
.ico.gray.shadow.calendar{ background-image:url(../images/icon/gray_shadow18/calendar.png); }
.ico.gray.shadow.file{ background-image:url(../images/icon/gray_shadow18/file.png); }
.ico.gray.shadow.firewall{ background-image:url(../images/icon/gray_shadow18/firewall.png); }
.ico.gray.shadow.home{ background-image:url(../images/icon/gray_shadow18/home.png); }
.ico.gray.shadow.location{ background-image:url(../images/icon/gray_shadow18/location.png); }
.ico.gray.shadow.paragraph_align_left{ background-image:url(../images/icon/gray_shadow18/paragraph_align_left.png); }
.ico.gray.shadow.pictures_folder{ background-image:url(../images/icon/gray_shadow18/pictures_folder.png); }
.ico.gray.shadow.satellite{ background-image:url(../images/icon/gray_shadow18/satellite.png); }
.ico.gray.shadow.spreadsheet{ background-image:url(../images/icon/gray_shadow18/spreadsheet.png); }
.ico.gray.shadow.stats_lines{ background-image:url(../images/icon/gray_shadow18/stats_lines.png); }
.ico.gray.shadow.window{ background-image:url(../images/icon/gray_shadow18/window.png); }

.ico.gray.spreadsheet_gray{ background-image:url(../images/icon/gray_18/spreadsheet_gray.png); }