@import url("buttons.css");
html {
	margin:0;
	padding:0;

}
body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 12px;
	color: #000000;
	/*background: url(../images/mred/city.png) #0564d6 repeat-x bottom center fixed;*/
}
body.error {
	background-image: url(../images/bg/pick_bg.error.jpg);
}
body.dashborad {
	background-image: url(../images/menu_bg.png);
	background-repeat: repeat-y;
	background-color: #f8f8f8;
	background-position: left;
}
body.nobg {
	background-image: none;
	background-repeat: repeat-y;
	background: #fafafa;
}
:focus {
	outline:0px;
}
ul {
	padding: 0;
	margin: 0px;
}
li {
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
	font-weight: bold;
	color:#666;
	font-family:"Myriad Pro", Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	border-bottom: 1px #eeeeee solid;
	margin-bottom: 13px;
	line-height: 35px;
}
h1 {
	font-size: 24px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 16px;
}
h4 {
	font-size: 14px;
}
h5 {
	font-size: 13px;
}
h6 {
	font-size: 11px;
}
b {
	font-weight: bold;
}
p {
	line-height: 23px;
	padding-left: 0px;
	padding-top:0px;
	margin-top:0px;
}
pre {
	padding:0px;
	margin:0px;
}
img {
	border: 0;
}
img.mid_align {
	vertical-align: middle;
	margin-right: 4px;
	border: 0;
}
.showme {
	display: inline;
}
.hideme {
	display: none;
}
label {
	font-weight: bold;
	text-transform: capitalize;
}
label.disabled {
	color: #aaa;
}
.labelname {
	border: solid 1px #C9C9C9;
	outline: 0;
	line-height: 28px;
	height: 28px;
	padding: 6px 20px 8px 20px;
	margin-left: 2px;
}
.clear {
	clear: both;
	height: 0px;
	margin: 0;
	padding: 0;
}
.f_help {
	display:block;
	font-size:10px;
	padding:4px 0;
	color:#a3a3a3
}
.f_help span {
	color:#F00
}
.f_label {
	position:absolute;
	margin-top:-18px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.preloader {
	display:inline-block;
	background-color: #ffffff;
	background-image: url(loader1.html);
	background-repeat: no-repeat;
	background-position: center center;
}
/*
	loading layout
*/
#overlay {
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background-color:#111;
	/*	opacity:0.1;
	filter:alpha(opacity=10);*/
	z-index:1000;
	display: none;
}
#preloader {
	background: #000000 url(../images/loadder/preloader.gif) no-repeat 12px 10px;
	font-size: 11px;
	height: 20px;
	left: 50%;
	line-height: 20px;
	margin: -20px 0 0 -45px;
	padding: 10px;
	position: fixed;
	text-align: left;
	text-indent: 36px;
	top: 50%;
	width: 90px;
	z-index: 1209;
	opacity:0.8;
	filter:alpha(opacity=80);
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	color: #FFF;
	text-shadow:none;
	display: none;
}
#pageload {
	background: #000000;
	font-size: 11px;
	height: 20px;
	left: 50%;
	line-height: 20px;
	margin: -20px 0 0 -55px;
	padding: 10px;
	position: fixed;
	text-align: center;
	top: 50%;
	width: 120px;
	z-index: 1006;
	opacity:0.8;
	filter:alpha(opacity=80);
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	color: #FFF;
	text-shadow:none;
	display: none;
}

/* overrides extra padding on button elements in Firefox */
.uibutton::-moz-focus-inner {
 padding: 0;
 border: 0;
}
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #e9e9e9;
	border-left: 1px solid #e9e9e9;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border: 1px solid #e9e9e9;
	border-left: none;
	margin-bottom: -1px;
	overflow: hidden;
	position: relative;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	display: none;
	background-image: url(../images/bg/NavBg.png);
}
ul.tabs li span {
	color: #999;
	display: block;
	padding: 0 20px;
	border: 1px solid #fff;
	outline: none;
	font-size: 11px;
}
ul.tabs li a {
	text-decoration: none;
	color: #999;
	display: block;
	padding: 0 20px;
	border: 1px solid #fff;
	outline: none;
	font-size: 11px;
 -webkit-transition: background-color .2s ease-out;
 -moz-transition: background-color .2s ease-out;
 -o-transition: background-color .2s ease-out;
 transition: background-color .2s ease-out;
}
ul.tabs li a:hover {
	color: #000;
	background-image: url(../images/bg/NavBgHover.png);
}
ul.tabs li.active a {
	color: #1a5ba0;
 -webkit-transition: background-color .2s ease-out;
 -moz-transition: background-color .2s ease-out;
 -o-transition: background-color .2s ease-out;
 transition: background-color .2s ease-out;
}
ul.tabs li.active, ul.tabs li.active a:hover {
	background: #fff;
	border-bottom: 1px solid #fff;
	color: #000;
}
.tab_container {
	border: 0px solid #e9e9e9;
	border-top: none;
	clear: both;
	float: left;
	width: 100%;
	background: #fff;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	padding-top: 15px;
}
.tab_content {
	padding: 0px;
	min-height: 50px;
	display: none;
}
.tab_content .uibutton-group {
	position: relative;
	margin-top:-41px;
	margin-right:0px;
	float:right;
}
a {
	color: #1a5ba0;
	text-decoration: none;
	text-shadow: 0px 0px 0px transparent;
	cursor: pointer;
}
a:active {
	color: #3484c2;
	text-decoration: none;
	text-shadow: 0px 0px 0px transparent;
}
a:hover {
	color: #3484c2;
	text-decoration: none;
	text-shadow: none;
}
a.red {
	color: #F30;
	text-decoration: none;
	text-shadow: 0px 0px 0px transparent;
	cursor: pointer;
}
a.red:hover {
	color: #F00;
}
span img {
	margin-bottom: -3px;
}
/*
------------------------------------------------------------
		 grid in content
------------------------------------------------------------
*/
.grid3, .grid2, .grid1, .grid1-5, .grid4 {
	border: 0px #cccccc solid;
	margin-right: 1%;
	margin-bottom: 10px;
	float: left;
}
.grid4 {
	width: 100%;
}
.grid3 {
	width: 74%;
}
.grid2 {
	width: 49%;
}
.grid1-5 {
	width: 36%;
}
.grid1 {
	width: 24%;
}
.grid3 .inner, .grid2 .inner, .grid1 .inner, .grid1 .inner {
	padding:0px 10px 10px 10px;
}
.leftzero {
	margin-left:0px;
}
.rightzero {
	margin-right:0px;
}
.inner h3 {
	color:#666;
	font-family:"Myriad Pro", Arial, Helvetica, sans-serif;
	font-size:18px;
	text-transform:uppercase;
	border-bottom: 1px #eeeeee solid;
	margin-bottom: 13px;
	line-height: 35px;
}
.show_add, .load_page, .show_edit {
	position: relative;
}
/*
------------------------------------------------------------
		 shoutcutBox in dashborad 
------------------------------------------------------------
*/
.shoutcutBox {
	border:1px solid #dddddd;
	-moz-box-shadow:1px 1px 2px #f5f5f5;
	-webkit-box-shadow:1px 1px 2px #f5f5f5;
	box-shadow:1px 1px 2px #f5f5f5;
	position: relative;
	padding: 15px 20px;
	margin: 0 0px 10px 0px;
	background-color: #f5f5f5;
	cursor: pointer;
 -webkit-transition: background-color .2s ease-out;
 -moz-transition: background-color .2s ease-out;
 -o-transition: background-color .2s ease-out;
 transition: background-color .2s ease-out;
}
.shoutcutBox:hover {
	background-color: #ededed;
	-moz-box-shadow:1px 2px 2px #eeeeee;
	-webkit-box-shadow:1px 2px 2px #eeeeee;
	box-shadow:1px 2px 2px #eeeeee;
}
.shoutcutBox strong {
	font-size: 18px;
	display: inline-block;
	margin-right: 5px;
}
.shoutcutBox em {
	display: inline-block;
	text-transform: capitalize;
	color: #AAA;
}
.shoutcutBox.last {
	margin: 0;
}
.breaks {
	height: 7px;
	background-image: url(../images/bg/beake.png);
	background-repeat:repeat-x;
	background-position: center center;
	margin: 0 0 10px 35px;
}
.breaks span {
	height: 7px;
	width:13px;
	background-image: url(../images/bg/beake_s.png);
	background-repeat: no-repeat;
	background-position: center center;
	display: block;
	margin: auto;
}
.SEdemo {
	display:inline-block;
	margin:0px;
}
.dateBox {
	margin:8px 0px;

}
.nD {
	font-size:70px;
	margin-right:10px;
	float:left;
	text-align:center;
}
.dD {
	padding-top:0px;
	font-size:33px!important;
	float: left;
	line-height: 22px;
}
.fullD {
	padding-top:4px;
	font-size:16px;
	color:#aaaaaa;
}
.todate {
	height:200px;
}
.todate li {
	padding:20px 10px;
}
.newevent {
}
.external-event { /* try to mimick the look of a real event */
	text-shadow:none;
	padding:10px;
	margin: 0px 0;
	display:inline-block;
	padding: 2px 4px;
	background: #3366CC;
	color: #fff;
	font-size: .85em;
	cursor: pointer;
}
/*
------------------------------------------------------------
		 icon List 
------------------------------------------------------------
*/
.iconBox {
	border:1px solid #dddddd;
	-moz-box-shadow:1px 1px 2px #f5f5f5;
	-webkit-box-shadow:1px 1px 2px #f5f5f5;
	box-shadow:1px 1px 2px #f5f5f5;
	padding: 7px 10px;
	margin: 10px 5px 10px 5px;
	background-color: #f5f5f5;
	cursor: pointer;
	position: relative;
	display: inline-block;
 -webkit-transition: background-color .2s ease-out;
 -moz-transition: background-color .2s ease-out;
 -o-transition: background-color .2s ease-out;
 transition: background-color .2s ease-out;
}
.iconBox:hover {
	border:1px solid #d0d0d0;
	-moz-box-shadow:1px 1px 2px #eeeeee;
	-webkit-box-shadow:1px 1px 2px #eeeeee;
	box-shadow:1px 1px 2px #eeeeee;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #f2f2f2;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #f2f2f2;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #f2f2f2;
	background-color: #eeeeee;
}
.iconBox strong {
	font-size: 10px;
	display: inline-block;
	margin-right: 5px;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
}
/*
------------------------------------------------------------
		 list Typography
------------------------------------------------------------
*/
ul.list_arrow, ul.list_arrow2 {
	margin: 0px 0 15px 15px!important;
}
ul.list_arrow li {
	padding: 2px 2px 2px 0px;
	list-style-image: url(../images/icon/arrow_a.gif);
}
ul.list_arrow2 li {
	padding: 2px 2px 2px 0px;
	list-style-image:url(../images/icon/arrow.png)
}
/*
------------------------------------------------------------
		 news update
------------------------------------------------------------
*/
#news_update ul li .temp_news {
	width: 130px;
	height: 98px;
	border: 1px #DDD solid;
	padding:2px;
	background-color:#FFF;
	float: left;
	margin-top: 5px;
}
#news_update ul li .temp_news img {
	width: 130px;
}
#news_update ul li .detail_news {
	border: 0px #DDD solid;
	margin-left:145px;
	margin-bottom: 10px;
}
#news_update ul li .detail_news .datepost {
	color: #BBB;
	margin-right: 2px;
}
#news_update ul li .detail_news .morelink {
	display: inline-block;
	background-image: url(../images/icon/link.png);
	height: 15px;
	background-position: right 2px;
	background-repeat: no-repeat;
	padding-right: 15px;
	padding-left:5px;
	padding-bottom:2px;
	border-left: 1px #DDD solid;
}
#news_update ul li .detail_news p {
	height:42px;
	overflow:hidden;
	padding:0px;
	line-height: 20px;
	margin: 0;
}
/*
------------------------------------------------------------
		 last Contact
------------------------------------------------------------
*/
.msg {
	text-align:left;
	margin-left:5px;
}
.msg_icon {
	background-repeat:no-repeat;
	position: absolute;
	margin-left: -5px;
	margin-top: -5px;
	width:24px!important;
	height:24px!important;
}
.msg_icon.new {
	background-image:url(../images/icon/38.png);
}
.msg_icon.open {
	background-image:url(../images/icon/25.png);
}
.msg_icon.ans {
	background-image:url(../images/icon/24.png);
}
.msg_topic {
	margin-left: 25px;
}
.msg_topic span {
	color:#aaaaaa;
}
.msg_date {
	text-align:right;
	margin-right:5px;
}
.msg_date span {
	font-size:10px;
	color:#CCC;
	display:block;
}
/*
------------------------------------------------------------
		 map location
------------------------------------------------------------
*/
	
.disabled_map {
	width: 100%;
	height: 402px;
	position: absolute;
	z-index: 2;
	opacity: 0.5;
	filter:alpha(opacity=50);
	background-color: #CCC;
	line-height: 400px;
	text-transform: uppercase;
	color: #AAA;
	text-align: center;
	font-size: 20px;
	font-family: Verdana, Geneva, sans-serif;
}
.map_canvas {
	color: #AAA;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 400px;
}
#map_canvas {
	width: 100%;
	height: 400px;
	margin-bottom:10px
}
/*
------------------------------------------------------------
		 icon click open file manager
------------------------------------------------------------
*/

.show_add, .show_edit {
	margin-left:15px;
}
#open_icon, #open_icon2, #open_icon3, #open_icon_edit {
	height: 30px;
	width: 36px;
	margin: 0 0 0 -1px;
	background-repeat: no-repeat;
	background-position: center center;
	text-indent: -9999px;
	position: absolute;
	cursor: pointer;
	background-image: url(../images/openFiles.png);
}
.data, .dataSet, .dataImg {
	display:none;
}
/*
------------------------------------------------------------
		 title bar
------------------------------------------------------------
*/
.boxtitle {
	border-bottom: 1px #eeeeee solid;
	margin-bottom: 15px;
	color: #AAA;
	height: 35px;
	line-height: 35px;
	text-transform: uppercase;
	font-size: 10px;
}
.boxtitle img {
	margin-right: 3px;
	margin-bottom: -2px;
}
.boxtitle.min {
	margin-bottom: 5px;
	height: 25px;
	line-height: 25px;
}
/*
------------------------------------------------------------
		 Deletezone 
------------------------------------------------------------
*/
.deletezone {
	width: 100%;
	border:1px dashed #EEE;
	min-height: 250px;
	margin-top:20px;
	text-align: center;
	text-transform: uppercase;
	color: #AAA;
	letter-spacing: 1px;
	font-size: 10px;
	line-height: 250px;
	background-image: url(../images/icon/bin.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
.deletezone img {
	margin-bottom: -4px;
}
.deletezoneover {
	border:1px dashed #000;
}
.deletezonedragging {
	border:1px dashed red;
	color: #F00;
}
.deletezone.small {
	min-height: 200px;
	line-height: 200px;
	font-size: 10px;
	text-transform: capitalize;
	margin: 0;
}
/*
		------------------------------------------------------------
		 input Type 
		------------------------------------------------------------
		*/
		textarea {
	background-position: 5px 5px;
	border: solid 1px #dddddd;
	outline: 0;
	padding: 7px 7px;
	min-height: 73px;
	overflow: auto;
	font-family: Arial, Helvetica, sans-serif;
	width: 69%;
}
input[type=text], input[type=password], .fileupload {
	background-position: 5px 5px;
	border: solid 1px #dddddd;
	outline: 0;
	/*line-height: 28px;*/
	height: 28px;
	padding: 0px 7px 0px 7px;
	-moz-box-shadow:1px 1px 2px #f5f5f5;
	-webkit-box-shadow:1px 1px 2px #f5f5f5;
	box-shadow:1px 1px 2px #f5f5f5;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;	
}
.formLogin input[type=text], .formLogin  input[type=password], .formLogin .fileupload {
	color: #e7a125;
	border: solid 1px #e7a125;
	height: 30px;
	padding: 0px 7px 0px 7px;
	-moz-box-shadow: 1px 1px 2px #e7a125;
	-webkit-box-shadow: 1px 1px 2px #e7a125;
	box-shadow: 1px 1px 2px #e7a125;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus, .fileupload:focus {
	border-color: #C9C9C9;
	-moz-box-shadow:0px 0px 8px #dddddd;
	-webkit-box-shadow:0px 0px 8px #dddddd;
	box-shadow:0px 0px 8px #dddddd;
}
input[type=text]:disabled, input[type=password]:disabled {
	background: -webkit-gradient(linear, left top, left 25, from(#EEEEEE), color-stop(4%, #EEEEEE), to(#EEEEEE));
	background: -moz-linear-gradient(top, #EEEEEE, #EEEEEE 1px, #EEEEEE 25px);
	color: #666;
}
input[type=text].error, input[type=password].error {
	height: 30px;
	border: 1px #F00 solid;
	background-position: 5px 5px;
	padding-left: 5px;
}

/* placeholder */
::-webkit-input-placeholder {
color:#cccccc;
}
input:-moz-placeholder {
color:#cccccc;
}
.placeholder {
	color: #cccccc;
}
/*select box */
select[multiple] {
	padding: 6px;
	border: solid 1px #dddddd;
	font-size: 12px;
	color:#666666;
}
select:focus {
	border-color: #C9C9C9;
	-moz-box-shadow:0px 0px 8px #dddddd;
	-webkit-box-shadow:0px 0px 8px #dddddd;
	box-shadow:0px 0px 8px #dddddd;
}
.ui-selectmenu {
	display : inline-block;
	position : relative;
	border : 1px solid #dddddd;
	margin : 0 3px 0 0;
	text-decoration : none;
	overflow : hidden;
	outline : none;
	width : 270px;
	height : 28px;
	-moz-box-shadow:1px 1px 2px #f5f5f5;
	-webkit-box-shadow:1px 1px 2px #f5f5f5;
	box-shadow:1px 1px 2px #f5f5f5;
}
a.ui-selectmenu, a.ui-selectmenu:link, a.ui-selectmenu:active, a.ui-selectmenu:visited {
	text-decoration : none;
}
.ui-selectmenu-status {
	float : left;
	padding : 7px 10px 0;
	outline : none;
	overflow : hidden;
	font : 11px Arial;
	font-weight : 100;
	cursor : pointer;
	color : #666666;
	text-decoration : none;
	width : 205px;
	height : 13px;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	background: #ffffff;
	font-weight: normal;
	color: #666666;
}
.ui-state-active .ui-icon.ui-selectmenu-icon {
	background : url(../images/forms/seleteup.png) no-repeat right top transparent;
}
.ui-state-highlight .ui-icon.ui-selectmenu-icon {
	background : url(../images/forms/seletedown.png) no-repeat right top transparent;
}
.ui-icon.ui-selectmenu-icon {
	float : right;
	width : 32px;
	height : 30px;
	position: absolute;
	right:0;
	background-color: transparent;
	background-image: url(../images/forms/seletedown.png);
	background-repeat: no-repeat;
	background-position: right -2px;
}
a.ui-selectmenu {
	text-decoration : none;
}
.ui-selectmenu-menu {
	position : absolute;
	display : none;
	top : 0;
	z-index : 9999;
	background-color : #FFFFFF;
	border : 1px solid #dcdcdc;
	padding : 0;
	margin : 1px 0 0 0;
	list-style : none;
	overflow : auto;
	width : 270px;
	max-height : 175px;
}
.ui-selectmenu-open {
	display : block;
}
.ui-selectmenu-menu li {
	display : block;
	background : #FFFFFF;
	border-top : 1px solid #f5f5f5;
	line-height:25px;
	outline : none;
	padding : 0;
	margin : 0;
}
.ui-selectmenu-menu li:first-child {
	border-top : none;
}
.ui-selectmenu-menu li a {
	display : block;
	padding : 6px 10px;
	outline : none;
	overflow : hidden;
	font : 11px Arial;
	font-weight : 100;
	cursor : pointer;
	color : #666666;
	text-decoration : none;
}
.ui-selectmenu-menu li a:hover, li.ui-selectmenu-item-selected a {
	background : #c2e3f0;
}
.ui-selectmenu.small, .ui-selectmenu-menu.small {
	width : 75px;
}
.ui-selectmenu.small .ui-selectmenu-status {
	width : 40px;
}
.ui-selectmenu.big, .ui-selectmenu-menu.big {
	width : 300px;
}
.ui-selectmenu.big .ui-selectmenu-status {
	width : 255px;
}
.multiple {
	display : block;
	border : 1px solid #c5c5c5;
	outline : 0;
	padding : 5px;
	cursor : text;
	font : 12px/2em Arial;
	color : #1c1c1c;
	width : 100%;
}
.formEl_b {
	padding: 10px 0px 20px 0px;
}
/*fieldset {
		position:relative;
		padding:20px;
		padding: 0px 20px;		
		border:1px solid #ccc;		
		margin-bottom:16px
}
fieldset legend {
		position:relative;
		margin-left:-10px;
		font-weight:700;
		border:1px solid #ccc;
		background:#f2f2f2;
		font-size:12px;
		line-height:24px;
		padding:0 10px;
		*margin-bottom:20px
}	*/
		.formEl_b fieldset {
	border:1px solid #e6e6e6;
	padding:20px 20px 20px 20px;
	background:#ffffff;
	margin: 0 0;
}
.formEl_b fieldset legend {
	font-weight:700;
	border:1px solid #e6e6e6;
	background:#f2f2f2;
	font-size:12px;
	line-height:24px;
	padding:0px 10px;
	margin-left:-10px;
	margin-bottom: 20px;
}
.formEl_b fieldset legend span {
	color:#F00;
}
.sepH_b {
	margin-bottom:12px;
}
/*
		------------------------------------------------------------
		Form input
		------------------------------------------------------------
		*/
		form input.xxsmall {
	width: 5%;
	text-align: center;
}
form input.xsmall {
	width: 10%;
	text-align: center;
}
form input.small {
	width: 20%;
}
form input.medium, form textarea.medium {
	width: 40%;
	max-width:40%
}
form input.large, form textarea.large {
	width: 69%;
	max-width:69%
}
form textarea.largeXL {
	width: 89%;
	max-width:89%;
	height:350px;
}
form input.full, form textarea.full {
	width: 95%;
	max-width:95%
}
form div.section {
	border-bottom: 1px solid #efefef;
	border-top: none;
	padding: 0px 0 13px 0;
}
form div.section:first-child, .modal_dialog form div.section:first-child {
	border-top: none
}
form div.section.last, .modal_dialog form div.section.last {
	border-bottom: none
}
form div.section > div {
	color: #404040;
	font-size: 11px;
	margin-left: 35%;
	position: relative;
	padding: 13px 0 0px 0;
}
form div.section > div > label {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 5px;
}
form div.section > div > .select_box {
	margin-left: -1px;
	position:absolute;
	display:inline-block;
}
form div.section > label {
	color: #404040;
	float: left;
	margin-right: 5%;
	margin-top: 12px;
	width: 30%;
	padding: 11px 0 0px 0;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}
form div.section > div >label.red {
	color:#F00;
	text-transform: uppercase;
}
form div.section label small {
	color: #999;
	display: block;
	font-size: 11px;
	font-weight: normal;
	line-height: 13px;
	margin-top: 3px;
	text-transform: none;
}

form div.section1 {
	border-bottom: 1px solid #efefef;
	border-top: none;
	padding: 0px 0 13px 0;
}
form div.section1:first-child, .modal_dialog form div.section:first-child {
	border-top: none
}
form div.section1.last, .modal_dialog form div.section.last {
	border-bottom: none
}
form div.section1 > div {
	color: #404040;
	font-size: 11px;
	margin-left: 35%;
	position: relative;
	padding: 13px 0 0px 0;
}
form div.section1 > div > label {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 5px;
}
form div.section 1> div > .select_box {
	margin-left: -1px;
	position:absolute;
	display:inline-block;
}
form div.section1 > label {
	color: #404040;
	float: left;
	margin-right: 5%;
	margin-top: 12px;
	width: 30%;
	padding: 11px 0 0px 0;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}
form div.section1 > div >label.red {
	color:#F00;
	text-transform: uppercase;
}
form div.section1 label small {
	color: #999;
	display: block;
	font-size: 11px;
	font-weight: normal;
	line-height: 13px;
	margin-top: 3px;
	text-transform: none;
}

form div.section2 {
	border-bottom: 1px solid #efefef;
	border-top: none;
	padding: 0px 0 13px 0;
}
form div.section2:first-child, .modal_dialog form div.section:first-child {
	border-top: none
}
form div.section2.last, .modal_dialog form div.section.last {
	border-bottom: none
}
form div.section2 > div {
	color: #404040;
	font-size: 11px;
	margin-left: 35%;
	position: relative;
	padding: 13px 0 0px 0;
}
form div.section2 > div > label {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 5px;
}
form div.section2 > div > .select_box {
	margin-left: -1px;
	position:absolute;
	display:inline-block;
}
form div.section2 > label {
	color: #404040;
	float: left;
	margin-right: 5%;
	margin-top: 12px;
	width: 30%;
	padding: 11px 0 0px 0;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}
form div.section2 > div >label.red {
	color:#F00;
	text-transform: uppercase;
}
form div.section2 label small {
	color: #999;
	display: block;
	font-size: 11px;
	font-weight: normal;
	line-height: 13px;
	margin-top: 3px;
	text-transform: none;
}
form div.section3 {
	border-bottom: 1px solid #efefef;
	border-top: none;
	padding: 0px 0 13px 0;
}
form div.section3:first-child, .modal_dialog form div.section:first-child {
	border-top: none
}
form div.section3.last, .modal_dialog form div.section.last {
	border-bottom: none
}
form div.section3 > div {
	color: #404040;
	font-size: 11px;
	margin-left: 35%;
	position: relative;
	padding: 13px 0 0px 0;
}
form div.section3 > div > label {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 5px;
}
form div.section3 > div > .select_box {
	margin-left: -1px;
	position:absolute;
	display:inline-block;
}
form div.section3 > label {
	color: #404040;
	float: left;
	margin-right: 5%;
	margin-top: 12px;
	width: 30%;
	padding: 11px 0 0px 0;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}
form div.section3 > div >label.red {
	color:#F00;
	text-transform: uppercase;
}
form div.section3 label small {
	color: #999;
	display: block;
	font-size: 11px;
	font-weight: normal;
	line-height: 13px;
	margin-top: 3px;
	text-transform: none;
}
form div.section4 {
	border-bottom: 1px solid #efefef;
	border-top: none;
	padding: 0px 0 13px 0;
}
form div.section4:first-child, .modal_dialog form div.section:first-child {
	border-top: none
}
form div.section4.last, .modal_dialog form div.section.last {
	border-bottom: none
}
form div.section4 > div {
	color: #404040;
	font-size: 11px;
	margin-left: 35%;
	position: relative;
	padding: 13px 0 0px 0;
}
form div.section4 > div > label {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 5px;
}
form div.section4 > div > .select_box {
	margin-left: -1px;
	position:absolute;
	display:inline-block;
}
form div.section4 > label {
	color: #404040;
	float: left;
	margin-right: 5%;
	margin-top: 12px;
	width: 30%;
	padding: 11px 0 0px 0;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}
form div.section4 > div >label.red {
	color:#F00;
	text-transform: uppercase;
}
form div.section4 label small {
	color: #999;
	display: block;
	font-size: 11px;
	font-weight: normal;
	line-height: 13px;
	margin-top: 3px;
	text-transform: none;
}
form div.section5{
	border-bottom: 1px solid #efefef;
	border-top: none;
	padding: 0px 0 13px 0;
}
form div.section5:first-child, .modal_dialog form div.section:first-child {
	border-top: none
}
form div.section.last5, .modal_dialog form div.section.last {
	border-bottom: none
}
form div.section5 > div {
	color: #404040;
	font-size: 11px;
	margin-left: 35%;
	position: relative;
	padding: 13px 0 0px 0;
}
form div.section5 > div > label {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 5px;
}
form div.section5 > div > .select_box {
	margin-left: -1px;
	position:absolute;
	display:inline-block;
}
form div.section5 > label {
	color: #404040;
	float: left;
	margin-right: 5%;
	margin-top: 12px;
	width: 30%;
	padding: 11px 0 0px 0;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}
form div.section6 > div >label.red {
	color:#F00;
	text-transform: uppercase;
}
form div.section6 label small {
	color: #999;
	display: block;
	font-size: 11px;
	font-weight: normal;
	line-height: 13px;
	margin-top: 3px;
	text-transform: none;
}
form div.section6 {
	border-bottom: 1px solid #efefef;
	border-top: none;
	padding: 0px 0 13px 0;
}
form div.section6:first-child, .modal_dialog form div.section:first-child {
	border-top: none
}
form div.section6.last, .modal_dialog form div.section.last {
	border-bottom: none
}
form div.section6 > div {
	color: #404040;
	font-size: 11px;
	margin-left: 35%;
	position: relative;
	padding: 13px 0 0px 0;
}
form div.section6 > div > label {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 5px;
}
form div.section6 > div > .select_box {
	margin-left: -1px;
	position:absolute;
	display:inline-block;
}
form div.section6 > label {
	color: #404040;
	float: left;
	margin-right: 5%;
	margin-top: 12px;
	width: 30%;
	padding: 11px 0 0px 0;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}
form div.section6 > div >label.red {
	color:#F00;
	text-transform: uppercase;
}
form div.section6 label small {
	color: #999;
	display: block;
	font-size: 11px;
	font-weight: normal;
	line-height: 13px;
	margin-top: 3px;
	text-transform: none;
}
form div.section7 {
	border-bottom: 1px solid #efefef;
	border-top: none;
	padding: 0px 0 13px 0;
}
form div.section7:first-child, .modal_dialog form div.section:first-child {
	border-top: none
}
form div.section7.last, .modal_dialog form div.section.last {
	border-bottom: none
}
form div.section7 > div {
	color: #404040;
	font-size: 11px;
	margin-left: 35%;
	position: relative;
	padding: 13px 0 0px 0;
}
form div.section7 > div > label {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 5px;
}
form div.section7 > div > .select_box {
	margin-left: -1px;
	position:absolute;
	display:inline-block;
}
form div.section7 > label {
	color: #404040;
	float: left;
	margin-right: 5%;
	margin-top: 12px;
	width: 30%;
	padding: 11px 0 0px 0;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}
form div.section7 > div >label.red {
	color:#F00;
	text-transform: uppercase;
}
form div.section7 label small {
	color: #999;
	display: block;
	font-size: 11px;
	font-weight: normal;
	line-height: 13px;
	margin-top: 3px;
	text-transform: none;
}
form div.section8 {
	border-bottom: 1px solid #efefef;
	border-top: none;
	padding: 0px 0 13px 0;
}
form div.section8:first-child, .modal_dialog form div.section:first-child {
	border-top: none
}
form div.section8.last, .modal_dialog form div.section.last {
	border-bottom: none
}
form div.section8 > div {
	color: #404040;
	font-size: 11px;
	margin-left: 35%;
	position: relative;
	padding: 13px 0 0px 0;
}
form div.section8 > div > label {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 5px;
}
form div.section8 > div > .select_box {
	margin-left: -1px;
	position:absolute;
	display:inline-block;
}
form div.section8 > label {
	color: #404040;
	float: left;
	margin-right: 5%;
	margin-top: 12px;
	width: 30%;
	padding: 11px 0 0px 0;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}
form div.section8 > div >label.red {
	color:#F00;
	text-transform: uppercase;
}
form div.section8 label small {
	color: #999;
	display: block;
	font-size: 11px;
	font-weight: normal;
	line-height: 13px;
	margin-top: 3px;
	text-transform: none;
}
form div.section9 {
	border-bottom: 1px solid #efefef;
	border-top: none;
	padding: 0px 0 13px 0;
}
form div.section9:first-child, .modal_dialog form div.section:first-child {
	border-top: none
}
form div.section9.last, .modal_dialog form div.section.last {
	border-bottom: none
}
form div.section9 > div {
	color: #404040;
	font-size: 11px;
	margin-left: 35%;
	position: relative;
	padding: 13px 0 0px 0;
}
form div.section9 > div > label {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 5px;
}
form div.section9 > div > .select_box {
	margin-left: -1px;
	position:absolute;
	display:inline-block;
}
form div.section9 > label {
	color: #404040;
	float: left;
	margin-right: 5%;
	margin-top: 12px;
	width: 30%;
	padding: 11px 0 0px 0;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}
form div.section9 > div >label.red {
	color:#F00;
	text-transform: uppercase;
}
form div.section9 label small {
	color: #999;
	display: block;
	font-size: 11px;
	font-weight: normal;
	line-height: 13px;
	margin-top: 3px;
	text-transform: none;
}
form div.section10 {
	border-bottom: 1px solid #efefef;
	border-top: none;
	padding: 0px 0 13px 0;
}
form div.section10:first-child, .modal_dialog form div.section:first-child {
	border-top: none
}
form div.section10.last, .modal_dialog form div.section.last {
	border-bottom: none
}
form div.section10 > div {
	color: #404040;
	font-size: 11px;
	margin-left: 35%;
	position: relative;
	padding: 13px 0 0px 0;
}
form div.section10 > div > label {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 5px;
}
form div.section10 > div > .select_box {
	margin-left: -1px;
	position:absolute;
	display:inline-block;
}
form div.section10 > label {
	color: #404040;
	float: left;
	margin-right: 5%;
	margin-top: 12px;
	width: 30%;
	padding: 11px 0 0px 0;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}
form div.section10 > div >label.red {
	color:#F00;
	text-transform: uppercase;
}
form div.section10 label small {
	color: #999;
	display: block;
	font-size: 11px;
	font-weight: normal;
	line-height: 13px;
	margin-top: 3px;
	text-transform: none;
}


ul.rowData li {
	float: left;
	margin-right: 2px;
}
ul.rowData li.sep {
	line-height:30px;
}
ul.rowData li > input {
	text-align: center;
}
/*alertMessage*/
#alertMessage {
	font-size:16px;
	font-weight:bold;
	padding:15px 25px 15px 45px;
	position:fixed;
	text-align:center;
	width:auto;
	z-index:100001;
	cursor:pointer;
	font-family:'Myriad Pro', Arial, Helvetica, sans-serif;
	background-color:#C2E3F0;
	color:#34667A;
	text-shadow:1px 1px 1px #C8EBFB;
	display:none;
	right: -20px;
	text-transform: uppercase;
	bottom: 25px;
	opacity:0;
	filter:alpha(opacity=0);
	background-image: url(../images/info.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}
.alertMessage {
	font-size:16px;
	font-weight:bold;
	padding:15px 25px 15px 45px;
	width:auto;
	cursor:pointer;
	font-family:'Myriad Pro', Arial, Helvetica, sans-serif;
	background-color:#C2E3F0;
	color:#34667A;
	text-shadow:1px 1px 1px #C8EBFB;
	text-transform: uppercase;
	margin-bottom:15px;
	background-image: url(../images/info.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}
#alertMessage span, .alertMessage span {
	border-left: 1px #488eaa solid;
	border-right: 1px #efefef solid;
	margin-right:10px;
	padding:5px 0px;
}
#alertMessage.error, .alertMessage.error {
	background-color:#fc4a48;
	color:#5A0000;
	text-shadow:1px 1px 1px #E64040;
	background-image: url(../images/error.png);
	border: 1px #a93a25 solid;
}
#alertMessage.error span, .alertMessage.error span {
	border-left: 1px #7a0202 solid;
	border-right: 1px #f08c8a solid;
	margin-right:10px;
	padding:5px 0px;
}
#alertMessage.success, .alertMessage.success {
	background-color:#9bc652;
	color:#324e03;
	text-shadow:1px 1px 1px #5c9201;
	background-image: url(../images/checkmark2.png);
	border: 1px solid #69a44d;
}
.alertMessage.success span {
	border-left: 1px #688901 solid;
	border-right: 1px #d0e4a7 solid;
	margin-right:10px;
	padding:5px 0px;
}
#alertMessage.warning, .alertMessage.warning {
	background-color:#fcdb72;
	color:#987402;
	text-shadow:1px 1px 1px #e7b104;
	background-image: url(../images/help.png);
}
#alertMessage.warning span, .alertMessage.warning span {
	border-left: 1px #987402 solid;
	border-right: 1px #fff0c2 solid;
	margin-right:10px;
	padding:5px 0px;
}
/* styled checkboxes */
.iPhoneCheckContainer {
	position:relative;
	height:27px;
	cursor:pointer;
	overflow:hidden;
	border: 2px #f1f1f1 solid;
}
.iPhoneCheckContainer:hover {
	border: 0px #ffffff solid;
	margin:2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 12px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 12px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 12px;
}
.iPhoneCheckContainer input {
	position:absolute;
	top:5px;
	left:30px;
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity:0
}
.iPhoneCheckContainer label {
	white-space:nowrap;
	font-size:10px;
	font-weight: bold;
	line-height:16px;
	text-transform:uppercase;
	cursor:pointer;
	display:block;
	height:22px;
	position:absolute;
	width:auto;
	top:0;
	padding-top:5px;
	overflow:hidden
}
.iPhoneCheckContainer, .iPhoneCheckContainer label {
	user-select:none;
	-moz-user-select:none;
	-khtml-user-select:none
}
.iPhoneCheckDisabled {
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	opacity:0.5
}
label.iPhoneCheckLabelOn {
	color:#FFF;
	background:url(../images/on.png) no-repeat left top;
	text-shadow:0 1px 2px rgba(0, 0, 0, 0.6);
	left:0;
	padding-top:5px
}
label.iPhoneCheckLabelOn span {
	padding-left:13px
}
label.iPhoneCheckLabelOff {
	color:#FFF;
	background:url(../images/off.png) no-repeat right 0;
	text-shadow:0 1px 2px rgba(0, 0, 0, 0.6);
	text-align:right;
	right:0
}
label.iPhoneCheckLabelOff span {
	padding-right:11px
}
.iPhoneCheckHandle {
	display:block;
	height:27px;
	cursor:pointer;
	position:absolute;
	top:0;
	left:0;
	background:url(../images/slider_left.png) no-repeat;
	padding-left:3px
}
.iPhoneCheckHandleRight {
	height:100%;
	width:100%;
	padding-right:3px;
	background:url(../images/slider_right.png) no-repeat right 0
}
.iPhoneCheckHandleCenter {
	height:100%;
	width:100%;
	background:url(../images/slider_center.png)
}
.text_success {
	font-size:14px;
	text-align:center;
	margin:0px 0 35px 0;
	line-height:25px;
	position: absolute;
	left: 50%;
	width: 420px;
	top: 50%;
	z-index: 50;
	margin-left: -215px;
	text-transform: uppercase;
	padding: 20px 0px;
	margin-top: -100px;
	display: none;
}
.text_success img {
}
.text_success span {
	display: block;
	padding: 10px;
	color: #CCC;
}
.responMsg {
	width: 40%;
	padding: 40px 0 0px 0;
	margin: auto;
	display:none;
}
.responMsg > div {
	text-align: center;
	padding: 50px 0;
	border: 1px #eeeeee dashed;
}
.responMsg h2 {
	display: block;
}
.responMsg a {
}
#versionBar {
	height: 50px;
	background-color: #000;
	background: #378bdd;
	text-shadow:none;
	color:#FFF;
	text-align: right;
	font-size:10px;
	line-height: 50px;
	padding: 0 0px;
}
#login {
	width: 420px;
	margin: auto;
	border: 5px #ffffff solid;
	margin-bottom: 20px;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left:-215px;
	margin-top:-165px;
	/*background-color: #3484c2;*/
	opacity:0;
	filter:alpha(opacity=0);
	border-radius: 15px;
	-webkit-border-radius: 15px;
}
#login .ribbon {
	background-image: url(../images/logform2.png);
	position: absolute;
	width: 111px;
	height: 110px;
	z-index: 12;
	margin-top: -10px;
	margin-left: -13px;
}
#login .shadow {
	position: absolute;
	width: 434px;
	z-index: -1;
	margin-top: 5px;
	background-image: url(../images/shadowForm.png);
	height: 33px;
	margin-left: -10px;
}
#login .inner {
	/*background-color:#0b53aa;*/
	background-color:#FFFFFF;
	border: 1px #e7a125 solid;
	min-height: 230px;
	overflow: hidden;
	border-radius: 10px;
	-webkit-border-radius: 10px;
}
#login .logo {
	text-align:center;
	padding:0px 0px 0px 0px;
	position: absolute;
	opacity:0;
	filter:alpha(opacity=0);
	top: 5%;
	left: 50%;
	margin-left: -6px;
	z-index: 11;
}
#login .formLogin {
	width:320px;
	margin:auto;
	position: relative;
	height: 160px;
	left: -100px;
	opacity:0;
	color: #e7a125;
	filter:alpha(opacity=0);
	border-radius: 15px;
	-webkit-border-radius: 15px;
	padding: 100px 20px 20px 20px;
}
#login #username_id, #login #password {
	/*font-size: 25px;
	background-repeat:no-repeat;
	height: 35px;*/
	/*background-position: 2px 3px;
	line-height: 35px;
	color: #666;*/
	/*width: 300px;
	margin-bottom: 10px;
	font-family:"Myriad Pro", Arial, Helvetica, sans-serif;
	position: relative;*/
	width: 275px;
	font-size: 24px;
	color: #e7a125;
}
#login #username_id:focus, #login #password:focus {
	color:#e7a125;
}
#login #username_id:before {
	content: url('../images/icon/user_.png');
	position: relative;
	left: -30px;
}
#login #password:before {
	content: url('../images/icon/pass_.png');
	position: relative;
	left: -30px;
}
/*#login #username_id {
	background-image: url(../images/icon/user_.png);
}
#login #password {
	background-image: url(../images/icon/pass_.png);
	font-size: 35px;
}*/
#login .userbox {
	height: 260px;
	/*	background-color: #FFF;*/
	position: absolute;
	z-index: 10;
	width: 418px;
	/*background-color: #3484c2;*/
	background-image: url(../images/mred/Preloader_3.gif);
	background-repeat: no-repeat;
	background-position: center 200px;
}
#login .userbox .userload {
	left: 50%;
	margin-left: -50px;
	margin-top: -70px;
}
#login .userbox .userload:hover {
	cursor: pointer;
}
/*....................................................*/

/*
------------------------------------------------------------
		  header
------------------------------------------------------------
*/
#header {
	width: 100%;
	height: 45px;
	/*background: #ffffff url(../images/back.jpg) repeat-x;*/
	background: #0b53aa;
	text-shadow: 1px 0 0 #666666;
	color: #ffffff;
	position: fixed;
	z-index: 49;
	-moz-box-shadow: 0px 2px 15px #333333;
	-webkit-box-shadow: 0px 2px 15px #333333;
	box-shadow: 0px 2px 15px #333333;
 filter: progid: DXImageTransform.Microsoft.Shadow(strength = 5, direction = 180, color = '#999999');
	-ms-filter: "progid: DXImageTransform.Microsoft.Shadow(strength = 5, Direction = 180, Color = '#aaaaaa')";
	min-width: 768px;
}
#header a {
	font-weight: normal;
	color: #ffffff;
}
#header a:hover {
	color: #ebebeb;
}
#header a:active {
	color: #999999;
}
#header #account_info {
	margin: 0 35px 0 0;
	vertical-align:top;
	text-align:right;
	width: 100%;
	overflow: hidden;
}
#header #account_info div {
	padding:0 10px 0 20px;
	/*background-image: url(../images/accbg.png);*/
	cursor:pointer;
	display:inline-block;
	height: 45px;
	line-height:47px;
	background-repeat: no-repeat;
}
#header #account_info div:last-child {
	border-left:1px #ffffff solid;
	padding:0 15px 0 15px;
}
#header #account_info div .red {
	color: #fff;
}
#header #account_info img {
	margin-right:5px;
	margin-bottom: -12px;
	margin-left:5px;
}
#header #account_info img.disconnect {
	margin-right:5px;
	margin-bottom: -13px;
	margin-left:10px;
}
#header #account_info img.gear {
	margin-right:-5px;
	margin-bottom: -12px;
	transition:width 2s, height 2s;
	-moz-transition:width 2s, height 2s, -moz-transform 2s; /* Firefox 4 */
	-webkit-transition:width 2s, height 2s, -webkit-transform 2s; /* Safari and Chrome */
	-o-transition:width 2s, height 2s, -o-transform 2s; /* Opera */
}
#header #account_info img.gearhover {
	transform:rotate(180deg);
	-moz-transform:rotate(180deg); /* Firefox 4 */
	-webkit-transform:rotate(180deg); /* Safari and Chrome */
	-o-transform:rotate(180deg); /* Opera */
}
#header #account_info img.disconnect {
	margin-top: 8px;
}
#shadowhead {
	height:58px;
	background-repeat:repeat-x;
	position: absolute;
	top: 45px;
	width:100%;
	z-index:-5;
	display: none;
}
/*
------------------------------------------------------------
		  Menu left  
------------------------------------------------------------
*/
#left_menu {
	background-color: #3484c2;
	float: left;
	position:absolute;
	left:0px;
	top: 45px;
	z-index: 48;
}
.main_menu {
	margin: 0;
	padding: 0;
	float: left;
	width: 200px;
	list-style: none;
	display: block;
}
.main_menu li {
	width: 100%;
	border-bottom: 1px solid #054181;
	border-top: 1px solid #1A5BA0;
	display: block;
	text-transform: capitalize;
}
.main_menu li.active {
	height: auto;
}
.main_menu li ul {
	color: #FFF;
	font-weight: bold;
	text-shadow: 0 2px 0 #000000;
	margin-bottom: 10px;
	float: left;
	display: block;
	width: 150px;
	border:1px white solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top:-52px;
	display: none;
	clear: both;
	background-position: right top;
	list-style: none;
	position: absolute;
	left: 200px;
	margin-left:10px;
	/*-webkit-box-shadow: 2px 2px 3px 2px #333333;
	-moz-box-shadow: 2px 2px 3px 2px #333333;
	box-shadow: 2px 2px 3px 2px #333333;*/
	background-image: url(../images/bg/214.png);
}
.main_menu li ul li {
	color: #FFF;
	font-weight: bold;
	text-shadow: 0 2px 0 #000000;
	height: 45px;
	background-image:none;
	border-bottom: 1px white solid;
	border-top: 1px white solid;
	width:auto;
 -webkit-transition: all .2s ease-out;
 -moz-transition:all.2s ease-out;
 -o-transition: all .2s ease-out;
 transition: all.2s ease-out;
	padding-left:0px;
	padding: 3px 0;
}
.main_menu li .arr {
	color: #FFF;
	font-weight: bold;
	text-shadow: 0 2px 0 #000000;
	position: absolute;
	width:6px;
	height: 100%;
	padding-left:10px;
	left:-16px;
	top:0;
	z-index: 100;
}
.main_menu li .arr span {
	position: absolute;
	background-image: url(../images/arr3.png);
	width:6px;
	height: 12px;
	top:20px;
	display:block;
	left: 9px;
}
.main_menu li ul li:hover {
	border-bottom: 1px white solid;
	border-top: 1px white solid;
	background-image:none;
	-webkit-box-shadow: inset 0px 0px 20px 1px #000000;
	-moz-box-shadow: inset 0px 0px 20px 1px #000000;
	box-shadow: inset 0px 0px 20px 1px #000000;
	list-style:none;
	padding-left:10px;
}
.main_menu li ul li:first-child {
	color: #FFF;
	font-weight: bold;
	text-shadow: 0 2px 0 #000000;
	border-bottom: none;
	border-top: 1px white solid;
	margin-bottom: 0px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.main_menu li ul li:last-child {
	color: #FFF;
	font-weight: bold;
	text-shadow: 0 2px 0 #000000;
	border-bottom: none;
	border-top: 1px white solid;
	margin-bottom: 0px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.main_menu li ul li a {
	color: #FFF;
	font-weight: bold;
	text-shadow: 0 2px 0 #000000;
	text-shadow:none;
	margin-left: 32px;
	color: #FFF;
	padding-top: 13px!important;
	padding-left: 0px!important;
}
.main_menu li ul li a img {
	margin-bottom: 2px;
	margin-right: 10px;
}
.main_menu li ul li a:hover {
	background-image: none;
	text-shadow:0 1px 0 #000000;
	color: #FFF;
	border: none;
}
.main_menu li a img {
	margin-right: 15px;
	border: 0;
	margin-bottom: -3px;
}
.main_menu li.select {
	/*background-image:url(../images/selectM.png);*/
	background-repeat:no-repeat;
	border-bottom: 1px white	solid;
	border-top: 1px white solid;
	background: #054181;
}
.main_menu li a {
	display: block;
	padding: 17px 7px 17px 10px;
	color: #FFF;
	font-weight: bold;
	text-shadow:0 2px 0 #000000;
 -webkit-transition: background-color .2s ease-out;
 -moz-transition: background-color .2s ease-out;
 -o-transition: background-color .2s ease-out;
 transition: background-color .2s ease-out;
}
.main_menu li a:hover, .main_menu li:hover {
	color: #FFF;
	text-shadow:0 2px 0 #000000;
	/*background-image:url(../images/foot.png);*/
	background: #054181;
}
.main_menu li:hover {
	border-top: 1px #1a5ba0 solid;
}
.main_menu li.select a:hover {
	/*background-image:url(../images/selectM.png);*/
	background: #054181;
}
.main_menu li.select ul li a:hover {
	background-image:none;
}
.iconmenu {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	width: 50px;
	top: 120px;
	position: absolute;
	z-index: 48;
	background-color:#1f1f1f;
}
.iconmenu li {
	width: 100%;
	display: block;
	border-bottom: 1px solid #171717;
	border-top: 1px solid #2a2a2a;
}
.iconmenu li.active {
	height: auto;
}
.iconmenu li ul {
	margin-bottom: 10px;
	float: left;
	display: block;
	width: 150px;
	border:1px #111111 solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top:-52px;
	display: none;
	clear: both;
	background-position: right top;
	list-style: none;
	position: absolute;
	left: 50px;
	margin-left:10px;
	-webkit-box-shadow: 2px 2px 3px 2px #333333;
	-moz-box-shadow: 2px 2px 3px 2px #333333;
	box-shadow: 2px 2px 3px 2px #333333;
	background-image: url(../images/bg/214.png);
}
.iconmenu li ul li {
	height: 45px;
	border-bottom: 1px #111111 solid;
	border-top: 1px #333333 solid;
	width:auto;
 -webkit-transition: all .2s ease-out;
 -moz-transition:all.2s ease-out;
 -o-transition: all .2s ease-out;
 transition: all.2s ease-out;
	padding-left:0px;
	padding: 3px 0;
	text-transform: capitalize;
}
.iconmenu li .arr {
	position: absolute;
	width:6px;
	height: 100%;
	padding-left:10px;
	left:-16px;
	top:0;
	z-index: 100;
}
.iconmenu li .arr span {
	position: absolute;
	background-image: url(../images/arr3.png);
	width:6px;
	height: 12px;
	top:20px;
	display:block;
	left: 9px;
}
.iconmenu li ul li:hover {
	border-bottom: 1px #111111 solid;
	border-top: 1px #333333 solid;
	background-image:none;
	-webkit-box-shadow: inset 0px 0px 20px 1px #000000;
	-moz-box-shadow: inset 0px 0px 20px 1px #000000;
	box-shadow: inset 0px 0px 20px 1px #000000;
	list-style:none;
	padding-left:10px;
}
.iconmenu li ul li:first-child {
	border-bottom: none;
	border-top: 1px #333333 solid;
	margin-bottom: 0px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.iconmenu li ul li:last-child {
	border-bottom: none;
	border-top: 1px #333333 solid;
	margin-bottom: 0px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.iconmenu li ul li a {
	text-shadow:none;
	margin-left: 32px;
	color: #FFF;
	padding-top: 13px!important;
	padding-left: 0px!important;
}
.iconmenu li ul li a img {
	margin-bottom: 2px;
	margin-right: 10px;
}
.iconmenu li ul li a:hover {
	background-image: none;
	text-shadow:0 1px 0 #000000;
	color: #FFF;
	border: none;
}
.iconmenu li a img {
	margin-right: 15px;
	border: 0;
	margin-bottom: -3px;
}
.iconmenu li.select {
	background-image:url(../images/selectM.png);
	background-repeat:no-repeat;
	border-bottom: 1px #3d3d42 solid;
	border-top: 1px #232328 solid;
}
.iconmenu li a {
	display: block;
	padding: 15px;
	color: #FFF;
	font-weight: bold;
	text-shadow:0 2px 0 #000000;
 -webkit-transition: background-color .2s ease-out;
 -moz-transition: background-color .2s ease-out;
 -o-transition: background-color .2s ease-out;
 transition: background-color .2s ease-out;
	margin: 3px 0px;
}
.iconmenu li a:hover {
	color: #FFF;
	text-shadow:0 2px 0 #000000;
	background-image:none;
}
.iconmenu li.select a:hover {
	background-repeat:no-repeat;
}
.iconmenu li.select ul li a:hover {
	background-image:none;
}
.menubottom {
	width: 200px;
	height: 45px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	background-image: url(../images/foot.png);
	display: none;
}
.menubottom .inner {
	padding:15px 5px
}
.menubottom .inner ul {
	margin-left:15px;
}
.menubottom .inner ul li {
	float:left;
	margin:0 25px
}
.menubottom .inner ul li:last-child img {
	margin-top:-3px;
}
#hide_panel {
	width: 220px;
	height: 62px;
	z-index: 48;
	position: absolute;
	display:none;
}
a#hide_menu {
	cursor: pointer;
	position: absolute;
	height: 21px;
	width: 91px;
	left: 240px;
	top: 145px;
	opacity:1;
	filter:alpha(opacity=100);
	background-image: url(../images/icon/options2.jpg);
	 -webkit-transition: background-color .2s ease-out;
	 -moz-transition: background-color .2s ease-out;
	 -o-transition: background-color .2s ease-out;
	 transition: background-color .2s ease-out;
	z-index: 8;
}
a#show_menu {
	display: none;
	position: fixed;
	top: 165px;
	left: 0px;
	cursor: pointer;
	background-image: url(../images/icon/options.jpg);
	width: 21px;
	height: 62px;
	z-index: 48;
}
a#show_menu_icon {
	display: none;
	position: absolute;
	left: 20px;
	top: 145px;
	cursor: pointer;
	background-image: url(../images/icon/options3.jpg);
	width: 61px;
	height: 21px;
	z-index: 100;
}
a#hide_menu_icon {
	cursor: pointer;
	position: absolute;
	height: 21px;
	width: 91px;
	left: 70px;
	top: 145px;
	opacity:1;
	filter:alpha(opacity=100);
	background-image: url(../images/icon/options2.jpg);
 -webkit-transition: background-color .2s ease-out;
 -moz-transition: background-color .2s ease-out;
 -o-transition: background-color .2s ease-out;
 transition: background-color .2s ease-out;
	z-index: 8;
	display: none;
}
a#hide_menu:hover, a#show_menu:hover, a#show_menu_icon:hover, a#hide_menu_icon:hover {
	opacity:0.5;
	filter:alpha(opacity=50);
}
.show {
	display: block;
}
.hide {
	display: none;
}
/*
------------------------------------------------------------
	 Menu shortcut  ( 4 icon show ) in top page
------------------------------------------------------------
*/
#shortcut {
	list-style: none;
	display: block;
	margin-top: 35px;
	font-size: 11px;
	float: right;
	margin-bottom: 0px;
	padding-bottom: 21px;
}
#shortcut li {
	display: block;
	float: left;
	margin: 0 0px 0px 20px;
	text-align: center;
}
#shortcut li a {
	display: block;
	width: 50px;
	padding: 10px 15px 10px 15px;
	color: #4c535b;
	text-shadow:0 1px 0 #ffffff;
}
#shortcut li a img {
	margin-bottom: 0px;
}
#shortcut li .notification {
	color: #ffffff;
	font-weight: bold;
	text-shadow: 1px 0 0 #333333;
	background: transparent url('../images/bg_notification.png') no-repeat center;
	width: 37px;
	height: 37px;
	text-align: center;
	line-height: 37px;
	position: absolute;
	margin-top: -75px;
	margin-left: 40px;
}
#content {
	margin-left:240px;
	padding: 0px 10px 0 0;
	min-width: 690px;
}
#content .inner {
	width: 98%;
	padding-top: 55px;
}
#content .inner .logo {
	float: left;
	padding: 45px 0 10px 0;
	/*background-image: url(../images/logo/logo_gale2.png);*/
	width: 225px;
	height: 90px;
	background-repeat: no-repeat;
	background-position: center bottom;
}
/*
------------------------------------------------------------
	 one column
------------------------------------------------------------
*/

.topcolumn {
	width: 100%;
	min-width: 688px;
}
.onecolumn {
	width: 100%;
	border: 1px solid #cdcdcd;
	margin: 0px 0 20px 0;/*	min-width: 688px;*/
}
.onecolumn.noborder {
	border : none;
}
.onecolumn .header.border {
	border:1px solid #cdcdcd;
	border-bottom:none;
}
.onecolumn .colla {
	width:50px;
	height:5px;
	background-image:url(../images/colla.png);
	background-repeat:repeat-x;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -3px;
	margin-left: -25px;
	opacity:0.5;
	filter:alpha(opacity=50);
	padding: 0 20px;
}
.onecolumn .colla:hover {
	opacity:1;
	filter:alpha(opacity=100);
	cursor:pointer;
}
.onecolumn .header {
	margin: 0;
	padding: 0;
	float: left;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 19%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(19%, #ffffff), color-stop(100%, #ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 19%, #ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 19%, #ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 19%, #ededed 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 19%, #ededed 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );/*  IE6-9 */
	width: 100%;
	height: 40px;
	border-bottom: 0px solid #cccccc;
	position: relative;
}
.onecolumn .header span {
	display: block;
	font-size: 14px;
	font-weight: bold;
	padding: 11px 0 0 15px;
	float: left;
	color: #808080;
}
.onecolumn .header span img {
	margin-right:5px;
}
.onecolumn .content {
	background: #ffffff url("../images/inner-shadow.png") repeat-x;
	border-top: 1px solid #cecece;
	padding: 15px 25px;
	min-height: 50px;
}


.onecolumn2 {
	border: 1px solid #cdcdcd;
	margin: 0px 0 20px 0;/*	min-width: 688px;*/
}
.onecolumn2.noborder {
	border : none;
}
.onecolumn2 .header.border {
	border:1px solid #cdcdcd;
	border-bottom:none;
}
.onecolumn2 .colla {
	width:50px;
	height:5px;
	background-image:url(../images/colla.png);
	background-repeat:repeat-x;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -3px;
	margin-left: -25px;
	opacity:0.5;
	filter:alpha(opacity=50);
	padding: 0 20px;
}
.onecolumn2 .colla:hover {
	opacity:1;
	filter:alpha(opacity=100);
	cursor:pointer;
}
.onecolumn2 .header {
	margin: 0;
	padding: 0;
	float: left;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 19%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(19%, #ffffff), color-stop(100%, #ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 19%, #ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 19%, #ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 19%, #ededed 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 19%, #ededed 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );/*  IE6-9 */
	width: 100%;
	height: 40px;
	border-bottom: 0px solid #cccccc;
	position: relative;
}
.onecolumn2 .header span {
	display: block;
	font-size: 14px;
	font-weight: bold;
	padding: 11px 0 0 15px;
	float: left;
}
.onecolumn2 .header span img {
	margin-right:5px;
}
.onecolumn2 .content {
	background: #ffffff url("../images/inner-shadow.png") repeat-x;
	border-top: 1px solid #cecece;
	padding: 15px 25px;
	min-height: 50px;
}


#buttom_top {
	height: 20px;
	width: 50%;
	text-align: right;
	float: right;
	min-width:350px;
	padding: 7px 7px 0 0;
}
#buttom_top img {
	margin-bottom: -3px;
	padding-right: 0px;
}
/*
------------------------------------------------------------
	 two column
------------------------------------------------------------
*/
.column_left, .column_right {
	width: 48%;
	float: left;
	padding-left:1%;
	margin-bottom: 0px;
}
.column_left {
	padding-right:1%;
	padding-left: 10px;
}
.noshadow {
	-moz-box-shadow: 0 0 0 transparent;
	-webkit-box-shadow: 0 0 0 transparent;
	box-shadow: 0 0 0 transparent;
}
/*



------------------------------------------------------------
	 modal_dialog
------------------------------------------------------------
*/


.modal_dialog {
	width:550px;
	min-height:250px;
	margin-bottom:0;
	background-color:#FFF;
	text-shadow:none;
}
.modal_dialog .header {
	margin: 0;
	padding: 0;
	float: left;
	background-color:#000;
	width: 100%;
	height: 40px;
}
.modal_dialog .header span {
	display: block;
	font-size: 14px;
	font-weight: bold;
	color:#FFF;
	padding: 10px 0 0 15px;
	float: left;
	width: auto;
	cursor: n-resize;
	text-shadow:none;
}
.modal_dialog .header .close_me {
	float:right;
	color: #FFF;
	padding:12px 10px 0 0;
}
.modal_dialog .header .close_me a {
	color: white;
	font-size:9px;
	font-family:Verdana, Arial, "Bitstream Vera Sans", sans-serif;
	text-transform:uppercase;
	padding: 5px;
}
.modal_dialog .header .close_me a:hover {
	color: #dddddd;
}
.modal_dialog .header .close_me a img {
	margin-bottom:-3px
}
.modal_dialog .content {
	padding: 15px 25px;
	background-color:#eeeeee;
}
.modal_dialog form div.section {
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	padding: 0px 0 13px 0;
}
/* 
------------------------------------------------------------
	  filestyle
------------------------------------------------------------
*/
.txtpart {
	padding-top:50px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#aaaaaa;
	display:block;
	padding-left:5px;
}
/*
------------------------------------------------------------
	 mutiupload
------------------------------------------------------------
*/
.upload-group {
	background: #fafafa;
	height: 38px;
	border-top: none;
	width:auto;
	padding: 0 20px;
}
#uploadButton {
	height:26px;
	opacity:0.9;
	filter:alpha(opacity=90);
	position:absolute;
	width:92px;
	float: left;
	z-index: 5;
	margin-left: 20px;
}
#uploadButton_edit {
	height:26px;
	opacity:0.9;
	filter:alpha(opacity=90);
	position:absolute;
	width:92px;
	float: left;
	z-index: 5;
	margin-left: 20px;
}
#uploadButtondisable {
	height:26px;
	opacity:0.2;
	filter:alpha(opacity=20);
	position:absolute;
	width:87px;
	float: left;
	z-index: 5;
	margin-left: 115px;
}
#uploadButtondisable_edit {
	height:26px;
	opacity:0.2;
	filter:alpha(opacity=20);
	position:absolute;
	width:87px;
	float: left;
	z-index: 5;
	margin-left: 115px;
}
#uploadButtondisable.uploadme {
	height:26px;
	opacity:0.2;
	filter:alpha(opacity=20);
	position:absolute;
	width:160px;
	float: left;
	z-index: 5;
	margin-left: 0px;
}
#status-message, #status-message_edit {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-transform: capitalize;
	text-align: right;
	color: #666;
	padding-left: 5px;
}
.demo-box {
	width: auto;
}
.uploadifyQueueItem {
	background-color: #FFFFFF;
	border: none;
	border-bottom: 1px solid #E5E5E5;
	height: 50px;
	padding: 10px;
}
.uploadifyError {
	background-color: #FDE5DD !important;
	border: none !important;
	border-bottom: 1px solid #FBCBBC !important;
}
.uploadifyQueueItem .cancel {
	float: right;
}
.uploadifyQueue .completed {
	color: #C5C5C5;
}
.uploadifyProgress {
	background-color: #E5E5E5;
	margin-top: 10px;
	width: 100%;
}
.uploadifyProgressBar {
	background-color: #bedd17;
	height: 20px;
	width: 1px;
}
.custom-queue {
	border: 1px solid #E5E5E5;
	min-height: 71px;
	width: auto;
	background-color: #FFF;
	background-image: url(../components/uploadify/add.png);
	background-position: center center;
	background-repeat: no-repeat;
}
.custom-queue.dialog {
	min-height: 355px;
	width: 100%;
}
#open_file {
	width: 100px;
	position:relative;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	margin:0 3px 3px 0;
	padding:1px 0;
	text-align:center;
	border:1px solid #ccc;
	background-color:#eee;
	padding:.3em .7em;
	cursor:pointer;
}
/*
------------------------------------------------------------
	 Gallery Album 
------------------------------------------------------------
*/

#albumsList {
	margin-top:10px;
	max-height:528px;
	min-height:528px;
	border-right: 1px #eeeeee solid;
	float: left;
	margin-bottom: 20px;
}
.album_edit {
	float: left;
	border-right: 1px #eeeeee solid;
	margin-right: 20px;
	padding-right: 23px;
}
.album_edit h1 {
	color:#666;
	font-family:"Myriad Pro", Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	text-transform:uppercase;
	border-bottom: 1px #eeeeee solid;
	margin-bottom: 13px;
	line-height: 35px;
}
.album_edit h1 img {
	margin-bottom: -1px;
	margin-right: 5px;
}
.albumpics {
	max-height: 465px;
	min-height: 465px;
	border-right: 1px #eeeeee solid;
	border: 1px #eeeeee solid;
	/*	padding-left: 10px;*/
	padding-top: 10px;
	width:auto;
}
.albumpics li {
	background-color:#333;
}
.albumpics li img {
	opacity:0.7;
	filter:alpha(opacity=70);
}
.albumImage {
	float: left;/*	margin: 0 10px 10px 2px;*/
}
#imagearea {
	padding:0px;
	margin:40px;
	border:1px solid #ccc;
}
.imageContainer {
	margin: 3px;
	-webkit-user-select: none;
	position: relative;
	float: left;
	padding: 0px;
}
.imageContainer a {
	margin: 0px;
	padding: 0px;
}
.imageContainer div:hover {
	-webkit-box-shadow: #d90 0px 0px 6px 2px;
	-moz-box-shadow: #d90 0px 0px 6px 2px;
	box-shadow: #d90 0px 0px 6px 2px;
	-webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
	-moz-transition: -moz-box-shadow 0.3s ease-in-out;
	transition: box-shadow 0.3s ease-in-out;
}
.picHolder {
	/*	border: 1px #aaaaaa solid;*/
position:relative;
	-moz-transition: all 0.25s ease;
	-webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.picHolder:hover {
	-moz-transform: scale(1.1) rotate(0deg);
	-webkit-transform: scale(1.1) rotate(0deg);
	-o-transform: scale(1.1) rotate(0deg);
	-ms-transform: scale(1.1) rotate(0deg);
	transform: scale(1.1) rotate(0deg);
	-moz-box-shadow:0px 0px 10px #000000;
	-webkit-box-shadow:0px 0px 10px #000000;
	box-shadow:0px 0px 10px #000000;
	z-index:11;
}
.picHolder:hover img {
	opacity:1;
	filter:alpha(opacity=100);
}
.image_highlight {
	z-index:10;
	display:block;
	width:160px;
	height:120px;
	background:url("../images/pic_highlight.png") no-repeat top left;
	position: absolute;
}
.expandIcon {
	background:url("../images/pen_icon.html") no-repeat left top;
	cursor:pointer;
	display:none;
	height:25px;
	position:absolute;
	right:0px;
	top:0px;
	width:28px;
	z-index:10;
}
.picPreview {
	position:relative;
	text-align: left;
	margin: auto;
	border:1px solid #dddddd;
	-moz-box-shadow:1px 1px 2px #f5f5f5;
	-webkit-box-shadow:1px 1px 2px #f5f5f5;
	box-shadow:1px 1px 2px #f5f5f5;
}
.picPreview-hover {
	border:1px dashed #aaaaaa;
	-moz-box-shadow:1px 1px 2px #eeeeee;
	-webkit-box-shadow:1px 1px 2px #eeeeee;
	box-shadow:1px 1px 2px #eeeeee;
}
.picPreviewLabel {
	text-align: center;
	margin: 10px 0 0px 0;
	color: #F00;
	font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
	text-shadow:none;
}
.albumImagePreview {
	margin-top: 8px;
	height: 420px;
	/*	min-width: 720px;*/
	margin-left: 208px;
	margin-right: 18px;
	display: none;
}
.albumPanel {
	text-align: center;
	position: absolute;
	margin-left: 8%;
	margin-top: 390px;
}
.hr {
	background-color:#FFF;
	border-bottom:1px solid #ffffff;
	height:1px;
	margin:5px 0;
	overflow:hidden;
}
.title, .stats {
	padding:2px;
	max-width: 146px;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}
.title {
	padding: 4px 0px 2px 2px;
}
.stats {
	color:#777777;
	padding-top:0px;
	text-transform:uppercase;
	font-size: 10px;
	padding-bottom: 0px;
}
div.album {
	border-width:1px;
	cursor:pointer;
	font-family:Myriad Pro, Arial, Helvetica, sans-serif;
	padding:14px 28px 10px 19px;
}
div.album.float {
	float:left;
}
 div.album:nth-child(odd) {
 border-color:#383838 #383838 black;
}
 div.album:last-child:nth-child(odd) {
 border-bottom-color:#383838;
}
div.album:last-child {
	border-bottom-color:#444444;
}
div.album.dragging {
	border-left: 4px #dddddd solid;
	padding-left: 15px;
}
div.album.selected {
	background-color:#f9f9f9;
	border-left: 4px #4D90F0 solid;
	padding-left: 15px;
}
div#animate {
	border: 4px solid #4D90F0;
	border-top: none;
	border-right: none;
	border-bottom: none;
	position: absolute;
	z-index: 10000;
}
.album.over {
	background-color:#f4f4f4;
}
.preview {
	min-height: 106px;
	width: 138px;
	display:block;
	clear:both;
}
img.stackphotos {
	border: none;
	text-decoration: none;
	position: absolute;
	margin-left:0px;
	width: 130px;
	position: absolute;
	border: 1px solid #BBB;
	z-index: 20;
	-moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
	padding: 2px;
	background-color: #FFF;
}
.preview #p1:hover {
	-moz-transform: scale(1.1) rotate(0deg);
	-webkit-transform: scale(1.1) rotate(0deg);
	-o-transform: scale(1.1) rotate(0deg);
	-ms-transform: scale(1.1) rotate(0deg);
	transform: scale(1.1) rotate(0deg);
}
.preview #photo1, .preview #p1 {/* position of middle photo in the stack */
	margin-left:6px;
	margin-top:4px;
}
.preview #photo2 {/* position of middle photo in the stack */
	margin-left:3px;
	margin-top:2px;
}
.preview #photo3 {/* position of first photo at the top in the stack */
}
.preview .rotate1 {/* rotate last image 15 degrees to the right */
	-webkit-transform: rotate(15deg); /* safari and chrome */
	-moz-transform: rotate(15deg);/*firefox browsers */
	transform: rotate(15deg);/*other */
	-ms-transform:rotate(15deg); /* Internet Explorer 9 */
	-o-transform:rotate(15deg); /* Opera */
}
.preview .rotate2 {/* css not used*/
	-webkit-transform: rotate(0deg); /* safari and chrome */
	-moz-transform: rotate(0deg);/*firefox browsers */
	transform: rotate(0deg);/*other */
	-ms-transform:rotate(0deg); /* Internet Explorer 9 */
	-o-transform:rotate(0deg); /* Opera */
}
.preview .rotate3 {/*rotate first image 15 degrees to the left*/
	-webkit-transform: rotate(-15deg); /* safari and chrome */
	-moz-transform: rotate(-15deg); /*firefox browsers */
	transform: rotate(-15deg);/*other */
	-ms-transform:rotate(-15deg); /* Internet Explorer 9 */
	-o-transform:rotate(-15deg); /* Opera */
	cursor: pointer;
}
.picTitle {
	background-color:#3C3C3C;
	color:#DDDDDD;
	font-size:0.825em;
	margin:10px auto 0;
	overflow:hidden;
	padding:4px 6px;
	text-align:center;
	text-shadow:0 0 1px black;
	white-space:nowrap;
	position: absolute;
	display: none;
	margin-top: -20px;
	z-index: 11;
	width: auto;
	max-width: 148px;
	cursor: pointer;
}
.screen-msg {
	color:#AAAAAA;
	font-size:10px;
	letter-spacing:1px;
	text-align:center;
	text-transform:uppercase;
	line-height:470px;
}
.screen-msg span {
	margin-right: 7px;
	margin-bottom: -5px;
}
.screen-msg span img {
	margin-bottom: -7px;
}
/*
------------------------------------------------------------
	 UI slider demo 
------------------------------------------------------------
*/

#amount, #amount2, #amount3 {
	font-size:14px;
	color:#F96;
	font-weight:700;
}
#red, #green, #blue {
	display:block;
	margin: 15px 0 15px 0;
	width:300px;
}
#swatch {
	width:200px;
	height: 120px;
	background-image: none;
}
#red .ui-slider-range {
	background: #ef2929;
	background-image: linear-gradient(bottom, rgb(148,22,22) 0%, rgb(239,41,41) 31%);
	background-image: -o-linear-gradient(bottom, rgb(148,22,22) 0%, rgb(239,41,41) 31%);
	background-image: -moz-linear-gradient(bottom, rgb(148,22,22) 0%, rgb(239,41,41) 31%);
	background-image: -webkit-linear-gradient(bottom, rgb(148,22,22) 0%, rgb(239,41,41) 31%);
	background-image: -ms-linear-gradient(bottom, rgb(148,22,22) 0%, rgb(239,41,41) 31%);
}
#blue .ui-slider-range {
	background: #729fcf;
	background-image: linear-gradient(bottom, rgb(64,93,122) 0%, rgb(114,159,207) 31%);
	background-image: -o-linear-gradient(bottom, rgb(64,93,122) 0%, rgb(114,159,207) 31%);
	background-image: -moz-linear-gradient(bottom, rgb(64,93,122) 0%, rgb(114,159,207) 31%);
	background-image: -webkit-linear-gradient(bottom, rgb(64,93,122) 0%, rgb(114,159,207) 31%);
	background-image: -ms-linear-gradient(bottom, rgb(64,93,122) 0%, rgb(114,159,207) 31%);
}
#eq span {
	height: 130px;
	float: left;
	margin-right: 35px;
	display: block;
}
/*
------------------------------------------------------------
	 chart demo 
------------------------------------------------------------
*/
#tooltip, #tooltipPie, .legendBG {
	background-color: #ffffff;
	text-align:center;
	border:2px #CCCCCC solid;
	cursor:pointer;
	font-size:11px;
	padding:10px;
	text-shadow:none;
	color:#aaaaaa;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	-moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	-moz-box-shadow: 2px 2px 2px #aaaaaa;
	-webkit-box-shadow: 2px 2px 2px #aaaaaa;
	box-shadow: 2px 2px 2px #aaaaaa;
	opacity: 0.8;
 -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity = 80);
	filter: alpha(opacity = 80);
}
.legendBG {
	margin-top:-30px;
	-moz-box-shadow: 2px 2px 2px #eeeeee;
	-webkit-box-shadow: 2px 2px 2px #eeeeee;
	box-shadow: 2px 2px 2px #eeeeee;
	padding:7px 10px;
}
#tooltip {
	margin-top:-5px;
}
#tooltip b, #tooltipPie b {
	color:#000;
}
#tooltipPie:hover {
	opacity: 1;
	filter: alpha(opacity = 100);
	-moz-box-shadow: 2px 2px 2px #999999;
	-webkit-box-shadow: 2px 2px 2px #999999;
	box-shadow: 2px 2px 2px #999999;
	-moz-transform: scale(1.1) rotate(0deg);
	-webkit-transform: scale(1.1) rotate(0deg);
	-o-transform: scale(1.1) rotate(0deg);
	-ms-transform: scale(1.1) rotate(0deg);
	transform: scale(1.1) rotate(0deg);
}
.chart_title {
	text-align:center;
	padding:10px 10px 10px 10px;
	margin-bottom:10px;
	font-weight:700;
}
.legend {
}
.chart_title span {
	text-transform:uppercase;
	padding:10px;
	border:1px solid #dddddd;
	-moz-box-shadow:1px 1px 2px #f5f5f5;
	-webkit-box-shadow:1px 1px 2px #f5f5f5;
	box-shadow:1px 1px 2px #f5f5f5;
	position: relative;
	padding: 10px 20px;
	margin: 0 0px 10px 0px;
	background-color: #f5f5f5;
 -webkit-transition: background-color .2s ease-out;
 -moz-transition: background-color .2s ease-out;
 -o-transition: background-color .2s ease-out;
 transition: background-color .2s ease-out;
}
.chart-pie-shadow {
	background-image:url(../images/chaft-shadow.png);
	height:14px;
	background-repeat:no-repeat;
	background-position:center center;
	margin-top:-18px;
	margin-bottom:10px;
}
/*
------------------------------------------------------------
	 UI Spinner 
------------------------------------------------------------
*/
.ui-spinner {
	width: 10em;
	display: block;
	position: relative;
	overflow: hidden;
	border: solid 1px #dddddd;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
.ui-spinner:hover, .ui-spinner:focus {
	border-color: #C9C9C9;
	-moz-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}
.ui-spinner-disabled {
	background: #F4F4F4;
	color: #CCC;
}
.ui-spinner input.ui-spinner-box {
	border: none!important;
	background: none!important;
	box-shadow: none!important;
	line-height: 30px;
	height: 30px;/*	padding: 6px 0!important;*/
}
.ui-spinner-up, .ui-spinner-down {
	width: 18px;
	padding: 0;
	margin: 0;
	z-index: 0;
	position: absolute;
	right: 0;
	cursor: pointer;
	border: none;
}
.ui-spinner-up {
	background: url(../images/forms/spinnerTop.png) no-repeat;
	height: 15px;
	top: 0;
}
.ui-spinner-down {
	height: 15px;
	bottom: 0px;
	background: url(../images/forms/spinnerBottom.png) no-repeat;
}
.ui-spinner-pressed {
}
.ui-spinner-list, .ui-spinner-listitem {
	margin: 0;
	padding: 0;
	font-size: 11px;
}
.ui-spinner ul li, .ui-spinner-data {
	line-height: 30px;
	height: 30px;
	padding: 0 6px;
}
/*
------------------------------------------------------------
	custom-checkbox
------------------------------------------------------------
*/
.custom-checkbox, .custom-radio {
	position: relative;
	display:inline-block;
	margin: 0px 3px 3px 0px;
}
.custom-checkbox input, .custom-radio input {
	position: absolute;
	left: 0px;
	top: 3px;
	margin: 0;
	z-index: 0;
	margin-bottom: 5px;
	opacity:0;
	filter:alpha(opacity=0);
}
.custom-checkbox label, .custom-radio label {
	display: inline-block;
	height: 17px;
	position: relative;
	z-index: 1;
	font-size: 1.1em;
	padding-right: 1em;
	line-height: 1;
	padding: 7px 5px 5px 28px;
	cursor: pointer;
}
table .custom-checkbox label {
	padding: 0px 15px 0px 0px!important;
	border-right:1px #dddddd solid!important;
	position:absolute;
	top:-13px;
	height:25px;
	width:22px;
}
table.static .custom-checkbox label {
	left:-15px!important;
}
.custom-checkbox label.disabled {
	opacity:0.7;
	filter:alpha(opacity=70);
	background-position: -10px -513px;
}
.custom-radio label.disabled {
	opacity:0.7;
	filter:alpha(opacity=70);
	background-position: -10px -414px;
}
.custom-checkbox label.checkedDisabled {
	opacity:0.7;
	filter:alpha(opacity=70);
	color:#aaaaaa;
	background-position: -10px -413px;
}
.custom-checkbox label {
	background: url(../images/checkbox.png) no-repeat;
}
.custom-radio label {
	background: url(../images/radiobutton.png) no-repeat;
}
.custom-checkbox label, .custom-radio label {
	background-position: -10px -14px;
}
.custom-checkbox label.hover, .custom-checkbox label.focus, .custom-radio label.hover, .custom-radio label.focus {
	background-position: -10px -114px;
}
.custom-checkbox label.checked, .custom-radio label.checked {
	background-position: -10px -214px;
}
.custom-checkbox label.checkedHover, .custom-checkbox label.checkedFocus {
	background-position: -10px -314px;
}
.custom-checkbox label.focus, .custom-radio label.focus {
	outline: none;
}
#footer {
	margin: 20px 0 10px 0;
	padding: 10px 0 20px 0;
	border-top: 1px solid #eeeeee;
	font-size: 10px;
	color: #999999;
}
/*
------------------------------------------------------------
	error pages 
------------------------------------------------------------
*/
.slideshow-block {
	position: absolute;
	width: 220px;
	height: 180px;
	top:60px;
	left:30px;
	overflow: hidden;
	background-color:#000;
}
a.link {
	position:absolute;
	height: 180px;
	width: 220px;
	display: block;
	z-index: 10;
}
.slides {
	z-index:0;
	visibility:hidden;
}
.slides.active {
	visibility:visible;
}
#tv-wrap {
	margin:0 auto 20px auto;
	position:relative;
	height:273px;
	width:300px;
}
#tv {
	position:absolute;
	z-index:10;
}
#text {
	text-align:center;
	text-transform:uppercase;
	-webkit-tranform:translateZ(0);
	-webkit-transition-duration:0.05s;
	-moz-tranform:translateZ(0);
	color:#000000;
	text-shadow:0 0 1px rgba(0, 0, 0, .2);
	height: 100px;
}
#text h1 {
	font-size:50px;
	color:#000000;
	border:none;
}
#text h2 {
	font-size:20px;
	color:#000000;
	border:none;
}
.errorpage {
	width:600px;
	margin-left:-300px;
	position:absolute;
	left:50%;
	top:50%;
	height: 400px;
	margin-top: -200px;
}
/*
------------------------------------------------------------
	profile Setting 
------------------------------------------------------------
*/
.profileSetting {
	padding:10px 0;
}
.profileSetting .avartar {
	padding:8px 0;
	width:200px;
	margin:0 auto;
}
.profileSetting .avartar span {
	display:block;
	margin:5px 5px 0px 5px;
	color:#aaaaaa;
}
.webcam {
	display:none;
}
#screen {
	width:250px;
	height:250px;
	margin:5px 0px 20px 0px;
	border:2px #f5f5f5 solid;
	background:#000000;
	text-align: center;
	color:#666;
}
/*
------------------------------------------------------------
	comment  
------------------------------------------------------------
*/
.comment {
	width:auto;
	border-left:1px #eeeeee solid;
	color:#666666;
	margin-left: 17%;
}
.comment .avartar {
	margin:0 35px;
	padding:10px;
	position:absolute;
	border:1px #d9d9d9 solid;
	background-color:#fafafa;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 1px 1px 5px #cccccc;
	-webkit-box-shadow: 1px 1px 5px #cccccc;
	box-shadow: 1px 1px 5px #cccccc;
}
.comment .avartar img {
	width:40px;
	height:40px;
}
.comment .msg {
	margin:20px 55px 15px 0px;
	position: relative;
	border:1px #dddddd solid;
	margin-left: 115px;
	min-height:40px;
	padding:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 1px 1px 5px #eeeeee;
	-webkit-box-shadow: 1px 1px 5px #eeeeee;
	box-shadow: 1px 1px 5px #eeeeee;
}
.comment .msg span {
	width:50%;
	display:inline-block;
	text-align: right;
	color:#aaaaaa;
}
.comment .msg span:first-child {
	text-align:left;
	color:#000000;
}
.comment .bodyMsg {
	padding-top:5px;
}
.comment .toolMsg {
	position: absolute;
	/*	border:1px #222222 solid;*/
	text-align:right;
	right:-50px;
	width:55px;
	height:100%;
	top:-1px;
	display:none;
}
.comment .toolMsg span.iconReply, .comment .toolMsg span.iconEdit, .comment .toolMsg span.iconDelete {
	position: absolute;
	display:block;
	width:20px;
	height:20px;
	margin-top:-10px;
	margin-left:15px;
	top:50%;
	background-repeat:no-repeat;
	background-position:center;
	cursor:pointer;
}
.comment .toolMsg span.iconReply {
	width:44px;
	background-image:url(../images/icon/icon_reply_comment.png);
}
.comment .toolMsg span.iconEdit {
	margin-top:-22px;
	margin-left:15px;
	background-image:url(../images/icon/icon_edit_comment.png);
}
.comment .toolMsg span.iconDelete {
	background-image:url(../images/icon/icon_delete_comment.png);
	margin-top:3px;
}
.comment .reply {
	padding-left:40px;
	background-image:url(../images/arrReply.png);
	background-position:45px 25px;
	background-repeat:no-repeat;
}
.commentMsg {
	margin:10px 55px 0 0px;
	text-align:right;
}
.commentMsg .newComment {
	/*	margin-left:115px;*/
margin-left:35px;
	margin-right:20px;
}
.commentMsg textarea {
	width:100%;
	padding-left:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.commentMsg div {
	margin:10px 0;
	position:relative;
	right:-20px;
}
.userOnline {
	width:17%;
	float:left;
	height:100%;
	position: relative;
	padding-top:14px;
}
.userOnline li {
	background-color:#fbfbfb;
	border-bottom:1px #eeeeee solid;
	border-top:1px #fafafa solid;
	position:relative;
}
.userOnline li:hover {
	background-color:#eaf7ff;
}
.userOnline li.selected {
	background-color:#ffffff;
	background-image:none;
	border-right:1px #ffffff solid;
	left:1px;
	z-index:10;
}
.userOnline li a.statusOnline {
	background-image:url(../images/icon/bullet_green.png);
}
.userOnline li a.statusOffline {
	background-image:url(../images/icon/bullet_red.png);
}
.userOnline li a {
	padding:15px 25px;
	display:block;
	background-position:5px center;
	background-repeat:no-repeat;
}
/*   
  SmartWizard 
  */
.swMain {
	position:relative;
	display:block;
	margin:0;
	padding:0;
	overflow:visible;
	float:left;
	width:100%;
}
.swMain .stepContainer {
	display:block;
	position: relative;
	margin: 0;
	padding:0;
	overflow:hidden;
	clear:both;
	margin-bottom: 20px;
}
.swMain .stepContainer div.content {
	display:block;
	border:none;
	background-image:none;
	position: absolute;
	float:left;
	margin: 0;
	padding:0;
	text-align:left;
	overflow:visible;
	width:auto;
	clear:both;
}
.swMain div.actionBar {
	border-top:             1px solid #eeeeee;
	padding:            10px;
	background-color:   #F8F8F8;
	text-align:right;
	left:0;
}
.swMain ul.anchor {
	position: relative;
	display:block;
	float:left;
	padding: 0px;
	margin: 10px 0;
	clear: both;
	border-bottom: 1px solid #cccccc; 
	width: 100%;
}
.swMain ul.anchor li {
	position: relative;
	display:block;
	margin: 0;
	padding: 0;
	padding-right: 6px;
	border: 0px solid #E0E0E0;
	float: left;
	top: 1px;
}
.swMain ul.anchor li a {
	display:block;
	position:relative;
	float:left;
	margin:0;
	padding:3px;
	width:auto;
	outline-style:none;
}
.swMain ul.anchor li a .stepNumber {
	position:relative;
	font-family:"Myriad Pro", Arial, Helvetica, sans-serif;
	float:left;
	width:30px;
	text-align: center;
	padding:5px;
	padding-top:0;
	font-size:40px;
}
.swMain ul.anchor li a .stepDesc {
	position:relative;
	display:block;
	float:left;
	text-align: left;
	padding:10px 5px 5px 5px;
	font-size:16px;
	font-weight: bold;
	text-transform: uppercase;
}
.swMain ul.anchor li a .stepDesc small {
	font-size: 10px!important;
	font-family: Arial, Helvetica, sans-serif;
}
.swMain ul.anchor li a.selected {
	color:#666666;
	background: #c2e3f0;  
	border: 1px solid #73b4ce;
	cursor:text;
}
.swMain ul.anchor li a.selected:hover {
	background: #a9daed;
	cursor:pointer;
}
.swMain ul.anchor li a.done {
	position:relative;
	color:#FFF;
	background: #a4d143;
	border: 1px solid #8CC63F;
}
.swMain ul.anchor li a.done:hover {
	color:#5A5655;
	background: #8CC63F;
	border: 1px solid #5A5655;
}
.swMain ul.anchor li a.disabled {
	color:#CCCCCC;
	background: #F8F8F8;
	border: 1px solid #CCC;
	cursor:text;
}
.swMain ul.anchor li a.disabled:hover {
	color:#CCCCCC;
	background: #F8F8F8;
}
.swMain ul.anchor li a.error {
	color:#6c6c6c !important;
	background: #f08f75 !important;
	border: 1px solid #fb3500 !important;
}
.swMain ul.anchor li a.error:hover {
	color:#000 !important;
}
.swMain .buttonNext, .swMain .buttonPrevious {
	float:right;
}
.swMain .loader {
	position:relative;
	display:none;
	float:left;
	margin: 2px 0 0 2px;
	padding:8px 10px 8px 40px;
	border: 1px solid #FFD700;
	font: bold 13px Verdana, Arial, Helvetica, sans-serif;
	color:#5A5655;
	background: #FFF url(../images/loadder/loader_green.gif) no-repeat 5px;
	z-index:998;
}
/*   
  rating_star 
  */
.rating_star {
	padding: 0px;
	margin: 0px;
	float: left;
}
.rating_star li {
	line-height: 0px;
	width: 28px;
	height: 28px;
	padding: 0px;
	margin: 0px;
	margin-left: 2px;
	list-style: none;
	float: left;
	cursor: pointer;
}
.rating_star li span {
	display: none;
}
/*   
  dualListBox 
  */
.countLabel {
	color:#aaaaaa;
	display:block;
	font-style:italic;
	margin-top: 10px;
}
.storageBox {
	display:none;
}
#box1Filter, #box2Filter {
	background: url(../images/search-white.png) no-repeat 10px 5px #ffffff;
	border : 1px solid #dcdcdc;
	outline : 0;
	padding : 2px 5px 5px 30px;
	width : 166px;
	line-height: 15px!important;
	height:20px!important;
}
.boxMove {
	margin-top:140px;
}
#map-canvas {
	height: 600px;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
#map-mred {
	/*margin: -10px 0px 0px -40px;*/
	padding: 0px;
}
#map { 
	height: 500px;
}
@media only screen and (max-width: 1024px) {

.boxMove {
 margin-top:0px;
}

}


/*modified*/
.main_menu .fa{
	position: relative;
	width: 30px;
	height: 25px;
	top: 3px;
	margin-right: 9px;
	text-align: center;
}

