#colorPicker {
position: relative;
}
#colorPicker div { position: absolute; top: 0px; left: 0px; width: 30px; height: 30px; background: url(../images/select.png) center no-repeat; cursor: pointer; }
.colorpicker {
	width: 356px;
	height: 176px;
	overflow: hidden;
	position: absolute;
	background: url(../images/colorpicker_background.png);
	font-family: Arial, Helvetica, sans-serif;
	display: none;
}
.colorpicker_color {
	width: 150px;
	height: 150px;
	left: 14px;
	top: 13px;
	position: absolute;
	background: #f00;
	overflow: hidden;
	cursor: crosshair;
}
.colorpicker_color div {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(../images/colorpicker_overlay.png);
}
.colorpicker_color div div {
	position: absolute;
	top: 0;
	left: 0;
	width: 11px;
	height: 11px;
	overflow: hidden;
	background: url(../images/colorpicker_select.gif);
	margin: -5px 0 0 -5px;
}
.colorpicker_hue {
	position: absolute;
	top: 13px;
	left: 171px;
	width: 35px;
	height: 150px;
	cursor: n-resize;
}
.colorpicker_hue div {
	position: absolute;
	width: 35px;
	height: 9px;
	overflow: hidden;
	background: url(../images/colorpicker_indic.gif) left top;
	margin: -4px 0 0 0;
	left: 0px;
}
.colorpicker_new_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 213px;
	top: 13px;
	background: #f00;
}
.colorpicker_current_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 283px;
	top: 13px;
	background: #f00;
}
.colorpicker input {
	background-color: transparent;
	border: 1px solid transparent;
	position: absolute;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #898989;
	top: 4px;
	right: 11px;
		line-height: 11px;
	text-align: right;
	margin: 0;
	padding: 0;
	height: 11px;
		outline: none;
}
.colorpicker input:focus{
	outline: none;
	top: 4px;
	right: 11px;
	text-align: right;
	margin: 0;
	padding: 0;
	height: 11px;
}
.colorpicker_hex {
	position: absolute;
	width: 72px;
	height: 22px;
	background: url(../images/colorpicker_hex.png) top;
	left: 212px;
	top: 142px;
}
.colorpicker_hex input {
	right: 6px;
}
.colorpicker_field {
	height: 22px;
	width: 62px;
	background-position: top;
	position: absolute;
}
.colorpicker_field span {
	position: absolute;
	width: 12px;
	height: 22px;
	overflow: hidden;
	top: 0;
	right: 0;
	cursor: n-resize;
}
.colorpicker_rgb_r {
	background-image: url(../images/colorpicker_rgb_r.png);
	top: 52px;
	left: 212px;
}
.colorpicker_rgb_g {
	background-image: url(../images/colorpicker_rgb_g.png);
	top: 82px;
	left: 212px;
}
.colorpicker_rgb_b {
	background-image: url(../images/colorpicker_rgb_b.png);
	top: 112px;
	left: 212px;
}
.colorpicker_hsb_h {
	background-image: url(../images/colorpicker_hsb_h.png);
	top: 52px;
	left: 282px;
}
.colorpicker_hsb_s {
	background-image: url(../images/colorpicker_hsb_s.png);
	top: 82px;
	left: 282px;
}
.colorpicker_hsb_b {
	background-image: url(../images/colorpicker_hsb_b.png);
	top: 112px;
	left: 282px;
}
.colorpicker_submit {
	position: absolute;
	width: 22px;
	height: 22px;
	background: url(../images/colorpicker_submit.png) top;
	left: 322px;
	top: 142px;
	overflow: hidden;
}
.colorpicker_focus {
	background-position: center;
}
.colorpicker_hex.colorpicker_focus {
	background-position: bottom;
}
.colorpicker_submit.colorpicker_focus {
	background-position: bottom;
}
.colorpicker_slider {
	background-position: bottom;
}

/* file manager window */.el-finder {	width:100%;	min-width:400px;	border:1px solid #ccc;	background-color:#eee;	/*		border-radius:5px;		-moz-border-radius:5px;		-webkit-border-radius:5px;*/		font-family: Arial, Helvetica, sans-serif;	font-size: 12px;	z-index: 9999999;}.el-finder-undocked {	position:absolute;	min-width:400px;	border:1px solid #ccc;	padding:5px;	z-index: 9999999;}/* error messages */.el-finder-err {	padding: 15px;	text-align:center;	background: #fee; 	color: #cc0509; 	border: 2px #844 solid;	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}/* disabled */.el-finder-disabled .el-finder-toolbar li,.el-finder-disabled .el-finder-nav,.el-finder-disabled .el-finder-cwd { 	opacity:0.35; filter:Alpha(Opacity=35);}.el-finder .el-finder-droppable {	background-color:#99ccff;}.el-finder .ui-selected {	background-color:#ccc;/*	background-color:#c5e4f9;*/}.el-finder input {	margin:0;	padding:0;	outline:none;	border:1px solid #ccc;}/************************************//*             toolbar              *//************************************/         .el-finder-toolbar ul {	padding:5px 7px;	margin:0;	list-style:none;}.el-finder-toolbar ul li {	display: -moz-inline-stack;    display: inline-block;    zoom: 1;    *display: inline;	vertical-align: top;	height:22px; 	width:23px;	margin:0 2px;	padding:0;	background:url('../images/toolbar.png') no-repeat; 	border:1px solid #ccc;	border-radius:3px; 	-moz-border-radius:3px; 	-webkit-border-radius:3px;}.el-finder-toolbar ul li.delim { 	border:none;	width:3px;	background-position: 1px -610px;}.el-finder-toolbar ul li.el-finder-tb-hover {	border:1px solid #fff;	background-color:#ccc;}.el-finder-toolbar ul li.disabled { opacity:0.35; filter:Alpha(Opacity=35); }.el-finder-toolbar ul li.back       { background-position: 3px -171px; }.el-finder-toolbar ul li.reload     { background-position: 3px -192px; }.el-finder-toolbar ul li.select     { background-position: 3px -214px; }.el-finder-toolbar ul li.open       { background-position: 4px -235px; }.el-finder-toolbar ul li.mkdir      { background-position: 4px -258px; }.el-finder-toolbar ul li.mkfile     { background-position: 4px -280px; }.el-finder-toolbar ul li.upload     { background-position: 3px -305px; }.el-finder-toolbar ul li.rm         { background-position: 3px -330px; }.el-finder-toolbar ul li.copy       { background-position: 3px -356px; }.el-finder-toolbar ul li.paste      { background-position: 3px -381px; }.el-finder-toolbar ul li.rename     { background-position: 3px -407px; }.el-finder-toolbar ul li.edit       { background-position: 4px -435px; }.el-finder-toolbar ul li.info       { background-position: 3px -462px; }.el-finder-toolbar ul li.help       { background-position: 3px -487px; }.el-finder-toolbar ul li.icons      { background-position: 3px -537px; }.el-finder-toolbar ul li.list       { background-position: 3px -557px; }.el-finder-toolbar ul li.uncompress { background-position: 3px -583px; }.el-finder-toolbar ul li.resize     { background-position: 3px -656px; }.el-finder-toolbar ul li.quicklook  { background-position: 3px -726px; }.el-finder-dock-button {	width:19px;	height:19px;	float:right;	margin: 2px;	border:1px solid #ccc;	border-radius:3px; 	-moz-border-radius:3px; 	-webkit-border-radius:3px;	background:url('../images/toolbar.png') 2px -705px no-repeat; }.ui-dialog .el-finder-dock-button {	background-position:2px -681px;}.el-finder-dock-button-hover {	background-color:#ccc;	border:1px solid #fff;}/**********************************************************//*  workzone, container for navigation and current folder *//**********************************************************/.el-finder-workzone {	background-color:#fff;	border-top:1px solid #ccc;	border-bottom:1px solid #ccc;	position:relative;}.el-finder-spinner {/*			background: #000000 url(../images/preloader.gif) no-repeat 12px 10px;		font-size: 11px;		height: 20px;		left: 50%;		line-height: 20px;		margin: -20px 0 0 -45px;		padding: 10px;		position: fixed;		text-align: left;		text-indent: 36px;		top: 50%;		width: 90px;		z-index: 100001;		opacity:0.8;		filter:alpha(opacity=80);		-moz-border-radius: 12px;		-webkit-border-radius: 12px;		border-radius: 12px;		color: #FFF;		display: none;		text-shadow:none;*/			position:absolute;	top:37%;	left:37%;	width:250px;	height:50px;	background:transparent url(../images/spinner.gif) 50% 50% no-repeat;	display:none;}/* error in workzone */.el-finder-workzone p.el-finder-err {	display:none;	position:absolute;	left:37%;	top:20px;}/* navigation and current directory */.el-finder-nav, .el-finder-cwd {	height:350px;	overflow:auto;	padding:3px 1px;}/************************************//*             navigation           *//************************************/.el-finder-nav {	float:left;	width : 200px;	background:#fff;}.el-finder-nav .ui-resizable-e {	right:0;}/* folders tree */.el-finder-nav ul {	list-style:none;	margin:0;	padding:0;}.el-finder-nav ul li {	clear:both;}ul.el-finder-tree, ul.el-finder-places {	margin-bottom:1em;}.el-finder-nav ul li ul {	margin-left:12px;}.el-finder-nav ul div {	width:12px;	height:20px;	float:left;	margin-right:23px;}.el-finder-nav  a, .el-finder-nav  div.collapsed {	background-image:url(../images/toolbar.png);	background-repeat:no-repeat;}.el-finder-nav  div.collapsed {	background-position: -1px 7px;}.el-finder-nav div.expanded {	background-position: -1px -9px;}.el-finder-nav a {	display: block;	white-space:nowrap;	line-height:20px;	color:#444;	cursor:default;	text-decoration:none;	outline:none;	border-radius:3px; 	-moz-border-radius:3px; 	-webkit-border-radius:3px;	background-position: 15px -56px;}.el-finder-nav a.dropbox {	background-position: 15px -80px; }.el-finder-nav a.readonly {	background-position: 15px -104px; }.el-finder-nav a.noaccess {	background-position: 15px -750px; }.el-finder-nav a.selected {/*	background-color:#ccc;*/	background-color:#c5e4f9;	background-position: 15px -128px;}.el-finder-nav a.el-finder-tree-root { 	background-position: 15px -30px; 	font-weight:bold;}.el-finder-nav a.el-finder-places-root {	background-position: 15px -152px; 	font-weight:bold;}.el-finder-nav ul.el-finder-tree .el-finder-droppable {	background-position: 15px -237px; }/***********************************//*     current working directory    *//************************************/.el-finder-cwd {	border-left:1px solid #ccc;	padding:3px;}/********** view: icons  ************/.el-finder-cwd div {	width: 81px;	display: -moz-inline-stack;	display: inline-block;	vertical-align: top;	zoom: 1;	*display: inline;	margin:0 3px 3px 0;	padding:1px 0;	text-align:center;	border-radius:5px; 	-moz-border-radius:5px; 	-webkit-border-radius:5px;	color:#000;	background-color:transparent;}.el-finder-cwd p, .el-finder-ql p {	width:48px;	height:48px;	margin:1px auto;	padding:0;	border-radius:5px; 	-moz-border-radius:5px; 	-webkit-border-radius:5px;	background: url('../images/icons-big.png') -1px 1px no-repeat;}/* mimetypes */.directory p { background-position:  0     -50px; }.application p,.x-java p { background-position: -1px  -150px; }.audio p { background-position: -1px -300px; }.image p { background-position: -1px -250px;  }.text p, .x-empty p { background-position: -1px  -200px; }.video p  { background-position: -1px -350px; }.vnd-adobe-photoshop p, .postscript p    { background-position: 0 -250px; }/* texts */.rtf p, .rtfd p { background-position: 0 -400px; }.html p { background-position: 0 -550px; }.css p { background-position: 0 -600px; }.javascript p, .x-javascript p  { background-position: 0 -650px; }.x-perl p { background-position: 0 -700px; }.x-python p { background-position: 0 -750px; }.x-ruby p { background-position: 0 -800px; }.x-sh p, .x-shellscript p { background-position: 0 -850px; }.x-c p, .x-java-source p { background-position: 0 -900px; }.x-php p  { background-position: 0 -950px; }.xml p           { background-position: 0 -1000px; }/* applications */.vnd-ms-office p, .msword p, .vnd-ms-word p, .vnd-oasis-opendocument-text p,.ms-excel p,.vnd-ms-excel p,.vnd-oasis-opendocument-spreadsheet p,.vnd-ms-powerpoint p,.vnd-oasis-opendocument-presentation p { background-position: 0 -500px; }.pdf p { background-position: 0 -450px; }.x-shockwave-flash p { background-position: 0 -1250px; }/* archives */.zip p, .x-7z-compressed p { background-position: 0 -1050px; }.x-gzip p, .x-tar p  { background-position: 0 -1100px; }.x-bzip p, .x-bzip2 p { background-position: 0 -1150px; }.x-rar p, .x-rar-compressed p { background-position: 0 -1200px; }.el-finder-cwd div.el-finder-droppable p {	background-position: 0 -98px;}.el-finder-cwd label {	display:block;	font-size:11px;	line-height:13px;	padding:0 1px;	margin:0;	height:25px;	overflow:hidden;	cursor:default;}.el-finder-cwd div input { 	background:#fff; 	color:#000;	width:81px;	margin-left:-2px; 	outline:none; 	border:1px solid #ccc;	text-align:center;}.el-finder-cwd div em {	float:left;	margin-top:-40px;	margin-left:9px;	width:15px;	height:16px;	background:url(../images/icons-big.png) -17px -1310px no-repeat;}.el-finder-cwd div em.dropbox {	float:right;	margin-right:9px;	background-position: 0 -1308px;}.el-finder-cwd div em.noread {	float:right;	margin-right:9px;	background-position: 0 -1310px;}.el-finder-cwd div em.readonly {	float:right;	margin-right:9px;	background-position: -34px -1306px;}.el-finder-cwd div em.noaccess {	float:right;	margin-right:9px;	background-position: 0 -1430px;}/********** view: list  ************/.el-finder-cwd table {	width:100%;/*	*width:99%;*/	border-collapse: collapse;		border-spacing: 0;	border:1px solid #ccc;	border-top:0 solid;	border-left:0 solid;	margin:-3px -3px;}.el-finder-cwd table tr {	background:transparent;}.el-finder-cwd table tr.el-finder-row-odd {	background-color:#eee;}.el-finder-cwd table tr.ui-selected {	background-color:#ccc;}.el-finder-cwd table th,.el-finder-cwd table td {	padding:3px 5px;	border-left:1px solid #ccc;	cursor:default;	white-space:nowrap;	color:#000;	}.el-finder-cwd table th {	text-align:left;	background:#fbf9ee;	font-size:.86em;}.el-finder-cwd table td.icon {	width:24px;}.el-finder-cwd table  p {	width:24px;	height:16px;	margin:0;	padding:0;	background:url(../images/icons-small.png) 4px 0 no-repeat;}.el-finder-cwd table .size {	text-align:right;}tr.directory   p { background-position:4px  -16px; }tr.text        p { background-position:5px  -34px; }tr.image       p { background-position:4px  -51px; }tr.audio       p { background-position:4px  -70px; }tr.video       p { background-position:5px  -89px; }tr.application p { background-position:4px -108px; }/* text */tr.html          p  { background-position:5px  -188px; }tr.javascript    p,tr.x-javascript  p,tr.css   		 p,tr.x-sql   		 p,tr.xml   		 p,tr.x-python   	 p,tr.x-java-source p,tr.x-perl        p,tr.x-ruby        p  { background-position:5px  -228px; }tr.x-php         p  { background-position:5px  -247px; }tr.x-c           p  { background-position:5px  -208px; }tr.x-shellscript p, tr.x-sh          p  { background-position:5px  -168px; }tr.rtf p, tr.rtfd p { background-position:5px  -148px; }/* application */tr.x-shockwave-flash p { background-position:4px  -266px; }tr.pdf               p { background-position:4px  -285px; }tr.vnd-ms-office     p { background-position:4px  -325px; }tr.msword p,tr.vnd-oasis-opendocument-text  p,tr.vnd-ms-word p { background-position:4px -346px; }tr.vnd-ms-excel p,tr.ms-excel p,tr.vnd-oasis-opendocument-spreadsheet { background-position:4px -365px; }tr.vnd-ms-powerpoint p,tr.vnd-oasis-opendocument-presentation { background-position:4px -385px; }/* archives */tr.x-tar   p,tr.x-gzip  p,tr.x-bzip  p,tr.x-bzip2 p,tr.zip     p,tr.x-rar   p,tr.x-rar-compressed p,tr.x-7z-compressed  p { background-position:4px -305px; }tr.el-finder-droppable td.icon  p { background-position:5px -450px; }.el-finder-cwd table td p em {	float:left;	width:10px;	height:12px;	margin-top:5px;	background:url(../images/icons-small.png) 0px -405px no-repeat;}.el-finder-cwd table p em.readonly { background-position:0px -433px; }.el-finder-cwd table p em.dropbox  { background-position:0px -418px; }.el-finder-cwd table p em.noread, .el-finder-cwd table p em.noaccess { background-position:0px -470px; }/************************************//*              statusbar           *//************************************/.el-finder-statusbar {	height:20px;}.el-finder-stat,.el-finder-path,.el-finder-sel {	padding:3px 9px 1px 9px;	font-size:11px;	color:#555;}/* current directory path */.el-finder-path {	float:left;}/* number folders/files in current directory and size */.el-finder-stat {	float:right;}/* info about selected files */.el-finder-sel {	text-align:center;}/************************************//*           dialog window          *//************************************/.el-finder-dialog {	font-size:12px;		z-index: 9999999;}.el-finder-dialog form p, .el-finder-dialog .ui-tabs p {	margin:.5em;}.el-finder-dialog .ui-dialog-titlebar { 	padding: .2em .1em .1em .8em; }.el-finder-dialog .ui-dialog-buttonpane {	padding: .1em 1em .1em .4em; 	font-size:.9em;}.el-finder-dialog .ui-dialog-content {	padding:5px;}.el-finder-dialog hr {	border:0;	border-bottom: 1px #ccc solid;	clear:both}.el-finder-dialog ul {	margin-top:0;}.el-finder-dialog kbd { font-size:1.2em;}.el-finder-dialog a { outline: none;}.el-finder-dialog textarea { 	width:98.9%;	height:400px;	outline:none;	border:1px solid #ccc;	font-family: "Monaco", "Andale Mono", "Lucida Console", monospace;}.ui-state-error {	margin: 5px 0; 	padding:.5em;	clear:both;}.el-finder-dialog .ui-state-error .ui-icon {	float: left; 	margin-right: .3em;}.el-finder-add-field {	cursor:pointer;}.el-finder-add-field span {	float:left;	margin-right:.7em;}.el-finder-dialog table {	width : 100%;}.el-finder-dialog table td {	padding:2px 5px;}.el-finder-dialog .ui-tabs { 	font-size:.98em;}.el-finder-dialog .ui-tabs div {	padding:0 .5em;}.el-finder-dialog .ui-tabs-nav li a {	padding:.2em 1em;}/************************************//*            contextmenu           *//************************************/.el-finder-contextmenu { 	position:absolute;	width:200px;	background:#fff; 	color:#000;	cursor:default; 	border:1px solid #ccc;  	border-radius:5px; 	-moz-border-radius:5px; 	-webkit-border-radius:5px;	padding:5px 0;	}.el-finder-contextmenu div { 	position:relative;	display:block;	margin:0;	padding:4px 29px 4px 29px;	white-space:nowrap;	font:12px trebuchet ms,lucida grande,verdana,sans-serif;	background:url('../images/toolbar.png') 0 0 no-repeat;}.el-finder-contextmenu  span {	float:right;	width:9px;	height:18px;	margin-right:-27px;	background:url(../images/toolbar.png) -4px 5px no-repeat;}.el-finder-contextmenu  div.el-finder-contextmenu-sub {	position:absolute;	top:0;	display:none;	margin:0;	padding:5px 0;	background:#fff; 	border:1px solid #ccc;  	border-radius:5px; 	-moz-border-radius:5px; 	-webkit-border-radius:5px;}.el-finder-contextmenu div.reload     { background-position: 5px -192px; }.el-finder-contextmenu div.select     { background-position: 5px -214px; }.el-finder-contextmenu div.open       { background-position: 6px -235px; }.el-finder-contextmenu div.mkdir      { background-position: 6px -258px; }.el-finder-contextmenu div.mkfile     { background-position: 6px -280px; }.el-finder-contextmenu div.upload     { background-position: 5px -305px; }.el-finder-contextmenu div.rm         { background-position: 5px -330px; }.el-finder-contextmenu div.copy       { background-position: 5px -356px; }.el-finder-contextmenu div.cut        { background-position: 5px -631px; }.el-finder-contextmenu div.duplicate  { background-position: 5px -356px; }.el-finder-contextmenu div.paste      { background-position: 5px -381px; }.el-finder-contextmenu div.rename     { background-position: 5px -407px; }.el-finder-contextmenu div.edit       { background-position: 6px -435px; }.el-finder-contextmenu div.info       { background-position: 5px -462px; }.el-finder-contextmenu div.help       { background-position: 5px -487px; }.el-finder-contextmenu div.icons      { background-position: 5px -537px; }.el-finder-contextmenu div.list       { background-position: 5px -557px; }.el-finder-contextmenu div.archive    { background-position: 5px -583px; }.el-finder-contextmenu div.extract    { background-position: 5px -583px; }.el-finder-contextmenu div.resize     { background-position: 5px -655px; }.el-finder-contextmenu div.quicklook  { background-position: 5px -727px; }.el-finder-contextmenu div.delim { 	margin:0; 	padding:0; 	height:1px; 	border-top:1px solid #eee; 	background:transparent; 	display:block;}.el-finder-contextmenu div.hover { background-color:#99ccff; }.el-finder-places {	margin-top:.5em;}.el-finder-drag-helper {	padding:0;	cursor:move;	zoom:1;}.el-finder-drag-helper div {	border:0 solid;	margin-left:-57px;	}.el-finder-drag-copy {	background:url('../images/toolbar.png') 0 -771px no-repeat;}.el-finder-drag-helper label { 	border:1px solid #ccc; 	background-color:#eee;	border-radius:5px; 	-moz-border-radius:5px; 	-webkit-border-radius:5px;}/************************************//*             QuickLook            *//************************************/.el-finder-ql {	position:absolute;	width:420px;	height:auto;	padding:12px 9px;	text-align:center;	border-radius:9px; 	-moz-border-radius:9px; 	-webkit-border-radius:9px;	background:url(../images/ql.png);	overflow: inherit !important;}.el-finder-ql.directory p { background-position:  0     -50px; }/* toolbar */.el-finder-ql div.el-finder-ql-drag-handle {	height:18px;	font-size:14px;	background-color:#777;	margin:-12px -9px 12px -9px;	padding:3px 0 0 19px;	opacity:.8;	text-align:center;	white-space: nowrap;	overflow:hidden;	-moz-border-radius-topleft:9px; 	-moz-border-radius-topright:9px; 	-webkit-border-top-left-radius: 9px;	-webkit-border-top-right-radius: 9px; 	border-top-left-radius: 9px; 	border-top-right-radius: 9px;}/* close button */.el-finder-ql div.el-finder-ql-drag-handle span {	float:left;	margin:0 19px 0 -15px;}/* title in tolbar */.el-finder-ql div.el-finder-ql-drag-handle strong {	line-height:18px;	margin-left:-17px;	color:#fff;}.el-finder-ql div.el-finder-ql-media {	width:100%;	padding:0;}.el-finder-ql div.el-finder-ql-content {	width:100%;	font:.82em/1.3em trebuchet ms,lucida grande,verdana,sans-serif;	padding:5px 0;	overflow:hidden;}.el-finder-ql div.el-finder-ql-content span,.el-finder-ql div.el-finder-ql-content a {	display:block;	color: #fff;}/* text files preview */.el-finder-ql iframe {	background:#fff;	width:100%;	height:315px;	padding:0;	margin:0;	border:none;	outline:none;}/* images preview */.el-finder-ql img {	margin:0 auto;	border:1px solid #fff;}/* button help */.el-finder-help-std {	background: url(../images/icons-big.png) 0 -1380px no-repeat;	width:48px;	height:48px;	float:right;}.el-finder-logo {	background: url(../images/icons-big.png) 0 -1329px no-repeat;	width:48px;	height:48px;	float:left;}.el-finder-ql .ui-resizable-e, .el-finder-ql .ui-resizable-s { background:transparent !important;}


table.display {
	width : 100%;
	padding : 0;
	border-collapse : collapse;
	text-align :center;
	margin:10px auto !important;
/*	border : 1px solid #d6d6d6;*/
	border-top:1px solid #c9c9c9;
	-moz-box-shadow:0px 0px 4px #efefef;
	-webkit-box-shadow:0px 0px 4px #efefef;
	box-shadow:0px 0px 4px #efefef;
}

table.display thead tr th, table.display tfoot tr th {
	color : #1c1c1c;
}

table.display thead {
	text-shadow: 1px 1px 1px #fff;
	background-image: url(../../images/inner-shadow.png);
	background-color: #f2f2f2;
	background-repeat: repeat-x;
	background-position: left top;
}

table.display thead tr th{
/*	border:1px solid #d6d6d6 ;*/
	border-top:0px solid #d6d6d6 ;
/*	border-right : 1px solid #ffffff;*/
	border-bottom : 1px solid #e6e6e6;
	padding : 8px 10px 8px;
	line-height : 25px;
}
	table.display thead tr th:first-child {
/*	border-left : 1px solid #ffffff;*/
}
table.display thead tr th:last-child {
		border-right :none;
}
table.display tbody td {
/*	border : 1px solid #e6e6e6;*/
	border-bottom : 1px solid #e6e6e6;
/*	border-right : 1px solid #ffffff;*/
border-right:none;
border-left:none;
	padding:15px 10px!important;
}


table.display tbody td:first-child {
		/*border-left : 1px solid #ffffff;*/
}
table.display tbody td:last-child {
		border-right : none;
}

table.display tbody tr.odd, table.display tbody tr.even {
 -webkit-transition: background-color .2s ease-out;
 -moz-transition: background-color .2s ease-out;
 -o-transition: background-color .2s ease-out;
 transition: background-color .2s ease-out;
	}
table.display tbody tr.odd  {
	background-color : #fdfdfd;
}
table.display tbody tr.even  {
	background-color : #fafafa;
}

table.display tbody tr:hover {
	background-color:#eaf7ff;
}
table.display tbody tr:last-child  td {
	border-bottom : 2px solid #d9d9d9;
}
table.display thead tr th.sorting {
	background-image: url(images/table-sort.png);
	background-repeat: no-repeat;
	background-position: right 15px;
}
table.display thead tr th.sorting_asc {
	background : url(images/table-sort.png) no-repeat right -13px;
}

table.display thead tr th.sorting_desc {
	background : url(images/table-sort.png) no-repeat right -45px;
}

.dataTables_wrapper {
	display : inline-block;
	position: relative;
	width : 100%;
}

.dataTables_wrapper div {
	display : inline-block;
	width : 100%;
}

.dataTables_wrapper label {
	float : none;
	padding : 0;
	margin : 0;
	width : auto;
	height : auto;
}
.dataTables_wrapper .dataTables_info {
	position:absolute;
	width:auto;
	color:#aaaaaa;
	line-height: 28px;
	}
.dataTables_wrapper .dataTables_length {
	float:right;
	margin : 0 17px 2px 0;
	width : 60px;
	clear:both;
}

.dataTables_wrapper .dataTables_length .ui-selectmenu {
	-moz-box-shadow:1px 1px 2px #f5f5f5;
	-webkit-box-shadow:1px 1px 2px #f5f5f5;
	box-shadow:1px 1px 2px #f5f5f5;
}
/*
.dataTables_wrapper .dataTables_length .ui-selectmenu-status {
	padding : 0 5px 0;
	font : 11px/20px Arial;
	width : 28px;
	height : 24px;
}

.dataTables_wrapper .dataTables_length .ui-selectmenu-icon {
	background : url(images/table-select.gif) no-repeat right top transparent;
	width : 19px;
	height : 25px;
}

.ui-selectmenu-menu.entries {
	width : 58px;
	max-height : 175px;
}

.ui-selectmenu-menu.entries li a {
	padding : 5px 10px;
	font : 11px/1.0em Arial;
}*/

/*.dataTables_wrapper  .dataTables_filter {
	position:absolute;
	float:left;
	left:0px;
}*/
.dataTables_wrapper  .dataTables_filter input {
    background: url(images/search-white.png) no-repeat 10px 5px #f8f8f8;
	border : 1px solid #dcdcdc;
	outline : 0;
	padding : 2px 5px;
	width : 166px;
	line-height: 15px!important;
	height : 15px!important;
}
.tableName h3{
	position:absolute;
	border:none;
	}
.tableName .dataTables_wrapper  .dataTables_filter {
	position:absolute;
	float:none;
	right:-18px;
	top:-48px;
	}
.tableName	.dataTables_wrapper  .dataTables_filter input {
	float:right;
    color: #d9d9d9;
    width:128px;
    padding: 4px 15px 4px 32px !important;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
	}
.tableName .dataTables_wrapper  .dataTables_filter input[type="text"]:focus {
    background: url(images/search-dark.png) no-repeat 10px 5px #fcfcfc;
    color: #6a6f75;
    width: 170px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    }
.tableName.toolbar .dataTables_wrapper  .dataTables_filter {
	top:-97px;
	}
.tableName.inTab  .dataTables_wrapper  .dataTables_filter {
	right:0px;
	top:-50px;
	width:auto;
	}
.dataTables_wrapper .dataTables_paginate {
	float : right;
	margin : 5px 0 0;
	width : auto;
}
.paginate_disabled_previous, .paginate_enabled_previous,
.paginate_disabled_next, .paginate_enabled_next {
	line-height:19px;
	overflow:hidden;
	float: left;
	cursor: pointer;
	*cursor: hand;
	color: #111 !important;
	text-transform:uppercase;
/*	text-indent:-999px !important;*/
}
.paginate_disabled_previous:hover, .paginate_enabled_previous:hover,
.paginate_disabled_next:hover, .paginate_enabled_next:hover {
	text-decoration: none !important;
}
.paginate_disabled_previous:active, .paginate_enabled_previous:active,
.paginate_disabled_next:active, .paginate_enabled_next:active {
	outline: none;
}

.paginate_disabled_previous,
.paginate_disabled_next {
	color: #bbbbbb !important;
}
.paginate_disabled_previous, .paginate_enabled_previous {
	padding: 0 10px 0 26px;
	border-right:1px #dddddd solid;
}
.paginate_disabled_next, .paginate_enabled_next {
	padding-right: 26px;
	margin-left: 10px;
}

.paginate_disabled_previous {
	background: url('images/back_disabled.png') no-repeat top left;
}

.paginate_enabled_previous {
	background: url('images/back_enabled_hover.png') no-repeat top left;
}
.paginate_enabled_previous:hover {
	background: url('images/back_enabled.png') no-repeat top left;
}

.paginate_disabled_next {
	background: url('images/forward_disabled.png') no-repeat top right;
}

.paginate_enabled_next {
	background: url('images/forward_enabled_hover.png') no-repeat top right;
}
.paginate_enabled_next:hover {
	background: url('images/forward_enabled.png') no-repeat top right;
}

.paging_full_numbers span.paginate_button,
 .paging_full_numbers span.paginate_active {
	-moz-box-shadow:1px 1px 2px #f5f5f5;
	-webkit-box-shadow:1px 1px 2px #f5f5f5;
	box-shadow:1px 1px 2px #f5f5f5;
	padding: 7px 10px;
	margin: 10px 5px 10px 5px;
	background-color: #fdfdfd !important;
	cursor: pointer;
	position: relative;
	display: inline-block;
 -webkit-transition: all .2s ease-out;
 -moz-transition: all .2s ease-out;
 -o-transition: all .2s ease-out;
 transition: all .2s ease-out;
/* 	 -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;*/
    border: 1px solid #d9d9d9;
	padding: 4px 9px;
	margin: 0 0px 0 6px;
	cursor: pointer;
	*cursor: hand;
	color: #999999 ;
}

.paging_full_numbers a:active {
	outline: none
}

.paging_full_numbers a:hover {
	text-decoration: none;
}

/*.paging_full_numbers a.paginate_button {
	background-color: #ddd;
}*/

.paging_full_numbers span.paginate_button:hover ,.paging_full_numbers span.paginate_active {
		-moz-transform: scale(1.1) rotate(0deg);
	-webkit-transform: scale(1.1) rotate(0deg);
	-o-transform: scale(1.1) rotate(0deg);
	-ms-transform: scale(1.1) rotate(0deg);
	transform: scale(1.1) rotate(0deg);
	background-color: #c2e3f0!important;
		color: #333333 ;
	border: 1px #34667a solid;
	-moz-box-shadow:1px 1px 2px #cccccc;
	-webkit-box-shadow:1px 1px 2px #cccccc;
	box-shadow:1px 1px 2px #cccccc;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * ColVis styles
 */
.ColVis {
	position:absolute;
	float: right;
	right:85px;/*	margin-bottom: 1em;*/
}

.ColVis_Button {
	position: relative;
	float: left;
	margin-right: 0px;
	line-height:30px;
	height: 30px;
	background-color: #fff;

/*	border: 1px solid #d0d0d0;*/
	cursor: pointer;
	*cursor: hand;
}
.ColVis_Button.Base {
	border:1px solid #dddddd;
	-moz-box-shadow:1px 1px 2px #f5f5f5;
	-webkit-box-shadow:1px 1px 2px #f5f5f5;
	box-shadow:1px 1px 2px #f5f5f5;
	background-color: #fbfbfb;
	position:absolute;
	text-align:center;
	width:17px;
	padding:0 11px 0 10px;
	right:0px;
	height: 28px;
	line-height: 28px;
	background-image: url(../../images/icon/gray_18/spreadsheet.png);
	background-repeat: no-repeat;
	background-position: 10px 4px;
 -webkit-transition: background-color .2s ease-out;
 -moz-transition: background-color .2s ease-out;
 -o-transition: background-color .2s ease-out;
 transition: background-color .2s ease-out;
	}
	.ColVis_Button.Base:hover {
	border:1px solid #c9c9c9;
	-moz-box-shadow:1px 1px 2px #f5f5f5;
	-webkit-box-shadow:1px 1px 2px #f5f5f5;
	box-shadow:1px 1px 2px #f5f5f5;
	background-color: #f5f5f5;
		}
button.ColVis_Button::-moz-focus-inner { 
	border: none !important;
	padding: 0;
}
.ColVis_title{
	padding:0 35px
	
	}
.ColVis_text_hover {
	border: 1px solid #999;
	background-color: #f0f0f0;
}

div.ColVis_collectionBackground {
	background-color: black;
	z-index: 1100;
}

div.ColVis_collection {
	position: absolute;
	float: left;
	right:0px;
	background-color: #f3f3f3;
	padding:6px;
	border: 1px solid #ccc;
	z-index: 1102;
	margin-top:-1px;
}

div.ColVis_collection button.ColVis_Button {
	background-color: white;
	width: 100%;
	float: none;
	margin-bottom: 2px;
}

div.ColVis_catcher {
	position: absolute;
	z-index: 1101;
}



button.ColVis_Button {
	text-align: left;
}

div.ColVis_collection button.ColVis_Button:hover {
	border: 1px solid #999;
	background-color: #f0f0f0;
}

span.ColVis_radio {
	display: inline-block;
	width: 20px;
}

.inputContainer {
	position: relative;
	float: left;
}

.formError {
	position: absolute;
	top: 300px;
	left: 300px;
	display: block;
	z-index: 500000;
	cursor: pointer;
}

.ajaxSubmit {
	padding: 20px;
	background: #55ea55;
	border: 1px solid #999;
	display: none
}

.formError .formErrorContent {
	width: 100%;
	background: #ee0101;
	position:relative;
	z-index:500001;
	color: #ffffff;
	min-width: 100px;
	font-family: Tahoma;
	font-size: 11px;
	border: 1px solid #ddd;
	/*	-moz-box-shadow: 0 0 2px #000;
	-webkit-box-shadow: 0 0 2px #000;*/
	padding: 2px 10px 2px 10px;
	border-radius: 2px;
	/*	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;*/
	min-height:20px;
	line-height: 20px;
	margin-top: 2px;
	background-image: url(tooltip_bg.png);
	text-shadow:none;
	font-weight:none;
	text-align: left;
}

.greenPopup .formErrorContent {
	background: #33be40;
}

.blackPopup .formErrorContent {
	background: #393939;
	color: #FFF;
}

.formError .formErrorArrow {
	width: 15px;
	margin: -2px 0 0 13px;
	position:relative;
	z-index: 500006;
}

.formError .formErrorArrowBottom {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
	margin: 0px 0 0 12px;
  top:2px;
}

.formError .formErrorArrow div {
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	box-shadow: 0 2px 3px #444;
	-moz-box-shadow: 0 2px 3px #444;
	-webkit-box-shadow: 0 2px 3px #444;
	font-size: 0px;
	height: 1px;
	background: #ee0101;
	margin: 0 auto;
	line-height: 0;
	font-size: 0;
	display: block;
	background-image: url(tooltip_arrow.png);
}

.formError .formErrorArrowBottom div {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.greenPopup .formErrorArrow div {
	background: #33be40;
}

.blackPopup .formErrorArrow div {
	background: #393939;
	color: #FFF;
}

.formError .formErrorArrow .line10 {
	width: 15px;
	border: none;
}

.formError .formErrorArrow .line9 {
	width: 13px;
	border: none;
}

.formError .formErrorArrow .line8 {
	width: 11px;
}

.formError .formErrorArrow .line7 {
	width: 9px;
}

.formError .formErrorArrow .line6 {
	width: 7px;
}

.formError .formErrorArrow .line5 {
	width: 5px;
}

.formError .formErrorArrow .line4 {
	width: 3px;
}

.formError .formErrorArrow .line3 {
	width: 1px;
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	border-bottom: 0 solid #ddd;
}

.formError .formErrorArrow .line2 {
	width: 3px;
	border: none;
	background: #ddd;
}

.formError .formErrorArrow .line1 {
	width: 1px;
	border: none;
	background: #ddd;
}


.jspContainer {
	/* [disabled]overflow: inherit; */
	position: relative;
	z-index: 0;
}
.jspPane { position: absolute; }
.jspVerticalBar {
	background: transparent;
	width: 8px;
	right: 0px;
	position: absolute;
	top: 0;
	height: 100%;
}
.jspHorizontalBar {background: transparent; width: 8px; bottom: 2px; position: absolute; left: 0; width: 100%;}
.jspVerticalBar *, .jspHorizontalBar * { margin: 0; padding: 0; }
.jspCap { display: none; }
.jspHorizontalBar .jspCap { float: left; }
.jspTrack {
	background: transparent;
	position: relative;
	background-color: #f9f9f9;
	border-right: 1px #eeeeee solid;
}
.jspDrag {
		background: #aaaaaa;
	/*		-moz-border-radius: 4px;
		border-radius: 4px;*/
		position: relative;
	top: 0;
	left: 0;
	cursor: pointer;

}
.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag { float: left; height: 100%; }
.jspArrow { background: #50506d; text-indent: -20000px; display: block; cursor: pointer; }
.jspArrow.jspDisabled { cursor: default; background: #80808d; }
.jspVerticalBar .jspArrow { height: 16px; }
.jspHorizontalBar .jspArrow { width: 16px; float: left; height: 100%; }
.jspVerticalBar .jspArrow:focus { outline: none; }
.jspCorner {
		background: #eeeeee;
		float: left;
		height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
	margin: 0 -3px 0 0;
}
/*
 * FancyBox - jQuery Plugin
 * Simple and fancy lightbox alternative
 *
 * Examples and documentation at: http://fancybox.net
 * 
 * Copyright (c) 2008 - 2010 Janis Skarnelis
 * That said, it is hardly a one-person project. Many people have submitted bugs, code, and offered their advice freely. Their support is greatly appreciated.
 * 
 * Version: 1.3.4 (11/11/2010)
 * Requires: jQuery v1.3+
 *
 * Dual licensed under the MIT and GPL licenses:
 *   http://www.opensource.org/licenses/mit-license.php
 *   http://www.gnu.org/licenses/gpl.html
 */

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none;
}

#fancybox-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url('fancybox.png');
}

#fancybox-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1100;
	display: none;
	height: 100%;
}

#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}

#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	z-index: 1101;
	outline: none;
	display: none;
}

#fancybox-outer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
}

#fancybox-content {
	width: 1000px !important;
	height: 1000px !important;
	padding: 1px;
	outline: none;
	position: relative;
	overflow: hidden;
	z-index: 1102;
	border: 0px solid #fff;
	background-color:none !important;
}

#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 1101;
}

#fancybox-close {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background: transparent url('fancy_close.png');
	cursor: pointer;
	z-index: 1103;
	display: none;
}

#fancybox-error {
	color: #444;
	font: normal 12px/20px Arial;
	padding: 14px;
	margin: 0;
}

#fancybox-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
}

#fancybox-frame {
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}

#fancybox-left, #fancybox-right {
	position: absolute;
	bottom: 0px;
	height: 100%;
	width: 35%;
	cursor: pointer;
	outline: none;
	background: transparent url('blank.gif');
	z-index: 1102;
	display: none;
}

#fancybox-left {
	left: 0px;
}

#fancybox-right {
	right: 0px;
}

#fancybox-left-ico, #fancybox-right-ico {
	position: absolute;
	top: 50%;
	left: -9999px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 1102;
	display: block;
}

#fancybox-left-ico {
/*	background-image: url('fancybox.png');*/
background-image:url(fancy_nav_left.png)
/*	background-position: -40px -30px;*/
}

#fancybox-right-ico {
/*	background-image: url('fancybox.png');*/
background-image:url(fancy_nav_right.png)
/*	background-position: -40px -60px;*/
}

#fancybox-left:hover, #fancybox-right:hover {
	visibility: visible; /* IE6 */
}

#fancybox-left:hover span {
	left: 20px;
}

#fancybox-right:hover span {
	left: auto;
	right: 20px;
}

.fancybox-bg {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width: 20px;
	height: 20px;
	z-index: 1001;
}

#fancybox-bg-n {
	top: -20px;
	left: 0;
	width: 100%;
	background-image: url('fancybox-x.png');
}

#fancybox-bg-ne {
	top: -20px;
	right: -20px;
	background-image: url('fancybox.png');
	background-position: -40px -162px;
}

#fancybox-bg-e {
	top: 0;
	right: -20px;
	height: 100%;
	background-image: url('fancybox-y.png');
	background-position: -20px 0px;
}

#fancybox-bg-se {
	bottom: -20px;
	right: -20px;
	background-image: url('fancybox.png');
	background-position: -40px -182px; 
}

#fancybox-bg-s {
	bottom: -20px;
	left: 0;
	width: 100%;
	background-image: url('fancybox-x.png');
	background-position: 0px -20px;
}

#fancybox-bg-sw {
	bottom: -20px;
	left: -20px;
	background-image: url('fancybox.png');
	background-position: -40px -142px;
}

#fancybox-bg-w {
	top: 0;
	left: -20px;
	height: 100%;
	background-image: url('fancybox-y.png');
}

#fancybox-bg-nw {
	top: -20px;
	left: -20px;
	background-image: url('fancybox.png');
	background-position: -40px -122px;
}

#fancybox-title {
	font-family: Helvetica;
	font-size: 12px;
	z-index: 1102;
}

.fancybox-title-inside {
	padding-bottom: 10px;
	text-align: center;
	color: #333;
	background: #fff;
	position: relative;
}

.fancybox-title-outside {
	padding-top: 10px;
	color: #fff;
}

.fancybox-title-over {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
	text-align: left;
}

#fancybox-title-over {
	padding: 10px;
	background-image: url('fancy_title_over.png');
	display: block;
}

.fancybox-title-float {
	position: absolute;
	left: 0;
	bottom: -20px;
	height: 32px;
}

#fancybox-title-float-wrap {
	border: none;
	border-collapse: collapse;
	width: auto;
}

#fancybox-title-float-wrap td {
	border: none;
	white-space: nowrap;
}

#fancybox-title-float-left {
	padding: 0 0 0 15px;
	background: url('fancybox.png') -40px -90px no-repeat;
}

#fancybox-title-float-main {
	color: #FFF;
	line-height: 29px;
	font-weight: bold;
	padding: 0 0 3px 0;
	background: url('fancybox-x.png') 0px -40px;
}

#fancybox-title-float-right {
	padding: 0 0 0 15px;
	background: url('fancybox.png') -55px -90px no-repeat;
}

/* IE6 */

.fancybox-ie6 #fancybox-close { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_close.html', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-left-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_left.html', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-right-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_right.html', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-title-over { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_over.html', sizingMethod='scale'); zoom: 1; }
.fancybox-ie6 #fancybox-title-float-left { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_left.html', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-main { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_main.html', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-right { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_right.html', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right, #fancybox-hide-sel-frame {
	height: expression(this.parentNode.clientHeight + "px");
}

#fancybox-loading.fancybox-ie6 {
	position: absolute; margin-top: 0;
	top: expression( (-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px');
}

#fancybox-loading.fancybox-ie6 div	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_loading.html', sizingMethod='scale'); }

/* IE6, IE7, IE8 */

.fancybox-ie .fancybox-bg { background: transparent !important; }

.fancybox-ie #fancybox-bg-n { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_n.html', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-ne { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_ne.html', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-e { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_e.html', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-se { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_se.html', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-s { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_s.html', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-sw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_sw.html', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-w { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_w.html', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-nw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_nw.html', sizingMethod='scale'); }
.tipsy {
	font-size: 10px;
	position: absolute;
	padding: 5px;
	z-index: 100008;
	text-shadow:none;
	font-weight:500;
	text-transform:uppercase;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif
}
.tipsy-inner {
	background-color: #000;
	color: #FFF;
	max-width: 200px;
	padding: 5px 8px 6px 8px;
	text-align: center;
}
/* Rounded corners */
  .tipsy-inner {
/*	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;*/
}
/* Uncomment for shadow */
  /*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/
  
  .tipsy-arrow {
	position: absolute;
	width: 0;
	height: 0;
	line-height: 0;
	border: 5px dashed #000;
}
/* Rules to colour arrows */
  .tipsy-arrow-n {
	border-bottom-color: #000;
}
.tipsy-arrow-s {
	border-top-color: #000;
}
.tipsy-arrow-e {
	border-left-color: #000;
}
.tipsy-arrow-w {
	border-right-color: #000;
}
.tipsy-n .tipsy-arrow {
	top: 0px;
	left: 50%;
	margin-left: -5px;
	border-bottom-style: solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}
.tipsy-nw .tipsy-arrow {
	top: 0;
	left: 10px;
	border-bottom-style: solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}
.tipsy-ne .tipsy-arrow {
	top: 0;
	right: 10px;
	border-bottom-style: solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}
.tipsy-s .tipsy-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-top-style: solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}
.tipsy-sw .tipsy-arrow {
	bottom: 0;
	left: 10px;
	border-top-style: solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}
.tipsy-se .tipsy-arrow {
	bottom: 0;
	right: 10px;
	border-top-style: solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}
.tipsy-e .tipsy-arrow {
	right: 0;
	top: 50%;
	margin-top: -5px;
	border-left-style: solid;
	border-right: none;
	border-top-color: transparent;
	border-bottom-color: transparent;
}
.tipsy-w .tipsy-arrow {
	left: 0;
	top: 50%;
	margin-top: -5px;
	border-right-style: solid;
	border-left: none;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.chzn-container {
	position: relative;
	display: inline-block;
	zoom: 1;
*display: inline;
	width: 100%!important;
	max-width: 340px;
	color:#666666;
}
.chzn-container .chzn-drop {
	background: #fff;
	border: 1px solid #c9c9c9;
	border-top: 0;
	position: absolute;
	top: 20px;
	left: 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 20px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 20px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 20px;
	width: 100%!important;
	max-width: 338px!important;
	z-index: 999;
}
/* @end */

/* @group Single Chosen */
.chzn-container-single .chzn-single {
	background-color: #ffffff;
	background-clip : padding-box;
	border: 1px solid #dddddd;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	height: 30px;
	line-height: 31px;
	padding: 0 14px 0 8px;
	color: #666666;
	text-decoration: none;
}
.chzn-container-single .chzn-single span {
	margin-right: 26px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.chzn-container-single .chzn-single abbr {
	display: block;
	position: absolute;
	right: 26px;
	top: 6px;
	width: 12px;
	height: 13px;
	font-size: 1px;
	background: url(chosen-sprite.png) right top no-repeat;
}
.chzn-container-single .chzn-single abbr:hover {
	background-position: right -11px;
}
.chzn-container-single .chzn-single div {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	height: 100%;
	width: 32px;
}
.chzn-container-single .chzn-single div b {
	/*	background: url('chosen-sprite.png') no-repeat 0 0;*/
	background-image: url(../../images/forms/seletedown.png);
	display: block;
	width: 100%;
	height: 100%;
	margin-top:0px;
	background-position: right top!important;
}
.chzn-container-single .chzn-search {
	/*	padding: 3px px;*/
	position: relative;
	margin: 0;
	white-space: nowrap;
	z-index: 1010;
	margin-top: 0px;
}
.chzn-container-single .chzn-search input {
	background: #ffffff url('chosen-sprite.png') no-repeat 100% -21px;
	/*	margin: 1px 0;*/
	padding: 0px 20px 0px 7px;
	width: 100%!important;
	max-width: 311px;
	outline: 0;
	border: none;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #eeeeee;
}
.chzn-container-single .chzn-search input:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow : none;
	-o-box-shadow : none;
	box-shadow : none;
}
.chzn-container-single .chzn-drop {
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius : 0 0 4px 4px;
	border-radius : 0 0 4px 4px;
	-moz-background-clip : padding;
	-webkit-background-clip: padding-box;
	background-clip : padding-box;

}
/* @end */

.chzn-container-single-nosearch .chzn-search input {
	position: absolute;
	left: -9000px;
}
/* @group Multi Chosen */
.chzn-container-multi .chzn-choices {
	background-color: #fff;
	border: solid 1px #dddddd;
	outline: 0;
	margin: 0;
	padding: 2px 0px;
	cursor: text;
	overflow: hidden;
	height: auto !important;
	width: 100%!important;
	max-width: 338px!important;
	position: relative;
}
.chzn-container-multi .chzn-choices li {
	float: left;
	list-style: none;
	margin-top: 2px;
}
.chzn-container-multi .chzn-choices .search-field {
	white-space: nowrap;
	margin: 0;
	padding: 5px;
}
.chzn-container-multi .chzn-choices .search-field input {
	color: #666;
	background: transparent !important;
	border: 0 !important;
	font-family: sans-serif;
	font-size: 100%!important;
	height: 15px;
	padding: 2px 2px 0px 2px;
	margin: 0px;
	outline: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow : none;
	-o-box-shadow : none;
	box-shadow : none;
}
.chzn-container-multi .chzn-choices .search-field .default {
	color: #666666;
}
.chzn-container-multi .chzn-choices .search-choice {
	-moz-background-clip : padding;
	-webkit-background-clip: padding-box;
	background-clip : padding-box;
	background-color: #c2e3f0;
	color: #666666;
	border: 1px solid #73b4ce;
	line-height: 13px;
	padding: 5px 30px 7px 13px;
	margin: 3px 0 3px 5px;
	position: relative;
	cursor: default;
	text-shadow:none;

}
.chzn-container-multi .chzn-choices .search-choice-focus {
	background: #000000;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
	display: block;
	position: absolute;
	right: 8px;
	top: 5px;
	width: 17px;
	height: 16px;
	font-size: 1px;
	background-image: url(../../images/select-close.png);/*	background: url(chosen-sprite.png) right top no-repeat;*/
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
}
.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close {
	background-position: right -11px;
}
/* @end */

/* @group Results */
.chzn-container .chzn-results {
	margin: 0 0px 0px 0;
	max-height: 240px;
	padding: 0 0 0 0px;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
}
.chzn-container-multi .chzn-results {
	margin: 0px 0 0 0;
	padding: 0;
	
}
.chzn-container .chzn-results li {
	display: none;
	line-height: 20px;
	padding: 5px 6px;
	margin: 0;
	list-style: none;
	border-bottom: 1px #f5f5f5 solid;

}
.chzn-container .chzn-results .active-result {
	cursor: pointer;
	display: list-item;
}
.chzn-container .chzn-results .highlighted {
	background-color: #c2e3f0;
	color: #666666;
	text-shadow:none;

}
.chzn-container .chzn-results li em {
	background: #feffde;
	font-style: normal;
	
}
.chzn-container .chzn-results .highlighted em {
	background: transparent;
}
.chzn-container .chzn-results .no-results {
	background: #f4f4f4;
	display: list-item;
}
.chzn-container .chzn-results .group-result {
	cursor: default;
	color: #999;
	font-weight: bold;
}
.chzn-container .chzn-results .group-option {
	padding-left: 15px;
}
.chzn-container-multi .chzn-drop .result-selected {
	display: none;
}
.chzn-container .chzn-results-scroll {
	background: white;
	margin: 0 4px;
	position: absolute;
	text-align: center;
	width: 121px;  /*This should by dynamic with js */
	z-index: 1;
}
.chzn-container .chzn-results-scroll span {
	display: inline-block;
	height: 17px;
	text-indent: -5000px;
	width: 9px;
}
.chzn-container .chzn-results-scroll-down {
	bottom: 0;
}
.chzn-container .chzn-results-scroll-down span {
/*background: url('chosen-sprite.png') no-repeat -4px -3px;*/
}
.chzn-container .chzn-results-scroll-up span {
/*background: url('chosen-sprite.png') no-repeat -22px -3px;*/
}
/* @end */

/* @group Active  */
.chzn-container-active .chzn-single {
	border: 1px solid #c9c9c9;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}
.chzn-container-active .chzn-single-with-drop {
/*	border: 1px solid #c9c9c9;

	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
	-webkit-border-bottom-left-radius : 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft : 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-left-radius : 0;
	border-bottom-right-radius: 0;*/
}
.chzn-container-active .chzn-single-with-drop div {
	background: transparent;
	border-left: none;
}
.chzn-container-active .chzn-single-with-drop div b {
	background-image: url(../../images/forms/seleteup.png);
}
.chzn-container-active .chzn-choices {
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
	border: 1px solid #c9c9c9;
}
.chzn-container-active .chzn-choices .search-field input {
	color: #111 !important;
}
/* @end */

/* @group Disabled Support */
.chzn-disabled {
	cursor: default;
	opacity:0.5 !important;
}
.chzn-disabled .chzn-single {
	cursor: default;
}
.chzn-disabled .chzn-choices .search-choice .search-choice-close {
	cursor: default;
}
/* @group Right to Left */
.chzn-rtl {
	text-align: right;
}
.chzn-rtl .chzn-single {
	padding: 0 8px 0 0;
	overflow: visible;
}
.chzn-rtl .chzn-single span {
	margin-left: 26px;
	margin-right: 0;
	direction: rtl;
}
.chzn-rtl .chzn-single div {
	left: 3px;
	right: auto;
}
.chzn-rtl .chzn-single abbr {
	left: 26px;
	right: auto;
}
.chzn-rtl .chzn-choices .search-field input {
	direction: rtl;
}
.chzn-rtl .chzn-choices li {
	float: right;
}
.chzn-rtl .chzn-choices .search-choice {
	padding: 3px 5px 3px 19px;
	margin: 3px 5px 3px 0;
}
.chzn-rtl .chzn-choices .search-choice .search-choice-close {
	left: 4px;
	right: auto;
	background-position: right top;
}
.chzn-rtl.chzn-container-single .chzn-results {
	margin: 0 0 4px 4px;
	padding: 0 4px 0 0;
}
.chzn-rtl .chzn-results .group-option {
	padding-left: 0;
	padding-right: 15px;
}
.chzn-rtl.chzn-container-active .chzn-single-with-drop div {
	border-right: none;
}
.chzn-rtl .chzn-search input {
	background: #fff url('chosen-sprite.png') no-repeat -38px -22px;
	background: url('chosen-sprite.png') no-repeat -38px -22px, -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
	background: url('chosen-sprite.png') no-repeat -38px -22px, -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url('chosen-sprite.png') no-repeat -38px -22px, -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url('chosen-sprite.png') no-repeat -38px -22px, -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url('chosen-sprite.png') no-repeat -38px -22px, -ms-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url('chosen-sprite.png') no-repeat -38px -22px, linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	padding: 4px 5px 4px 20px;
	direction: rtl;
}
/* @end */

#confirmOverlay{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background-color:#000;
	z-index:100000;
	display: none;
}

#confirmBox{
	background-color:#CCC;
	width:460px;
	position:fixed;
	left:50%;
	top:50%;
	margin:-130px 0 0 -230px;
	box-shadow: rgba(0,0,0, 0.3) 0px 0px 30px;
	-moz-box-shadow: rgba(0,0,0, 0.3) 0px 0px 30px;
	-webkit-box-shadow: rgba(0,0,0, 0.3) 0px 0px 30px;
	z-index: 100001;
	background-position: bottom;
	display:none;
	background-color:#eeeeee;
	text-shadow:none;
}

#confirmBox h1,#confirmBox p{

	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	background-color:#000;
	padding: 0px 25px;
	height:41px;
	line-height:41px;
	text-shadow:none;
	color:#FFF;

}
#confirmBox p{
		color:#000;
	}
#confirmBox h1{
	letter-spacing:0.3px;
	color:#FFF;
}

#confirmBox p{
	background:none;
	font-size:16px;
	line-height:1.4;
	padding-top: 35px;
	text-align: center;
}

#confirmButtons{
	padding:15px 0 25px;
	text-align:center;
}

@charset "utf-8";

/*******************************************************/
/* Sourcerer Code Viewer CSS v.1.1
/* Author: Anson Airoldi
/* Email:  greatunknown@andbeyonddesign.com
/* Site:   http://www.andbeyonddesign.com
/*******************************************************/


.SRC_Wrap{
	height:auto;
	color:#000;
	font-size:12px;
	background-color: #f2f2f2;
	padding: 0px 0 0px 0;
	border-top: 1px #d6d6d6 solid;
}

.SRC_Title{
  text-align:center;
	color:#555;
	border-bottom:2px solid #999;
	font-size:14px;
	font-family:Verdana, Geneva, sans-serif;
	padding:5px;
	font-weight:700;
}
.SRC_Line{
	width:100%;
	background-color:#fdfdfd;
	min-height:25px;
	border-bottom: 1px #e6e6e6 solid;
}
.SRC_Line:nth-child(odd){
	background-color:#fafafa;		
}

.SRC_NumBox{
	width:5%;
	float:left;		
}
.SRC_Num{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	text-align:right;
	color:#555;
	font-weight:500;
	padding-right:2px;
	width:100%;
	height:auto;
	min-height:25px;
	line-height:25px;
}
.SRC_CodeContent {
	white-space: pre-wrap;
	border-left:1px solid #DDD;
	font-size:12px;
	padding-left:6px;
	font-family:"Courier New", Courier, monospace;
	margin:0px;
	min-height:25px;
	line-height:25px;
}
.SRC_NumContent{
	text-align:right;
	margin-right:15px;
	color:#AAA;
	line-height:25px;
}
.SRC_CodeBox{
	float:left;
	width:95%;
}


/*************************************************/
/* HIGHLIGHT COLORS:                             
/* These speak for themselves, change each color 
/* according to your personal preference         
/*************************************************/
.SC_blue{color:blue;}
.SC_grey{color:grey;}
.SC_navy{color:navy;}
.SC_green{color:green;}
.SC_orange{color:#930;}
.SC_red{color:#F00;}
.SC_teal{color:teal;}
.SC_gold{color:#FC0;}
.SC_pink{color:#ff68a4;}
.SC_bold{font-weight:700;}

#calendar {
	position: relative;
	background-color: #FFF;
	padding: 0px;
	width:100%;
	margin: auto;
	margin-bottom:10px;
}
.fc {
	direction: ltr;
	text-align: left;
}
.fc table {
	border-collapse: collapse;
	border-spacing: 0;
}
html .fc, .fc table {
	font-size: 1em;
	text-shadow:none;
}
.fc td, .fc th {
	padding: 0;
	vertical-align: top;
}
.fc tfoot {
	background-color:#000
}
.fc th {
	vertical-align: top;
	color : #1c1c1c;
	background-color:#f5f5f5;
	border:none;
	border:4px #a7a4a4 solid;
	border-bottom:4px #cccccc solid;
	padding:15px 0;
	background-image: url(../../images/inner-shadow.png);
	text-shadow: 1px 1px 1px #fff;
}
/* Header
------------------------------------------------------------------------*/

.fc-header td {
	white-space: nowrap;
}
.fc-header-left {
	width: 25%;
	text-align: left;
}
.fc-header-center {
	text-align: center;
}
.fc-header-right {
	width: 25%;
	position:relative;
	top:-48px;
	right:-15px;
	text-align: right;
}
.fc-header-title {
	display: inline-block;
	vertical-align: middle;
	height: 65px;
	margin-left:5px;
}
.fc-header-title h2 {
	margin-top: 8px;
	white-space: nowrap;
	border:none;
	font-weight:normal;
	font-size:36px;
	color:#333;
	font-family:"Myriad Pro", Arial, Helvetica, sans-serif;
	text-transform: capitalize;
}
.fc .fc-header-space {
	}
.fc-header .fc-button {
	margin-bottom: 1em;
	vertical-align: top;
}
.fc-header .fc-button {
	margin-right: -1px;
}
.fc-header .fc-corner-right {
	margin-right: 1px; 
}
.fc-header .ui-corner-right {
	margin-right: 0; 
}
.fc-header .fc-state-hover, .fc-header .ui-state-hover {
	z-index: 2;
}
.fc-header .fc-state-down {
	z-index: 3;
}
.fc-header .fc-state-active, .fc-header .ui-state-active {
	z-index: 4;
}
/* Content
------------------------------------------------------------------------*/
	
.fc-content {

clear: both;
	border: 5px #fafafa solid;

}
.fc-content tr:last-child td{
	background-image: url(../../images/Things13.png);
	background-repeat:repeat-x;
	background-position:bottom ;
	}
.fc-content td {
	clear: both;
	background: #fdfdfd;
	border: 1px #dddddd solid;
	-webkit-box-shadow: inset 0px 0px 15px #f5f5f5;
	-moz-box-shadow:  inset 0px 0px 8px #f5f5f5;
	box-shadow: inset 0px 0px 15px #f5f5f5;
}
.fc-view {
	width: 100%; /* needed for view switching (when view is absolute) */
	overflow: hidden;
}
/* Cell Styles
------------------------------------------------------------------------*/
.fc-widget-header, .fc-widget-content {
	border: 1px solid #dddddd;
}
.fc-widget-header {
	padding:10px 0;
}
.fc-state-highlight {
	background: #ebf9a3!important;
	-webkit-box-shadow: inset 0px 0px 25px #cfe554!important;
	-moz-box-shadow:  inset 0px 0px 25px #cfe554!important;
	box-shadow: inset 0px 0px 25px #cfe554!important;
	opacity: 0.7;
	filter: alpha(opacity=70); /* for IE */

}
.fc-cell-overlay { /* semi-transparent rectangle while dragging */

	opacity: 0.3;
	filter: alpha(opacity=30); /* for IE */
	background: #ebf9a3!important;
	-webkit-box-shadow: inset 0px 0px 25px #cfe554!important;
	-moz-box-shadow:  inset 0px 0px 25px #cfe554!important;
	box-shadow: inset 0px 0px 25px #cfe554!important;
}
/* Buttons
------------------------------------------------------------------------*/

.fc-button {
	position: relative;
	display: inline-block;
	padding:0 5px;
	cursor: pointer;
	border:1px solid #aaaaaa;
	-moz-box-shadow:1px 1px 2px #f5f5f5;
	-webkit-box-shadow:1px 1px 2px #f5f5f5;
	box-shadow:1px 1px 2px #f5f5f5;
	background-color: #fbfbfb;
	text-transform: capitalize;
	font-weight:bold;
	font-size:11px;
	color: #333;
	background-color: #f4f4f4;
 -webkit-transition: all .2s ease-out;
 -moz-transition: all .2s ease-out;
 -o-transition: all .2s ease-out;
 transition: all .2s ease-out;
}
.fc-button-today {
	position: absolute;
	top:0px;
	right:180px;
	padding:0 10px!important;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #69a44d;
	text-shadow:0 1px 0 #000000;
	color: #ffffff;
	background-color:#9bc652;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.fc-button-today:hover {
	color: #ffffff;
	filter: none;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 5px #839b01;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 5px #839b01;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 5px #839b01;
	cursor:pointer;
	}
/*.fc-button-month {
	padding:0 5px 0 10px!important;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
.fc-button-agendaDay {
	padding:0 10px 0 5px!important;
	-webkit-border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	-moz-border-radius-bottomright: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}*/
.fc-button-next, .fc-button-prev {
	background-repeat:no-repeat!important;
	padding:10 0px!important;
	border:none;
	top:17px;
	float : right;
	color: #cccccc;
	position:absolute;
	background: none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	text-transform: uppercase;
	font-weight:normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.fc-button-next {
	background-image:url(../datatables/images/forward_disabled.png);
	right:0px;
	padding-right: 20px!important;
	background-position: right center;

}
.fc-button-next:hover {
	background-image:url(../datatables/images/forward_enabled_hover.png);
		color: #666666;
}
.fc-button-prev {
	right:70px;
	padding-left: 20px!important;
	border-right: 1px #cccccc solid;
	background-image: url(../datatables/images/back_disabled.png);
		background-position: left center;
}
.fc-button-prev:hover {
	background-image : url(../datatables/images/back_enabled_hover.png);
		color: #666666;
}

.fc-state-default { /* non-theme */
}
.fc-button-inner {
	position: relative;
	float: left;
	overflow: hidden;
}
.fc-state-default .fc-button-inner { /* non-theme */
}
.fc-button-content {
	position: relative;
	float: left;
	height: 1.9em;
	line-height: 1.9em;
	padding: 0 .6em;
	white-space: nowrap;
}
/* icon (for jquery ui) */
	
.fc-button-content .fc-icon-wrap {
	position: relative;
	float: left;
	top: 50%;
}
.fc-button-content .ui-icon {
	position: relative;
	float: left;
	margin-top: -50%;
 *margin-top: 0;
 *top: -50%;
}
/* gloss effect */
	
.fc-state-hover, .fc-state-hover .fc-button-inner {

}
.fc-state-down, .fc-state-down .fc-button-inner {
}
.fc-state-active {
	border-color: #a93a25;
	text-shadow:0 1px 0 #000000;
	color: #fff;
	background-color:#d74543;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 8px #aa3a35;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 8px #aa3a35;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 8px #aa3a35;
}
.fc-state-disabled, .fc-state-disabled .fc-button-inner {
	color: #aaaaaa;
	text-shadow:none;
	border-color: #ddd;
	background-color:#fafafa;
	-webkit-box-shadow: none;
	-moz-box-shadow:  none;
	box-shadow:  none;
	
}
.fc-state-disabled:hover{
	color: #aaaaaa;
	text-shadow:none;
	border-color: #ddd;
	background-color:#fafafa;
	-webkit-box-shadow: none;
	-moz-box-shadow:  none;
	box-shadow:  none;
	
}
.fc-state-disabled {
	cursor: default;
}
.fc-state-disabled .fc-button-effect {
	display: none;
}
/* Global Event Styles
------------------------------------------------------------------------*/
	 
.fc-event {
	border:2px solid !important;
	border-width: 0;
	font-size: 0.9em;
	cursor: default;
	padding:4px;
	padding-left:5px;
	-moz-box-shadow:1px 1px 2px #dddddd;
	-webkit-box-shadow:1px 1px 2px #dddddd;
	box-shadow:1px 1px 2px #dddddd;
 -webkit-transition: background-color .2s ease-out;
 -moz-transition: background-color .2s ease-out;
 -o-transition: background-color .2s ease-out;
 transition: background-color .2s ease-out;
background-color:#dbf262;
	opacity: 0.7;
	filter: alpha(opacity=70); 
}
.fc-event:hover {
background-color:#d6e972;
	opacity: 1;
	filter: alpha(opacity=1); 
}
a.fc-event, .fc-event-draggable {
	cursor: pointer;
}
a.fc-event {
	text-decoration: none;
}
.fc-rtl .fc-event {
	text-align: right;
}
.fc-event-skin {
	border-color: #c2d753 !important;
/*	background-color: #deed8a; */

	color: #111111; 


}
.fc-event-inner {
	position: relative;
	width: 100%;
	height: 100%;
	border-style: solid;
	border-width: 0;
	overflow: hidden;
	border:none;
	
}
.fc-event-time, .fc-event-title {
	padding: 5px!important;
}
.fc .ui-resizable-handle { /*** TODO: don't use ui-resizable anymore, change class ***/
	display: block;
	position: absolute;
	z-index: 99999;
	overflow: hidden; /* hacky spaces (IE6/7) */
	font-size: 300%;  /* */
	line-height: 50%; /* */
}
/* Horizontal Events
------------------------------------------------------------------------*/

.fc-event-hori {
	border-width: 1px 0;
	margin-bottom: 1px;
}
/* resizable */
	
.fc-event-hori .ui-resizable-e {
	top: 0 !important; /* importants override pre jquery ui 1.7 styles */
	right: -3px !important;
	width: 7px !important;
	height: 100% !important;
	cursor: e-resize;
}
.fc-event-hori .ui-resizable-w {
	top: 0 !important;
	left: -3px !important;
	width: 7px !important;
	height: 100% !important;
	cursor: w-resize;
}
.fc-event-hori .ui-resizable-handle {
	_padding-bottom: 14px; /* IE6 had 0 height */
}
/* Fake Rounded Corners (for buttons and events)
------------------------------------------------------------*/
	
.fc-corner-left {
	margin-left: 1px;
}
.fc-corner-left .fc-button-inner, .fc-corner-left .fc-event-inner {
	margin-left: -1px;
}
.fc-corner-right {
	margin-right: 1px;
}
.fc-corner-right .fc-button-inner, .fc-corner-right .fc-event-inner {
	margin-right: -1px;
}
.fc-corner-top {
	margin-top: 1px;
}
.fc-corner-top .fc-event-inner {
	margin-top: -1px;
}
.fc-corner-bottom {
	margin-bottom: 1px;
}
.fc-corner-bottom .fc-event-inner {
	margin-bottom: -1px;
}
/* Fake Rounded Corners SPECIFICALLY FOR EVENTS
-----------------------------------------------------------------*/
	
.fc-corner-left .fc-event-inner {
	border-left-width: 1px;
}
.fc-corner-right .fc-event-inner {
	border-right-width: 1px;
}
.fc-corner-top .fc-event-inner {
	border-top-width: 1px;
}
.fc-corner-bottom .fc-event-inner {
	border-bottom-width: 1px;
}
/* Reusable Separate-border Table
------------------------------------------------------------*/

table.fc-border-separate {
	border-collapse: separate;
}
.fc-border-separate th, .fc-border-separate td {
	border-width: 1px 0 0 1px;
}
.fc-border-separate th.fc-last, .fc-border-separate td.fc-last {
	border-right-width: 1px;
}
.fc-border-separate tr.fc-last th, .fc-border-separate tr.fc-last td {
	border-bottom-width: 1px;
}
.fc-border-separate tbody tr.fc-first td, .fc-border-separate tbody tr.fc-first th {
	border-top-width: 0;
}
/* Month View, Basic Week View, Basic Day View
------------------------------------------------------------------------*/

.fc-grid th {
	text-align: center;
	background-repeat: url(../../images/inner-shadow.png);
}
.fc-grid .fc-day-number {
	float: right;
	padding: 0 2px;
}
.fc-grid .fc-other-month .fc-day-number {
	opacity: 0.3;
	filter: alpha(opacity=30); /* for IE *//* opacity with small font can sometimes look too faded
	   might want to set the 'color' property instead
	   making day-numbers bold also fixes the problem */
}
.fc-grid .fc-day-content {
	clear: both;
	padding: 2px 2px 1px; /* distance between events and day edges */
}
/* event styles */
	
.fc-grid .fc-event-time {
	font-weight: bold;
}
/* right-to-left */
	
.fc-rtl .fc-grid .fc-day-number {
	float: left;
}
.fc-rtl .fc-grid .fc-event-time {
	float: right;
}
/* Agenda Week View, Agenda Day View
------------------------------------------------------------------------*/

.fc-agenda table {
	border-collapse: separate;
}
.fc-agenda-days th {
	text-align: center;
}
.fc-agenda .fc-agenda-axis {
	width: 50px;
	padding: 0 4px;
	vertical-align: middle;
	text-align: right;
	white-space: nowrap;
	font-weight: normal;
}
.fc-agenda .fc-day-content {
	padding: 2px 2px 1px;
}
/* make axis border take precedence */
	
.fc-agenda-days .fc-agenda-axis {
	border-right-width: 1px;
}
.fc-agenda-days .fc-col0 {
	border-left-width: 0;
}
/* all-day area */
	
.fc-agenda-allday th {
	border-width: 0 1px;
}
.fc-agenda-allday .fc-day-content {
	min-height: 34px;
	_height: 34px;
}
/* divider (between all-day and slots) */
	
.fc-agenda-divider-inner {
	height: 2px;
	overflow: hidden;
}
.fc-widget-header .fc-agenda-divider-inner {
	background: #eee;
}
/* slot rows */
	
.fc-agenda-slots th {
	border-width: 1px 1px 0;
}
.fc-agenda-slots td {
	border-width: 1px 0 0;
	background: none;
}
.fc-agenda-slots td div {
	height: 20px;
}
.fc-agenda-slots tr.fc-slot0 th, .fc-agenda-slots tr.fc-slot0 td {
	border-top-width: 0;
}
.fc-agenda-slots tr.fc-minor th, .fc-agenda-slots tr.fc-minor td {
	border-top-style: dotted;
}
.fc-agenda-slots tr.fc-minor th.ui-widget-header {
 *border-top-style: solid;
}
.fc-event-vert {
	border-width: 0 1px;
}
.fc-event-vert .fc-event-head, .fc-event-vert .fc-event-content {
	position: relative;
	z-index: 2;
	width: 100%;
	overflow: hidden;
}
.fc-event-vert .fc-event-time {
	white-space: nowrap;
	font-size: 10px;
}
.fc-event-vert .fc-event-bg {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: .3;
	filter: alpha(opacity=30);
}
.fc .ui-draggable-dragging .fc-event-bg, .fc-select-helper .fc-event-bg {
	display: none\9;
}
/* resizable */
	
.fc-event-vert .ui-resizable-s {
	bottom: 0 !important; /* importants override pre jquery ui 1.7 styles */
	width: 100% !important;
	height: 8px !important;
	overflow: hidden !important;
	line-height: 8px !important;
	font-size: 11px !important;
	font-family: monospace;
	text-align: center;
	cursor: s-resize;
}
.fc-agenda .ui-resizable-resizing { /* TODO: better selector */
	_overflow: hidden;
}

/* Fixes issue here http://code.google.com/p/jcrop/issues/detail?id=1 */
.jcrop-holder { text-align: left;  }

.jcrop-vline, .jcrop-hline
{
	font-size: 0px;
	position: absolute;
/*	background: white url('Jcrop.gif') top left repeat;*/
}
.jcrop-vline {
	height: 100%;
	width: 1px !important;
}
.jcrop-hline {
	width: 100%;
	height: 1px !important;
}
.jcrop-vline.right { right: 0px; }
.jcrop-hline.bottom {
	bottom: 0px;
	height: 1px !important; 
}
.jcrop-handle {
	font-size: 1px;
	width: 7px !important;
	height: 7px !important;
	border: 1px #eee solid;
	background-color: #333;
}

.jcrop-tracker { width: 100%; height: 100%;  }