
#alertMessage {
	font-size:16px;
	font-weight:bold;
	padding:15px 25px 15px 45px;
	position:fixed;
	text-align:center;
	width:auto;
	z-index:100001;
	cursor:pointer;
	font-family:'Myriad Pro', Arial, Helvetica, sans-serif;
	background-color:#C2E3F0;
	color:#34667A;
	text-shadow:1px 1px 1px #C8EBFB;
	display:none;
	right: -20px;
	text-transform: uppercase;
	bottom: 25px;
	opacity:0;
	filter:alpha(opacity=0);
	background-repeat: no-repeat;
	background-position: 10px center;
}
.alertMessage {
	font-size:16px;
	font-weight:bold;
	padding:15px 25px 15px 45px;
	width:auto;
	cursor:pointer;
	font-family:'Myriad Pro', Arial, Helvetica, sans-serif;
	background-color:#C2E3F0;
	color:#34667A;
	text-shadow:1px 1px 1px #C8EBFB;
	text-transform: uppercase;
	margin-bottom:15px;
	background-repeat: no-repeat;
	background-position: 10px center;
}
#alertMessage span, .alertMessage span {
	border-left: 1px #488eaa solid;
	border-right: 1px #efefef solid;
	margin-right:10px;
	padding:5px 0px;
}
#alertMessage.error, .alertMessage.error {
	background-color:#fc4a48;
	color:#5A0000;
	text-shadow:1px 1px 1px #E64040;
	border: 1px #a93a25 solid;
}
#alertMessage.error span, .alertMessage.error span {
	border-left: 1px #7a0202 solid;
	border-right: 1px #f08c8a solid;
	margin-right:10px;
	padding:5px 0px;
}
#alertMessage.success, .alertMessage.success {
	background-color:#9bc652;
	color:#324e03;
	text-shadow:1px 1px 1px #5c9201;
	border: 1px solid #69a44d;
}
.alertMessage.success span {
	border-left: 1px #688901 solid;
	border-right: 1px #d0e4a7 solid;
	margin-right:10px;
	padding:5px 0px;
}
#alertMessage.warning, .alertMessage.warning {
	background-color:#fcdb72;
	color:#987402;
	text-shadow:1px 1px 1px #e7b104;
}
#alertMessage.warning span, .alertMessage.warning span {
	border-left: 1px #987402 solid;
	border-right: 1px #fff0c2 solid;
	margin-right:10px;
	padding:5px 0px;
}


/*
	loading layout
*/
#overlay {
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background-color:#111;
	/*	opacity:0.1;
	filter:alpha(opacity=10);*/
	z-index:1000;
	display: none;
}
#preloader {
	background: #000000 12px 10px;
	font-size: 11px;
	height: 40px;
	left: 50%;
	line-height: 15px;
	margin: -20px 0 0 -70px;
	padding: 10px;
	position: fixed;
	text-align: left;
	text-indent: 36px;
	top: 50%;
	width: 150px;
	z-index: 1209;
	opacity:0.8;
	filter:alpha(opacity=80);
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	color: #FFF;
	text-shadow:none;
	display: none;
}
#pageload {
	background: #000000;
	font-size: 11px;
	height: 20px;
	left: 50%;
	line-height: 20px;
	margin: -20px 0 0 -55px;
	padding: 10px;
	position: fixed;
	text-align: center;
	top: 50%;
	width: 120px;
	z-index: 1006;
	opacity:0.8;
	filter:alpha(opacity=80);
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	color: #FFF;
	text-shadow:none;
	display: none;
}
.imoves_header{
  background: #378bdd;
  padding: 15px 2px 20px 2px;
  color: white;
}

.imoves-input-search{
  color: white;
  background: transparent;
  border: 0;
  box-shadow: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 0;
}

.imoves-input-search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.3);
}
.imoves-input-search::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.3);
}
.imoves-input-search:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255, 255, 255, 0.3);
}
.imoves-input-search:-moz-placeholder { /* Firefox 18- */
  color: rgba(255, 255, 255, 0.3);
}

.imoves-icon-search{
  color: white;
  background: #2E78C1;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  padding-bottom: 7px;
}
.imoves-icon-search:hover, .imoves-icon-search:focus, .imoves-icon-search:active, .imoves-icon-search:active:hover{
  color: white;
  background: #378bdd;
  border-color: #378bdd;
}

.imoves-input-search:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: rgba(255, 255, 255, 0.7);
    color: #555;
}

.imoves-circle{
  padding: 14px 3px 14px 3px;
  border-radius: 40px;
  font-size: 18px;
  border: 1px solid #f1c77c;
}

.imoves-circle p{
  margin: 0;
  padding: 0;
  color: #378bdd;
}

.imoves-arrow{
  font-size: 25px;
  color: #805032;
  padding-right: 7px;
}

.imoves-list{
  margin: 5px 0px 5px 0px !important;
  padding: 10px 5px 10px 5px;
  position: relative;
}

.imoves-list a{
  display: block;
  padding: 5px 0px 5px 0px;
}

.imoves-list a:hover {
  text-decoration: none;
  background: rgba(146, 186, 21, 0.1);
}

.imoves-separador{

  height: 1px;
  background: rgba(128, 80, 50, 0.5);
  display: block;
  position: absolute;
  right: 0;
  width: 100%;
  width: -webkit-calc(100% - 50px);
  width: -moz-calc(100% - 50px);
  width: calc(100% - 50px);
}

.media-body{
  color: #805032;
}

.imoves-back{
  color: white;
}

.imoves-check-ok{
  width: 5px;
  height: 100%;
  height: -webkit-calc(100% - 9px);
  height: -moz-calc(100% - 9px);
  height: calc(100% - 9px);
  background: #27ae60;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.imoves-check-w{
  width: 5px;
  height: 100%;
  height: -webkit-calc(100% - 9px);
  height: -moz-calc(100% - 9px);
  height: calc(100% - 9px);
  background: #c0392b;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}


/*******************/

.imoves-detail-header{
  background: #f8f8f9;
  padding: 10px 7px 2px 7px;
  box-shadow: 5px 3px 8px -2px #ccc;
}

.imoves-detail-header h2{
  color: #378bdd;
}

.imoves-detail-circle{
  border: 8px solid rgba(231, 161, 37, 0.7);
  /* margin: 2px 15% 2px 15%; */
  font-size: 52px;
  text-align: center;
  border-radius: 100px;
  padding: 42px 0 42px 0;
  width: 180px;
  height: 180px;
  display: block;
  margin: 0 auto;
}

.imoves-detail-circle p{
  margin: 0;
  color: #378bdd;
}

.imoves-detail-description{
  padding: 15px 7px 5px 7px;
}

.imoves-btn-confirm{
  background: #92ba15;
  border-color: #6C8C08;
  border-radius: 2px;
  padding: 10px 2px 10px 2px;
  margin-bottom: 10px;
}

.imoves-btn-confirm:hover, .imoves-btn-confirm:active, .imoves-btn-confirm:focus, .imoves-btn-confirm:active:hover{
  background: #6C8C08;
  border-color: #92ba15;
  border-radius: 2px;
  padding: 10px 2px 10px 2px;
  margin-bottom: 10px;
}

.imoves-check2-ok{
  width: 100%;
  height: 5px;
  background: #27ae60;
}

.imoves-check2-w{
  width: 100%;
  height: 5px;
  background: #c0392b;
}

#confirmBox h1, #confirmBox p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #000;
    padding: 0px 25px;
    height: 44px;
    margin-top: 0px;
    line-height: 41px;
    text-shadow: none;
    color: #FFF;
}